<% content_for :title, @page.page_title %>
<% content_for :meta_description, @page.meta_description %>

<div class="container">
    <div class="row" id="contact-page">
        <div class='col-lg-10 lg-offset-1 col-sm-12'>
            <h1><%= @page.title %></h1>
            <%= raw @page.content %>
            <%= form_for @contact_message, url: send_contact_message_p_pages_path, html: { :class => '', method: :post, remote: true } do |f| %>
                <div class='form-check-group'>
                    <%= f.label :name %>
                    <%= f.text_field :name, tabindex: 1 %>
                </div>
                <div class='form-check-group'>
                    <%= f.label :email %>
                    <%= f.text_field :email, tabindex: 2 %>
                </div>
                <div class='form-check-group-full'>
                    <%= f.label :message %>
                    <%= f.text_area :message, cols: 70, rows: 7, tabindex: 4, :class => '' %>
                </div>
                <%= f.submit 'Send Message', tabindex: 5, :class => 'btn green' %>
            <% end %>
        </div>
    </div>
</div>