#notifyMeModal.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "notifyMeModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#notifyMeModalLabel
      %span.light Notify
      Me
  .modal-body
    = form_for notification, html: { method: :post, remote: true, :class => 'remote-form' } do |f|
      %p 
        Please enter your email address and we'll let you know when
        %strong
          = "#{sku.product.name} " 
          = sku_attribute_values(sku, sku.product.single)
        is back in stock!
      .control-group
        = f.label :email, :class => 'control-label hidden shown-ie8'
        .controls
          = f.text_field :email, id: 'inputEmail', :class => 'input-block-level', placeholder: 'Email'
      / FIXME: This is a possible security risk as the user can modify it.
      = f.hidden_field :notifiable_id, value: sku.id
      = f.hidden_field :notifiable_type, value: 'Sku'
      = button_tag(type: 'submit', :class => 'btn btn-primary input-block-level bold higher') do
        SUBMIT