<div aria-hidden="true" aria-labelledby="stockAdjustmentModalLabel" class="modal fade" id="stock-adjustment-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @product, @sku, @stock_adjustment], html: { role: 'form' }, remote: true do |f| %>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <div class="loading5">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
        <div class="loading-overlay"></div>
        <div class="modal-header">
          <h3 id="stockAdjustmentModalLabel">
            Add stock adjustment for 
            <%= @sku.full_sku %>
          </h3>
        </div>
        <div class="modal-body">
          <p class="label label-green">
            Current stock is
            <b>
              <%= @sku.stock_total %>
            </b>
          </p>
          <fieldset class="widget widget-content widget-last">
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_field :description, :class => 'form-control' %>
            </div>
            <div class="form-group form-last">
              <%= f.label :adjustment %>
              <%= f.text_field :adjustment, :class => 'form-control' %>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
          <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>