<tr>
    <td><%= stock_adjustment.created_at.strftime('%d/%m/%Y at %I:%M%p') %></td>
    <td class="fifty"><%= stock_adjustment.description %></td>
    <td><%= stock_adjustment.adjustment %></td>
    <td class="align-left <%= latest_stock_adjustment(stock_adjustment, stock_adjustment.sku) %>"><%= stock_adjustment.stock %></td>
</tr>