.widget-sub-heading
  %h3 Accessories
%fieldset.widget.widget-content
  .row
    .twelvecol
      - if @accessories.empty?
        %p No accessories to select.
      - else
        = f.collection_check_boxes :accessory_ids, @accessories, :id, :name, checked: @product.accessories.map(&:id) do |c|
          .checkbox
            %label
              = c.check_box
              = c.label
.widget-sub-heading
  %h3 Related products
%fieldset.widget.widget-content
  .row
    .twelvecol
      - if @products.where.not(name: @product.name).empty?
        %p No related products to select.
      - else
        = f.collection_check_boxes :related_ids, @products.where.not(name: @product.name), :id, :name, checked: @product.related.map(&:id) do |c|
          .checkbox
            %label
              = c.check_box
              = c.label
