.widget-sub-heading
  %h3 Accessories
%fieldset.widget.widget-form
  .row
    .twelvecol
      - if Accessory.all.empty?
        %p No accessories to select.
      - else
        - Accessory.all.each do |accessory|
          .checkbox
            %label
              = hidden_field_tag "product[accessory_ids][]", ""
              = check_box_tag "product[accessory_ids][]", accessory.id, @product.accessory_ids.include?(accessory.id)
              = accessory.name
.widget-sub-heading
  %h3 Related products
%fieldset.widget.widget-form
  .row
    .twelvecol
      - if Product.all.empty?
        %p No related products to select.
      - else
        - Product.all.each do |related_product|
          - if related_product == @product
            - next
          .checkbox
            %label
              = hidden_field_tag "product[related_ids][]", ""
              = check_box_tag "product[related_ids][]", related_product.id, @product.related_ids.include?(related_product.id)
              = related_product.name
