.widget.widget-green
  .widget-title
    %h3
      %i.icon-file-text
      Basic details
  .widget-content
    .row
      .col-md-6
        .form-group
          = f.label :part_number, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :part_number, :class => 'form-control'
        .form-group
          = f.label :name, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :name, :class => 'form-control col-md-3'
        .form-group
          = f.label :meta_description, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_area :meta_description, :rows => 6, :class => 'form-control'
      .col-md-6
        .form-group
          = f.label :sku, "SKU", :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :sku, :class => 'form-control'
        .form-group
          %label.col-md-3.control-label Featured
          .col-md-9
            .checkbox
              = f.hidden_field :featured, :value => false
              = f.check_box :featured
        .form-group
          = f.label :short_description, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_area :short_description, :rows => 6, :class => 'form-control'
    .row
      .col-md-12
        .form-group
          = f.label :description
          = f.text_area :description, :rows => 6, :class => 'form-control redactor'