.widget-sub-heading
  %h3 Product information
%fieldset.widget.widget-content
  .row
    .twelvecol
      = f.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id ] } ), :prompt => "Please select category..."
  .row
    .fourcol
      .form-group
        = f.label :part_number
        = f.text_field :part_number, :class => 'form-control'
    .fourcol
      .form-group
        = f.label :sku
        = f.text_field :sku, :class => 'form-control'
    .fourcol.last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
  .row
    .fourcol
      .form-group
        = f.label :short_description
        = f.text_field :short_description, :class => 'form-control'
    .fourcol
      .form-group
        = f.label :meta_description
        = f.text_field :meta_description, :class => 'form-control'
    .fourcol.last
      .form-group
        = f.label :weighting
        = f.text_field :weighting, :class => 'form-control'
  .row
    .twelvecol
      .form-group.form-last
        = f.label :description
        = f.text_area :description, :rows => 8, :class => 'form-control'
.widget-sub-heading
  %h3 Product options
%fieldset.widget.widget-content
  .row
    .twelvecol
      .checkbox
        %label
          = f.check_box :featured
          Featured
      .checkbox
        %label
          = f.check_box :single
          Single product