.widget-sub-heading.sku-heading
  %h3 SKUs
  .pull-right
    = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f,:skus,"#sku_fields", 'Add SKU'
.table-responsive
  %table.table.table-striped.table-bordered.table-hover.table-margin
    %thead
      %tr
        %th SKU
        %th Weight
        %th Length
        %th Thickness
        %th Attribute value
        %th Attribute type
        %th Stock
        %th Stock warning level
        %th Cost value
        %th Price
        %th
    %tbody#sku_fields.edit_field
      - @product.skus.active.each do |sku|
        %tr{ :id => "sku_#{sku.id}" }
          %td= "#{sku.product.sku}-#{sku.sku}"
          %td= sku.weight
          %td= sku.length
          %td= sku.thickness
          %td= sku.attribute_value
          %td= sku.attribute_type.name
          %td= sku.stock
          %td= sku.stock_warning_level
          %td= format_currency sku.cost_value
          %td= format_currency sku.price
          = table_commands sku, admin_products_sku_path(sku), edit_admin_products_sku_path(sku), admin_products_sku_path(sku), 1