.widget-sub-heading.attachment-heading
  %h3 Attachments
  .pull-right
    = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :attachments,"#attachment_fields", 'Add attachment'
%fieldset.widget.widget-content.attachment-form
  .row
    .twelvecol
      #attachment_fields.edit-field
        - @product.attachments.each do |attach|
          .attachments.current-file{ :id => "attachment_#{attach.id}", :class => attach.default_record ? 'default' : nil }
            = image_tag attach.file.square, :height => 140, :width => 140
            = link_to admin_products_attachment_path(attach), :method => :delete, :confirm => 'Are you sure?', :remote => true do
              %i.icon-close
          = f.fields_for :attachment, attach do |ff|
            = ff.radio_button :default_record, true, :name => 'attachments_attributes'

