<div class="threecol">
  <h3><%= t('products.form.images.header') %></h3>
  <p><%= t('products.form.images.description') %></p>
  <%= link_to t('products.form.images.add_image'), new_admin_product_attachment_path(product_id: @product.id), id: 'add-image', :class => 'btn btn-green btn-normal' %>
</div>
<div class="ninecol last">
  <fieldset class="widget widget-content" id="attachments">
    <% if @attachments.empty? %>
      <div class="helper-notification">
        <p><%= t('products.form.images.no_records') %></p>
        <i class="icon-images"></i>
      </div>
    <% else %>
      <%= render partial: 'admin/products/attachments/multiple', locals: { attachments: @attachments } %>
    <% end %>
  </fieldset>
</div>