%h1 Listing shippings

%table
  %tr
    %th Name
    %th Price
    %th
    %th
    %th

  - @shippings.each do |shipping|
    %tr
      %td= shipping.name
      %td= shipping.price
      %td= link_to 'Show', shipping
      %td= link_to 'Edit', edit_shipping_path(shipping)
      %td= link_to 'Destroy', shipping, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shipping', new_shipping_path
