%p#notice= notice

%p
  %b Weight:
  = @shipping.weight
%p
  %b Size:
  = @shipping.size
%p
  %b Weight:
  = @shipping.weight_id
%p
  %b Size:
  = @shipping.size_id
%p
  %b Name:
  = @shipping.name
%p
  %b Description:
  = @shipping.description
%p
  %b Price:
  = @shipping.price
%p
  %b Insurance:
  = @shipping.insurance

= link_to 'Edit', edit_shipping_path(@shipping)
\|
= link_to 'Back', shippings_path
