- content_for :title, 'Edit country zone'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Countries', admin_countries_path
- breadcrumb_add 'Zones', admin_countries_zones_path

.eightcol
  .page-header
    %h2.widget.widget-header Edit zone
  = form_for [:admin, :countries, @zone], :html => { :role => 'form' } do |f|
    - if @zone.errors.any?
      #errors
        %ul
          - @zone.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-form.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group.form-last
        = f.label 'Countries'
        - if Country.all.empty?
          %p No zones to select.
        - else
          - Country.all.each do |country|
            .checkbox.blocked
              %label
                = hidden_field_tag "shipping[country_ids][]", ''
                = check_box_tag "shipping[country_ids][]", country.id, @zone.country_ids.include?(country.id)
                = country.name
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue'
.fourcol.last


