- content_for :title, 'Country zones'
- content_for :breadcrumb, 'Country zones'
- content_for :header, 'Country zones'
- content_for :subnav do
  %li= link_to 'Countries', admin_countries_path
  %li.current
    %a.current Zones
  %li= link_to 'Tax rates', admin_countries_tax_rates_path
= link_to new_admin_countries_zone_path, :class => "btn btn-success add_record" do
  %i.icon-plus
  New zone
- if @zones.empty?
  %p You don't have any zones yet.
- else 
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Countries
        %th
    %tbody
      - @zones.each do |zone|
        %tr
          %td= zone.name
          %td
            %ul 
              - zone.countries.each do |country|
                %li
                  = country.name
          %td= boolean_helper category.visible, "Yes", "No"
          = table_commands zone, admin_countries_zone_path(zone), edit_admin_countries_zone_path(zone), admin_countries_zone_path(zone), 1
