.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} tier"
  = form_for [:admin, :shippings, @tier], :html => { :role => 'form' } do |f|
    - if @tier.errors.any?
      #errors
        %ul
          - @tier.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :length_start
        = f.text_field :length_start, :class => 'form-control'
      .form-group
        = f.label :length_end
        = f.text_field :length_end, :class => 'form-control'
      .form-group
        = f.label :weight_start
        = f.text_field :weight_start, :class => 'form-control'
      .form-group
        = f.label :weight_end
        = f.text_field :weight_end, :class => 'form-control'
      .form-group
        = f.label :thickness_start
        = f.text_field :thickness_start, :class => 'form-control'
      .form-group
        = f.label :thickness_end
        = f.text_field :thickness_end, :class => 'form-control'
      .form-group.form-last
        = f.label 'Shipping methods'
        - if @shippings.empty? 
          %p No shipping options to select.
        - else
          = f.collection_check_boxes :shipping_ids, @shippings, :id, :name, checked: @tier.shippings.map(&:id) do |c|
            .checkbox.blocked
              %label
                = c.check_box
                = c.label
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last