.row-fluid
  .col-md-6
    = form_for [:admin, :shippings, @tier], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
      - if @tier.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tier.errors.count, "error")} prohibited this tier from being saved:"
          %ul
            - @tier.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :length_start, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :length_start, :class => 'form-control'
      .form-group
        = f.label :length_end, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :length_end, :class => 'form-control'
      .form-group
        = f.label :weight_start, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :weight_start, :class => 'form-control'
      .form-group
        = f.label :weight_end, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :weight_end, :class => 'form-control'
      .form-group
        = f.label :thickness_start, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :thickness_start, :class => 'form-control'
      .form-group
        = f.label :thickness_end, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :thickness_end, :class => 'form-control'
      .form-group
        %label.col-md-3.control-label Shipping options
        .col-md-9
          - if Shipping.active.all.empty? 
            %p No shipping options to select.
          - else
            - Shipping.active.all.each do |shipping|
              .checkbox
                %label
                = hidden_field_tag "tier[shipping_ids][]", ""
                = check_box_tag "tier[shipping_ids][]", shipping.id, @tier.shipping_ids.include?(shipping.id)
                = shipping.name
                = ' - '
                %b= format_currency shipping.price
      .form-group
        .col-md-offset-3.col-md-9
          = f.submit 'Submit', :class => 'btn btn-primary'