.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} tier"
  = form_for [:admin, :shippings, @tier], :html => { :role => 'form' } do |f|
    - if @tier.errors.any?
      #errors
        %ul
          - @tier.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content
      .form-group
        = f.label :length_start
        = f.text_field :length_start, :class => 'form-control'
      .form-group
        = f.label :length_end
        = f.text_field :length_end, :class => 'form-control'
      .form-group
        = f.label :weight_start
        = f.text_field :weight_start, :class => 'form-control'
      .form-group
        = f.label :weight_end
        = f.text_field :weight_end, :class => 'form-control'
      .form-group
        = f.label :thickness_start
        = f.text_field :thickness_start, :class => 'form-control'
      .form-group
        = f.label :thickness_end
        = f.text_field :thickness_end, :class => 'form-control'
    .widget-sub-heading
      %h3 Shippings
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-form
        %thead
          %tr
            %th Name
            %th Net price
            %th.align-center Select
        %tbody
          = f.collection_check_boxes :shipping_ids, @shippings, :id, :name, checked: @tier.shippings.map(&:id) do |c|
            %tr
              %td= c.label
              %td= Store::Price.new(c.object.price, 'net').format
              %td= c.check_box
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last