- content_for :title, 'Shipping tiers'
- content_for :breadcrumb, 'Shipping tiers'
- content_for :header, 'Shipping tiers'
- content_for :subnav do
  %li= link_to 'Methods', admin_shippings_path
  %li.current
    %a.current Tiers
  %li= link_to 'Zones', admin_shippings_zones_path
  %li= link_to 'Countries', admin_shippings_countries_path
= link_to new_admin_shippings_tier_path, :class => "btn btn-success add_record" do
  %i.icon-plus
  New tier
- if @tiers.empty?
  %p You don't have any tiers yet
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th ID
        %th Length (mm)
        %th Weight (g)
        %th Thickness (mm)
        %th Shipping option(s)
        %th
    %tbody
      - @tiers.each do |tier|
        %tr
          %td= tier.id
          %td 
            = tier.length_start
            = '- '
            = tier.length_end
          %td
            = tier.weight_start
            = ' - '
            = tier.weight_end
          %td
            = tier.thickness_start
            = ' - '
            = tier.thickness_end
          %td
            %ul 
              - tier.shippings.active.each do |shipping|
                %li
                  = shipping.name
                  = ' - '
                  %b= format_currency shipping.price
          = table_commands tier, admin_shippings_tier_path(tier), edit_admin_shippings_tier_path(tier), admin_shippings_tier_path(tier),  1