%p#notice= notice

%p
  %b Length start:
  = @tier.length_start
%p
  %b Length end:
  = @tier.length_end
%p
  %b Weight start:
  = @tier.weight_start
%p
  %b Weight end:
  = @tier.weight_end
%p
  %b Thickness start:
  = @tier.thickness_start
%p
  %b Thickness end:
  = @tier.thickness_end

= link_to 'Edit', edit_tier_path(@tier)
\|
= link_to 'Back', tiers_path
