- content_for :title, 'Edit delivery service price'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Delivery service prices', admin_delivery_service_prices_path

.eightcol
  .page-header
    %h2.widget.widget-header Edit delivery service price
  = form_for [:admin, @form_delivery_service_price], :html => { :role => 'form' } do |f|
    - if @delivery_service_price && @delivery_service_price.errors.any?
      #errors
        %ul
          - @delivery_service_price.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :price
        = f.text_field :price, :class => 'form-control calculate-tax', :autocomplete => 'off'
      .form-group
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 7
    .widget-sub-heading
      %h3 Zones
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-form.table-margin
        %thead
          %tr
            %th Name
            %th.align-center Select
        %tbody
          = f.collection_check_boxes :zone_ids, @zones, :id, :name, checked: @form_delivery_service_price.zones.map(&:id) do |c|
            %tr
              %td= c.label
              %td.align-center= c.check_box
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
