<% content_for :title, t('delivery_service_prices.index.title', service_name: @delivery_service.full_name) %>
<% content_for :breadcrumb, @delivery_service.full_name %>
<% breadcrumb_add t('delivery_service_prices.index.delivery_service_index'), admin_delivery_services_path %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to new_admin_delivery_service_delivery_service_price_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('delivery_service_prices.index.add_tooltip') do %>
      <i class="icon-plus"></i>
    <% end %>
    <h2 class="widget widget-header">
      <%= t('delivery_service_prices.index.header', service_name: @delivery_service.full_name)  %>
    </h2>
  </div>
  <% if @delivery_service_prices.empty? %>
    <div class="widget widget-content">
      <div class="helper-notification">
        <p><%= t('delivery_service_prices.index.no_records', service_name: @delivery_service.full_name) %></p>
        <i class="icon-airplane"></i>
      </div>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th><%= t('delivery_service_prices.index.code') %></th>
            <th><%= t('delivery_service_prices.index.description') %></th>
            <th><%= t('delivery_service_prices.index.weight') %></th>
            <th><%= t('delivery_service_prices.index.length') %></th>
            <th><%= t('delivery_service_prices.index.thickness') %></th>
            <th><%= t('delivery_service_prices.index.net_price') %></th>
            <th><%= t('delivery_service_prices.index.gross_price') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @delivery_service_prices.each do |delivery_price| %>
            <tr>
              <td>
                <%= delivery_price.code %>
              </td>
              <td>
                <%= delivery_price.description %>
              </td>
              <td>
                <%= dimension_range(delivery_price.min_weight, delivery_price.max_weight) %>
              </td>
              <td>
                <%= dimension_range(delivery_price.min_length, delivery_price.max_length) %>
              </td>
              <td>
                <%= dimension_range(delivery_price.min_thickness, delivery_price.max_thickness) %>
              </td>
              <td>
                <%= Store::Price.new(price: delivery_price.price).single %>
              </td>
              <td>
                <%= Store::Price.new(price: delivery_price.price, tax_type: 'gross').single %>
              </td>
              <%= table_actions [:admin, @delivery_service, delivery_price], 'edit', 'delete' %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
