#attachment-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "attachmentModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_for [:admin, @attachment], html: { role: 'form' }, remote: true do |f|
        #errors.json
          %ul
        .modal-header
          %h3#skuModalLabel
            New attachment
        .modal-body
          %fieldset.widget.widget-content.widget-last
            .form-group
              = f.label :file
              = f.file_field :file, :class => 'form-control'
            .checkbox
              %label
                = f.check_box :default_record
                Default
        .modal-footer
          %button.btn.btn-orange.btn-large{"data-dismiss" => "modal", type: "button"} Close
          = f.submit 'Submit', :class => 'btn btn-blue btn-large'