<% attachments.each do |attachment| %>
  <div class="attachments <%= 'default' if attachment.default_record %>" id="attachment-<%= attachment.id %>">
    <%= image_tag attachment.file.square, height: 150, width: 150 %>
    <a href="#" data-product-id="<%= @product.id %>" data-attachment-id="<%= attachment.id %>" class="show-attachment label label-blue">
      <i class="icon-search"></i>
    </a>
    <%= link_to edit_admin_product_attachment_path(product_id: attachment.attachable.id, id: attachment.id), remote: true, :class => "edit-attachment label label-green" do %>
      <i class="icon-pencil"></i>
    <% end %>
    <a href="#" data-url="<%= admin_product_attachment_path(product_id: attachment.attachable.id, id: attachment.id) %>" class="<%= Store.class_name_id(attachment) %>-delete label label-red">
      <i class="icon-remove"></i>
    </a>
  </div>
<% end %>
