<% content_for :title, t('products.stock_adjustments.new.title') %>
<% content_for :breadcrumb, t('products.stock_adjustments.new.breadcrumb') %>
<% breadcrumb_add t('products.stock_adjustments.new.product_index'), admin_products_path %>
<% breadcrumb_add t('products.stock_adjustments.new.stock_management_index'), admin_products_stock_index_path %>

<%= form_for [:admin, Sku.new], url: admin_products_stock_adjustments_path, method: :post, html: { id: 'new_stock_adjustments', role: 'form' } do |f| %>
  <div class="twelvecol">
    <div class="page-header">
      <%= add_stock_adjustment_fields f %>
      <h2 class="widget widget-header"><%= t('products.stock_adjustments.new.header') %></h2>
    </div>
    <div class="twelvecol">
      <div class="json" id="errors">
        <ul></ul>
      </div>
    </div>
    <div class="twelvecol">
      <fieldset class="widget widget-content widget-last">
        <div id="stock-adjustment-fields">
          <%= f.fields_for :stock_adjustments do |builder| %>
            <%= render partial: 'admin/products/stock_adjustments/fields', locals: { f: builder } %>
          <% end %>
        </div>
      </fieldset>
      <div class="form-action">
        <%= f.submit t('products.stock_adjustments.new.submit_button'), :class => 'btn btn-blue btn-large' %>
      </div>
    </div>
</div>
<% end %>
