- content_for :title, 'List invoices'
- content_for :breadcrumb, 'Invoices'
.page-header
  %h1 Listing invoices
  = link_to new_invoice_path, :class => "btn btn-success" do
    %i.icon-plus
    New invoice

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th First name
      %th Last name
      %th Billing address
      %th Delivery address
      %th Email
      %th Date
      %th Invoice number
      %th Order number
      %th Notes
      %th Discount amount
      %th Pay type
      %th Discount type
      %th Shipping
      %th
  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= invoice.first_name
        %td= invoice.last_name
        %td= invoice.billing_address
        %td= invoice.delivery_address
        %td= invoice.email
        %td= invoice.date
        %td= invoice.invoice_number
        %td= invoice.order_number
        %td= invoice.notes
        %td= invoice.discount_amount
        %td= invoice.pay_type
        %td= invoice.discount_type
        %td= invoice.shipping
        %td= table_commands invoice, edit_invoice_path(invoice)
