- content_for :title, "Invoice #{@invoice.invoice_number}"
- content_for :breadcrumb, 'Show'
- breadcrumb_add 'Invoices', invoices_path
%p#notice= notice

%p
  %b First name:
  = @invoice.first_name
%p
  %b Last name:
  = @invoice.last_name
%p
  %b Billing address:
  = @invoice.billing_address
%p
  %b Delivery address:
  = @invoice.delivery_address
%p
  %b Email:
  = @invoice.email
%p
  %b Date:
  = @invoice.created_at
%p
  %b Invoice number:
  = @invoice.invoice_number
%p
  %b Order number:
  = @invoice.order_number
%p
  %b Notes:
  = @invoice.notes
%p
  %b Pay type:
  = @invoice.pay_type
%p
  %b Discount amount:
  = @invoice.discount_value
%p
  %b Discount type:
  = @invoice.discount_type
%p
  %b Shipping method:
  = @invoice.shipping_method
%p
  %b Shipping cost:
  = @invoice.shipping_cost

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
