%h1 Listing dimensions

%table
  %tr
    %th Product ID
    %th Weight
    %th Size
    %th
    %th
    %th

  - @dimensions.each do |dimension|
    %tr
      %td= dimension.product_id
      %td= dimension.weight
      %td= dimension.size
      %td= link_to 'Show', dimension
      %td= link_to 'Edit', edit_dimension_path(dimension)
      %td= link_to 'Destroy', dimension, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dimension', new_dimension_path
