.threecol
.sixcol
  .page-header
    %h2.widget.widget-header Administration login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form' }) do |f|
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :email
        = f.email_field :email, :autofocus => true, :class => "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, :class => "form-control"
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me
            = f.label :remember_me
    .form-action
      %input.btn.btn-blue.btn-large{type: "submit", value: "Login"}/
.threecol.last
