<% content_for :title, 'Stock management' %>
<% content_for :breadcrumb, 'Stock management' %>
<% breadcrumb_add 'Products', admin_products_path %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">Stock management</h2>
  </div>
  <div class="widget-controls">
    <select class="form-select" id="filter-order">
      <option class="filter" data-filter="all">Show all</option>
      <option class="filter" data-filter=".stock-low">Low</option>
    </select>
    <span>Stock:</span>
  </div>
  <% if @skus.empty? %>
    <p>You don't have any Product SKUs yet.</p>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="main-table">
          <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Variant</th>
            <th>Stock</th>
            <th>Stock warning level</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="mixitup">
          <% @skus.each do |sku| %>
            <tr class="<%= 'stock-low' if sku.low_stock? %> mix">
              <td>
                <%= sku.full_sku %>
              </td>
              <td>
                <%= sku.product.name %>
              </td>
              <td>
                <%= render_variants(sku) %>
              </td>
              <td>
                <%= sku.stock %>
              </td>
              <td>
                <%= sku.stock_warning_level %>
              </td>
              <td>
                <%= link_to admin_products_stock_path(sku) do %>
                  <i class="icon-search"></i>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>