<% content_for :title, t('products.stock.show.title') %>
<% content_for :breadcrumb, @sku.full_sku %>
<% breadcrumb_add t('products.stock.show.product_index'), admin_products_path %>
<% breadcrumb_add t('products.stock.show.stock_management_index'), admin_products_stock_index_path %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to new_admin_product_sku_stock_adjustment_path(@sku.product, @sku), remote: true, id: 'add-stock-adjustment-button', :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('products.stock.show.add_stock_adjustment_tooltip') do %>
      <i class="icon-plus"></i>
    <% end %>
    <h2 class="widget widget-header"><%= @sku.full_sku %> <%= t('products.stock.show.header') %></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" id='stock-table'>
      <thead>
        <tr>
          <th><%= t('products.stock.show.date') %></th>
          <th class="fifty"><%= t('products.stock.show.description') %></th>
          <th><%= t('products.stock.show.adjustment') %></th>
          <th><%= t('products.stock.show.stock') %></th>
        </tr>
      </thead>
      <tbody>
        <% @stock_adjustments.each do |adjustment| %>
          <%= render partial: 'admin/products/skus/stock_adjustments/single', format: [:html], locals: { stock_adjustment: adjustment } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="stock-adjustment-modal"></div>