<% content_for :title, 'Stock management' %>
<% content_for :breadcrumb, @sku.full_sku %>
<% breadcrumb_add 'Products', admin_products_path %>
<% breadcrumb_add 'Stock management', admin_products_stock_index_path %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to new_admin_product_sku_stock_level_path(@sku.product, @sku), remote: true, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add stock level" do %>
      <i class="icon-plus"></i>
    <% end %>
    <h2 class="widget widget-header"><%= @sku.full_sku %> stock history</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th class="fifty">Description</th>
          <th>Adjustment</th>
        </tr>
      </thead>
      <tbody>
        <% @sku.stock_levels.where('description IS NOT NULL').each do |stock| %>
          <tr>
            <td>
              <%= stock.created_at.strftime('%d/%m/%Y at %I:%M%p') %>
            </td>
            <td class="fifty">
              <%= stock.description %>
            </td>
            <td class="align-left">
              <%= stock.adjustment %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>