%tr.skus.ajax-fields
  %td
    = f.text_field :code, :class => 'form-control'
  %td
    = f.text_field :weight, :class => 'form-control'
  %td
    = f.text_field :length, :class => 'form-control'
  %td
    = f.text_field :thickness, :class => 'form-control'
  %td
    = f.text_field :attribute_value, :class => 'form-control'
  %td.select
    = f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }), { :include_blank => 'Select...'}, { :class => 'form-control' })
  %td
    = f.text_field :stock, :class => 'form-control'
  %td
    = f.text_field :stock_warning_level, :class => 'form-control'
  %td
    = f.text_field :cost_value, :class => 'form-control'
  %td
    = f.text_field :price, :class => 'form-control'
  %td.triple
    = link_to_remove_fields "<i class='icon-remove'></i>".html_safe, f, "skus"