#sku-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "skuModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_for [:admin, @product, @form_sku], html: { role: 'form' }, remote: true do |f|
        #errors.json
          %ul
        .modal-header
          %h3#skuModalLabel
            = @form_sku.id.nil? ? "New SKU" : "Edit #{@form_sku.full_sku} SKU"
        .modal-body
          %fieldset.widget.widget-content.widget-last
            - if @form_sku.id.nil?
              .form-group
                = f.label :code
                = f.text_field :code, :class => 'form-control'
            .form-group
              = f.label :length
              = f.text_field :length, :class => 'form-control'
            .form-group
              = f.label :weight
              = f.text_field :weight, :class => 'form-control'
            .form-group
              = f.label :thickness
              = f.text_field :thickness, :class => 'form-control'
            .form-group
              = f.label :attribute_value
              = f.text_field :attribute_value, :class => 'form-control'
            .form-group
              = f.label :attribute_type_id
              = f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }, @form_sku.attribute_type_id), { include_blank: 'Select...'}, { :class => 'form-control' })
            - if @form_sku.id.nil?
              .form-group
                = f.label :stock
                = f.text_field :stock, :class => 'form-control'
            .form-group
              = f.label :stock_warning_level
              = f.text_field :stock_warning_level, :class => 'form-control'
            .form-group
              = f.label :cost_value
              = f.text_field :cost_value, :class => 'form-control'
            .form-group.form-last
              = f.label :price
              = f.text_field :price, :class => 'form-control'
        .modal-footer
          %button.btn.btn-orange.btn-large{"data-dismiss" => "modal", type: "button"} Close
          = f.submit 'Submit', :class => 'btn btn-blue btn-large'