<div aria-hidden="true" aria-labelledby="skuModalLabel" class="modal fade" id="sku-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @product, @form_sku], html: { role: 'form' }, remote: true do |f| %>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <div class="modal-header">
          <h3 id="skuModalLabel">
            <%= @form_sku.id.nil? ? "Add SKU" : "Edit #{@form_sku.full_sku} SKU" %>
          </h3>
        </div>
        <div class="modal-body">
          <fieldset class="widget widget-content widget-last">
            <div clas="row">
              <% @product.variant_types.each_with_index do |type, index| %>
                <div class="sixcol <%= index == 0 ? nil : index % 2 ? 'last' : nil %>">
                  <div class="form-group">
                    <label><%= type.name %></label>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div class="twelvecol">
                  <div class="form-group">
                    <label>SKU code</label>
                    <%= f.text_field :code, :class => 'form-control' %>
                  </div>
              </div>  
            </div>
            <div class="row">
              <div class="fourcol">
                <div class="form-group">
                  <%= f.label :length %>
                  <%= f.text_field :length, :class => 'form-control' %>
                </div>
              </div>
              <div class="fourcol">
                <div class="form-group">
                  <%= f.label :weight %>
                  <%= f.text_field :weight, :class => 'form-control' %>
                </div>
              </div>
              <div class="fourcol last">
                <div class="form-group">
                  <%= f.label :thickness %>
                  <%= f.text_field :thickness, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="sixcol">
                  <div class="form-group">
                    <%= f.label :stock %>
                    <%= f.text_field :stock, :class => 'form-control' %>
                  </div>
              </div>
              <div class="sixcol last">
                <div class="form-group">
                  <%= f.label :stock_warning_level %>
                  <%= f.text_field :stock_warning_level, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="sixcol">
                <div class="form-group form-last">
                  <%= f.label :cost_value %>
                  <%= f.text_field :cost_value, :class => 'form-control calculate-tax' %>
                </div>
              </div>
              <div class="sixcol last">
                <div class="form-group form-last">
                  <%= f.label :price %>
                  <%= f.text_field :price, :class => 'form-control calculate-tax' %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
          <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>