#sku-stock-form.modal.fade{"aria-hidden" => "true", style: "display: none;", tabindex: "-1", :role => "dialog", "arial-labelledby" => "stu-stock-formLabel"}
  .modal-dialog
    .modal-content
      .widget.widget-blue
        .widget-title
          %h3
            %i.icon-signal
            Update stock: 
            = "#{@sku.product.sku}-#{@sku.sku}" 
        .widget-content
          .modal-body
            = form_for [:admin, :products, @sku], :html => { :class => 'form-horizontal', :role => 'form', :method => "put" } do |f|
              .form-group
                = f.label :stock, :class => 'control-label col-md-3'
                .col-md-9
                  = f.text_field :stock, :class => 'form-control'
              .form-group
                = f.label :stock_warning_level, :class => 'control-label col-md-3'
                .col-md-9
                  = f.text_field :stock_warning_level, :class => 'form-control'
              .form-group
                .col-md-offset-3.col-md-9
                  = f.submit 'Submit', :class => 'btn btn-primary'
                  %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close