<div id="sku-stock-form" class="modal hide fade" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="blue bigger"><%= @sku.sku %>: Update stock</h4>
  </div>
  <div class="modal-body overflow-visible">
    <div class="row-fluid">
      <div class="span12">
        <%= form_for [:admin, :products, @sku], :html => { :class => 'form-horizontal', :role => 'form', :method => "put" } do |f| %>
          <div class="control-group">
            <%= f.label :stock, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :stock, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :stock_warning_level, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :stock_warning_level, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal">
      <i class="icon-remove"></i>
      Cancel
    </button>
    <%= button_tag(:type => 'submit', :class => 'btn btn-small btn-primary') do %>
        <i class="icon-ok"></i>Submit
      <% end %>
    <% end %>
  </div>
</div>