- content_for :title, 'Edit SKU'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Product SKUs', admin_products_skus_path

.row-fluid
    .col-md-6
        = form_for [:admin, :products, @form_sku], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
            %fieldset
                - if @sku && @sku.errors.any?
                    #error_explanation
                        %h2= "#{pluralize(@sku.errors.count, "error")} prohibited this sku from being saved:"
                        %ul
                            - @sku.errors.full_messages.each do |msg|
                                %li= msg
            .form-group
                = f.label :sku, 'SKU', :class => 'control-label col-md-3'
                .col-md-9
                    .input-group
                        %span.input-group-addon.sku_prefix= "#{@form_sku.product.sku}-"
                        = f.text_field :sku, :class => 'form-control'
            .form-group
                = f.label :weight, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :weight, :class => 'form-control'
            .form-group
                = f.label :length, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :length, :class => 'form-control'
            .form-group
                = f.label :thickness, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :thickness, :class => 'form-control'
            .form-group
                = f.label :cost_value, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :cost_value, :class => 'form-control calculate_tax', :autocomplete => 'off'
            .form-group
                = f.label :price, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :price, :class => 'form-control calculate_tax', :autocomplete => 'off'
            .form-group
                = f.label :attribute_value, :class => 'control-label col-md-3'
                .col-md-9
                    = f.text_field :attribute_value, :class => 'form-control'
            .form-group
                = f.label :attribute_type_id, :class => 'control-label col-md-3'
                .col-md-9
                    - if AttributeType.all.empty?
                        %p No attribute types to select.
                    - else
                        = f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }, @form_sku.attribute_type_id), { :include_blank => 'Please select...'}, { :class => 'form-control' })
            .form-group
                .col-md-offset-3.col-md-9
                    = f.submit 'Submit', :class => 'btn btn-primary'
        
