- content_for :title, 'Edit SKU'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'SKUs', admin_products_skus_path

.page-header
    %h1 
        Editing
        = @form_sku.sku
.row-fluid
    .span-12 
        = form_for [:admin, :products, @form_sku], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
            %fieldset
                - if @sku && @sku.errors.any?
                    #error_explanation
                        %h2= "#{pluralize(@sku.errors.count, "error")} prohibited this sku from being saved:"
                        %ul
                            - @sku.errors.full_messages.each do |msg|
                                %li= msg
            .control-group
                = f.label :weight, :class => 'control-label'
                .controls
                    = f.text_field :weight, :class => 'form-control'
            .control-group
                = f.label :length, :class => 'control-label'
                .controls
                    = f.text_field :length, :class => 'form-control'
            .control-group
                = f.label :thickness, :class => 'control-label'
                .controls
                    = f.text_field :thickness, :class => 'form-control'
            .control-group
                = f.label :cost_value, :class => 'control-label'
                .controls
                    = f.text_field :cost_value, :class => 'form-control'
            .control-group
                = f.label :price, :class => 'control-label'
                .controls
                    = f.text_field :price, :class => 'form-control'
            .control-group
                = f.label :attribute_value, :class => 'control-label'
                .controls
                    = f.text_field :attribute_value, :class => 'form-control'
            .control-group
                = f.label :attribute_type_id, :class => 'control-label'
                .controls
                    - if AttributeType.all.empty?
                        %p No attribute types to select.
                    - else
                        = f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }), { :include_blank => 'Please select...'})
            .form-actions
                = button_tag(:type => 'submit', :class => 'btn btn-info') do
                    %i.icon-ok
                    Submit
        
