- content_for :title, 'List SKUs'
- content_for :breadcrumb, 'SKUs'
.page-header
  %h1 Listing SKUs
- if @skus.empty?
  %p You don't have any SKUs yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th SKU
        %th Product ID
        %th Weight
        %th Length
        %th Thickness
        %th Attribute value
        %th Attribute type
        %th Stock
        %th Stock warning level
        %th Cost value
        %th Price
        %th
    %tbody
      - @skus.each do |sku|
        %tr
          %td= sku.sku
          %td= link_to sku.product_id, [sku.product.category, sku.product]
          %td= sku.weight
          %td= sku.length
          %td= sku.thickness
          %td= sku.attribute_value
          %td= sku.attribute_type.name
          %td= sku.stock
          %td= sku.stock_warning_level
          %td= format_currency sku.cost_value
          %td= format_currency sku.price
          %td= table_commands sku, admin_products_sku_path(sku), edit_admin_products_sku_path(sku), admin_products_sku_path(sku), 3

#sku-stock-modal