<% content_for :title, @product.page_title %>
<% content_for :breadcrumb, @product.name %>
<% content_for :meta_description, @product.meta_description %>

<div class="container">
  <div class="row product">
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-lg-3 col-sm-3 hidden-sm product-thumb">
          <% @product.attachments.each_with_index do |attachment, index| %>
            <%= image_tag attachment.file.small, 'data-src' => attachment.file.large.url, class: ("selected" if index == 0) %>
          <% end %>
        </div>
        <div class="col-lg-9 col-sm-12 col-md-9 product-main">
          <%= image_tag @product.attachments.first.file.large, alt: @product.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 visible-sm hidden-xs hidden-lg hidden-md product-thumb">
          <% @product.attachments.each_with_index do |attachment, index| %>
            <%= image_tag attachment.file.small, 'data-src' => attachment.file.large.url, class: ("selected" if index == 0) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6 content">
      <h1><%= @product.name %></h1>
      <p class="details">
        <%= @product.short_description %>
      </p>

      <h2 id="price"><%= Store::Price.new(price: @skus.first.price).markup %></h2>

      <div class="row hidden-xs">
        <div class="col-lg-4 col-sm-4 property">
          <h3><%= @variant_types.map(&:name).join(' / ') %></h3>
        </div>
        <div class="col-lg-4 col-sm-4 property">
          <h3>Accessory</h3>
        </div>
        <div class="col-lg-4 col-sm-4 property">
          <h3>Quantity</h3>
        </div>
      </div>

      <%= form_for [current_cart, @cart_item], html: { method: :post, remote: true } do |f| %>
        <div class="row options">
          <div class="col-lg-4 col-sm-4">
            <p class="visible-xs">
              <%= @variant_types.map(&:name).join(' / ') %>
            </p>
            <%= f.select :sku_id, options_for_select(@skus.map { |sku| [render_variants(sku), sku.id ] } ), {}, class: 'updated-selected-sku', 'data-product-id' => @product.id %>
          </div>

          <% unless @product.accessories.active.empty? %>
            <div class="col-lg-4 col-sm-4">
              <p class="visible-xs">
                Accessory
              </p>
              <%= f.fields_for @cart_item_accessory do |accessory| %>
                <%= accessory.select :accessory_id, options_for_select(@product.accessories.active.map { |a| [accessory_details(a), a.id]}), { prompt: "No accessory (+£0.00)" }, class: 'updated-selected-accessory', 'data-product-id' => @product.id %>
              <% end %>
            </div>
          <% end %>

          <div class="col-lg-4 col-sm-4">
            <p class="visible-xs">
              Quantity
            </p>
            <strong class="decrease-quantity">-</strong>&nbsp;&nbsp;
            <%= f.text_field :quantity, value: 1, class: 'form-control', id: 'item-quantity' %>
            &nbsp;&nbsp;<strong class="increase-quantity">+</strong>
          </div>
        </div>
        <div id="product-actions">
          <% if @skus.first.in_stock? %>
            <%= render partial: theme_presenter.page_template_path('products/addtocart'), locals: { product: @product } %>
          <% else %>
            <%= render partial: theme_presenter.page_template_path('products/notifyme'), locals: { product: @product, sku: @skus.first } %>
          <% end %>
        </div>
      <% end %>
      <ul id="social">
        <li>
          <a href="#">
            <div class="fb">
              <i class="icon-facebook"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="tw">
              <i class="icon-twitter"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="gp">
              <i class="icon-google-plus"></i>
            </div>
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="innertabs" id="product">
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-sm-12">

          <ul class="nav nav-tabs visible-xs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#product-description">Description</a>
            </li>
          </ul>

          <ul class="nav nav-tabs hidden-xs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#product-description">Description</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="inner-tab-contents">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-sm-12">
        <div class="tab-content" id="myTabContent">
          <div id="product-description" class="tab-pane fade active in">
            <h4>description</h4>

            <p>
              <%= @product.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>