#estimateDeliveryModal.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "estimateDeliveryModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#estimateDeliveryModalLabel
      %span.light Estimate
      Shipping
  = form_for @order, url: estimate_order_build_path, :html => { method: :patch, :remote => true, :class => 'remote-form' } do |f|
    .modal-body
      .control-group
        = f.fields_for :delivery_address do |ff|
          = ff.label :country, :class => 'control-label'
          .controls.update-delivery-service-price
            = ff.select(:country, options_for_select(Country.all.map { |country| [country.name, country.name] }), { :include_blank => 'Please select...'})
      .delivery-service-prices
        .control-group
          = f.label :delivery_id, :class => 'control-label' do
            Shipping options
          .controls
            %p.delivery-service-price-notice Select a country to view the available delivery services.
    .modal-footer
      = f.submit "Submit", :class => 'btn btn-primary higher bold'