<div aria-hidden="true" aria-labelledby="orderModalLabel" class="modal fade" id="order-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @order], html: { role: 'form', method: :patch, id: @order.id }, remote: true, format: :json do |f| %>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <%= render partial: 'shared/loading', format: [:html] %>
        <div class="modal-header">
          <h3 id="orderModalLabel">
            <%= t('orders.edit.modal.header') %>
            <%= "##{@order.id}" %>
          </h3>
        </div>
        <div class="modal-body">
          <fieldset class="widget widget-content widget-last">
            <div class="form-group">
              <%= f.label t('orders.edit.modal.dispatch_date_label') %>
              <%= f.text_field :shipping_date, class: 'form-control datetimepicker', value: (@order.shipping_date.strftime('%d/%m/%Y %R') unless @order.shipping_date.nil?) %>
             </div>
            <div class="form-group form-last">
              <%= f.label t('orders.edit.modal.consignment_number_label') %>
              <%= f.text_field :consignment_number, :class => 'form-control' %>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button"><%= t('modal.close_button') %></button>
          <%= f.submit t('orders.edit.modal.submit_button'), :class => 'btn btn-blue btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
