<div aria-hidden="true" aria-labelledby="orderModalLabel" class="modal fade" id="order-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @order], html: { role: 'form', method: :patch, id: @order.id }, remote: true, format: :json do |f| %>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <%= render partial: 'shared/loading', format: [:html] %>
        <div class="modal-header">
          <h3 id="orderModalLabel">
            Edit Order
            <%= "##{@order.id}" %>
          </h3>
        </div>
        <div class="modal-body">
          <fieldset class="widget widget-content widget-last">
            <div class="form-group">
              <%= f.label :actual_shipping_cost %>
              <div class="form-prefix">
                <span><%= Store::settings.currency %></span>
                <%= f.text_field :actual_shipping_cost, :class => 'form-control' %>
              </div>
            </div>
            <div class="form-group form-last">
              <%= f.label :consignment_number %>
              <%= f.text_field :consignment_number, :class => 'form-control' %>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
          <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
