- content_for :title, 'Orders'
- content_for :breadcrumb, 'Orders'
- javascript 'orders'

.twelvecol
  .page-header
    %h2.widget.widget-header Orders
  - if @orders.empty?
    %p You don't have any orders yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Order no.
            %th PayPal ID
            %th Shipping status
            %th Payment status
            %th Gross amount
            %th Last updated
            %th
        %tbody
          - @orders.each do |order|
            %tr
              %td= link_to order.id, [:admin, order]
              %td= link_to order.transactions.last.paypal_id, "#{Global.paypal.transaction_link}#{order.transactions.last.paypal_id}", :target => '_blank' if order.transactions.last.paypal_id
              %td= shipping_status order.shipping_status
              %td= payment_status order.transactions.last.payment_status
              %td= format_currency order.gross_amount
              %td= order.updated_at.strftime('%d/%m/%Y at %I:%M%p')
              = table_commands order, admin_order_path(order), admin_order_path(order), admin_order_path(order), 2

#shipping-modal
#order-modal