- content_for :title, 'Orders'
- content_for :breadcrumb, 'Orders'
- javascript 'admin/soca.datepicker'

.twelvecol
  .page-header
    %h2.widget.widget-header Orders
  - if @orders.empty?
    %p You don't have any orders yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Order no.
            %th PayPal ID
            %th Shipping status
            %th Payment status
            %th Gross amount
            %th Last updated
            %th
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.id
              %td= link_to(order.transactions.last.paypal_id, "#{Global.paypal.transaction_link}#{order.transactions.last.paypal_id}", :target => '_blank')
              %td= status_label order, order.shipping_status
              %td= status_label order.transactions.last, order.transactions.last.payment_status
              %td= Store::Price.new(order.gross_amount, 'net').single
              %td= order.updated_at.strftime('%d/%m/%Y at %I:%M%p')
              = table_commands order, admin_order_path(order), admin_order_path(order), admin_order_path(order), 2
#order-modal