<% content_for :title, 'List orders'
   content_for :breadcrumb, 'All orders' %>
<div class="page-header">
  <h1>Listing orders</h1>
</div>
<% if @orders.empty? %>
  <p>You don't have any orders yet.</p>
<% else %>
  <p>The orders highlighted in red are missing an <b>actual shipping cost</b> value.</p>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Order no.</th>
        <th>Transaction ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Shipping status</th>
        <th>Payment status</th>
        <th>PayPal Fee</th>
        <th>Total (inc. VAT)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="<% if order.actual_shipping_cost.blank? %>red<% end %>">
          <td><%= order.id %></td>
          <td><%= order.transaction.id %></td>
          <td><%= order.billing_first_name %> <%= order.billing_last_name %></td>
          <td><%= order.email %></td>
          <td><%= shipping_status order.shipping_status %></td>
          <td><%= payment_status order.transaction.payment_status %></td>
          <td><%= format_currency order.transaction.fee unless order.transaction.fee.nil? %></td>
          <td><%= format_currency order.transaction.gross_amount %></td>
          <td><%= table_commands order, admin_order_path(order), edit_admin_order_path(order), admin_order_path(order), 2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div id="shipping-modal"></div>