- content_for :title, "Order ##{@order.id}"
- content_for :breadcrumb, "Order ##{@order.id}"
- breadcrumb_add 'Orders', admin_orders_path

.twelvecol
  .page-header
    %h2.widget.widget-header= "Order ##{@order.id}"
.row
  .fourcol
    .widget-sub-heading
      %h3 Shipping details
    .widget.widget-content
      %ul
        %li
          %i.icon-envelop
          = succeed ":" do
            %b Email
          = @order.email
        %li
          %i.icon-airplane
          = succeed ":" do
            %b Type
          = @order.shipping.name
        %li
          %i.icon-location
          = succeed ":" do
            %b Status
          = shipping_status @order.shipping_status
        %li
          %i.icon-calendar
          = succeed ":" do
            %b Dispatch date
          = @order.shipping_date.strftime(" #{@order.shipping_date.day.ordinalize} %b %Y") unless @order.shipping_date.nil? 
        %li
          %i.icon-coin
          = succeed ":" do
            %b Actual shipping cost
          = format_currency @order.actual_shipping_cost unless @order.actual_shipping_cost.nil?
  .fourcol
    .widget-sub-heading
      %h3 Billing address
    .widget.widget-content
      = @order.bill_address.full_name
      %br/
      = @order.bill_address.address
      %br/
      = @order.bill_address.city
      %br/
      = @order.bill_address.postcode
      %br/
      = @order.bill_address.country
      %br/
      = @order.bill_address.telephone
      %br/
  .fourcol.last
    .widget-sub-heading
      %h3 Shipping address
    .widget.widget-content
      = @order.ship_address.full_name
      %br/
      = @order.ship_address.address
      %br/
      = @order.ship_address.city
      %br/
      = @order.ship_address.postcode
      %br/
      = @order.ship_address.country
      %br/
      = @order.ship_address.telephone
      %br/
.row
  .twelvecol
    .widget-sub-heading
      %h3 Order items
    %table.table.table-striped.table-bordered.table-hover.table-margin
      %thead
        %tr
          %th Item
          %th SKU
          %th Item price
          %th Qty
          %th Total
      %tbody
        - @order.order_items.each do |item|
          %tr
            %td
              = link_to item.sku.product.name, [item.sku.product.category, item.sku.product]
              .item-sub= sku_attribute_values item.sku, item.sku.product.single
              - unless item.order_item_accessory.nil?
                .item-sub.label.label-blue= "<i class='icon-code-fork'></i> #{item.order_item_accessory.accessory.name}".html_safe
            %td= "#{item.sku.product.sku}-#{item.sku.sku}"
            %td= format_currency item.price
            %td= item.quantity
            %td= format_currency item.total_price
        %tr
          %td
            = @order.shipping.name
            .item-sub= @order.ship_address.country
          %td -
          %td= format_currency @order.shipping.price
          %td 1
          %td= format_currency @order.shipping.price
        %tr
          %td.align-right.border-top{colspan: "4"}
            %b Subtotal:
          %td.border-top= format_currency @order.net_amount
        %tr
          %td.align-right{colspan: "4"}
            %b Tax:
          %td= format_currency @order.tax_amount
        %tr.focused
          %td.align-right{colspan: "4"}
            %b Total:
          %td= format_currency @order.gross_amount
    .widget-sub-heading
      %h3 Transactions
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Transaction Type
          %th Payment type
          %th PayPal ID
          %th Payment status
          %th Fee
          %th Net amount
          %th Gross amount
          %th Last updated
          %th
      %tbody
        - @order.transactions.each do |transaction|
          %tr{:id => "transaction_#{transaction.id}" }
            %td= transaction.transaction_type
            %td= transaction.payment_type 
            %td= link_to transaction.paypal_id, "#{Global.paypal.transaction_link}#{transaction.paypal_id}", :target => '_blank' if transaction.paypal_id
            %td= payment_status transaction.payment_status
            %td= format_currency transaction.fee
            %td= format_currency transaction.net_amount
            %td= format_currency transaction.gross_amount
            %td.align-left= transaction.updated_at.strftime('%B %-d, %Y, %I:%M %P')
            - if transaction.payment_status == 'Pending' && transaction.payment_type != 'express-checkout'
              = table_commands transaction, nil, nil, nil, 3
#transaction-modal
