<% content_for :title, "Order ##{@order.id}" %>
<% content_for :breadcrumb, "##{@order.id}" %>
<% breadcrumb_add 'Orders', admin_orders_path %>
<% javascript :footer, 'admin/soca.datepicker' %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to cancel_admin_order_path(@order), :class => "btn btn-red btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Cancel Order", method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="icon-close"></i>
    <% end %>
    <a href="#" data-record-id="<%= @order.id %>" class="edit-order-record btn btn-blue btn-large" data-placement="bottom" data-toggle="tooltip" title="Edit Order">
      <i class="icon-pencil"></i>
    </a>
    <%= page_header_button(@order) if Modulatron4000.pdf_invoice? %>
    <h2 class="widget widget-header">
      <%= "Order ##{@order.id}" %>
    </h2>
  </div>
</div>
<div class="row order-summary-row">
  <div class="sixcol">
    <div class="widget-sub-heading">
      <h3>Delivery Details</h3>
    </div>
    <div class="widget widget-content" id="delivery-details">
      <div id="email"> 
        <p><b>Email</b>: <%= @order.email %></p>
      </div>
      <div id="delivery-status">
        <p><b>Status</b>: <%= status_label @order, @order.shipping_status %></p>
      </div>
      <div id="dispatch-date">
        <p><b>Dispatch Date</b>: <span><%= @order.shipping_date.present? ? @order.shipping_date.strftime(" #{@order.shipping_date.day.ordinalize} %b %Y") : "None Available"   %></span></p>
      </div>
      <div>
        <p><b>Delivery Option:</b> <%= @order.delivery.full_name %></p>
      </div>
      <div id="tracking">
        <%= render partial: 'admin/orders/tracking', format: :html, locals: { order: @order } %>
      </div>
      </ul>
    </div>
  </div>
  <div class="sixcol last">
    <div class="widget-sub-heading">
      <h3>Payment Details</h3>
    </div>
    <div class="widget widget-content">
      <%= image_tag "paypal-icon.png" if Modulatron4000.paypal? && @order.paypal? %>
      <%= stripe_admin_credit_card_data(@order) if Modulatron4000.stripe? && @order.stripe? %>
    </div>
  </div>
</div>
<div class="row order-summary-row">
  <div class="sixcol">
    <div class="widget-sub-heading">
      <h3>Billing Address</h3>
    </div>
    <div class="widget widget-content" id="billing-address">
      <%= @order.billing_address.full_name %>
      <br/>
      <%= @order.billing_address.address %>
      <br/>
      <%= @order.billing_address.city %>
      <br/>
      <%= @order.billing_address.postcode %>
      <br/>
      <%= @order.billing_address.country.name %>
      <br/>
      <br/>
      <%= @order.billing_address.telephone %>
      <br/>
    </div>
  </div>
  <div class="sixcol last">
    <div class="widget-sub-heading">
      <h3>Delivery Address</h3>
    </div>
    <div class="widget widget-content" id="delivery-address">
      <%= @order.delivery_address.full_name %>
      <br/>
      <%= @order.delivery_address.address %>
      <br/>
      <%= @order.delivery_address.city %>
      <br/>
      <%= @order.delivery_address.postcode %>
      <br/>
      <%= @order.delivery_address.country.name %>
      <br/>
      <br/>
      <%= @order.delivery_address.telephone %>
      <br/>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelvecol">
    <div class="widget-sub-heading">
      <h3>Order items</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-margin">
        <thead>
          <tr>
            <th>Item</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <td>
                <%= link_to item.sku.product.name, [item.sku.product.category, item.sku.product] %>
                <div class="item-sub">
                  <%= render_variants(item.sku) unless item.sku.product.single? %>
                </div>
                <% unless item.order_item_accessory.nil? %>
                  <div class="item-sub label label-blue">
                    <%= "<i class='icon-code-fork'></i> #{item.order_item_accessory.accessory.name}".html_safe %>
                  </div>
                <% end %>
              </td>
              <td>
                <%= item.sku.full_sku %>
              </td>
              <td>
                <%= Store::Price.new(price: item.price).single %>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                <%= Store::Price.new(price: item.total_price).single %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td class="align-right" colspan="4">
              <b>Delivery:</b>
            </td>
            <td>
              <%= Store::Price.new(price: @order.delivery.price).single %>
            </td>
          </tr>
          <tr>
            <td class="align-right border-top" colspan="4">
              <b>Subtotal:</b>
            </td>
            <td class="border-top">
              <%= Store::Price.new(price: @order.net_amount).single %>
            </td>
          </tr>
          <tr>
            <td class="align-right" colspan="4">
              <b>Tax:</b>
            </td>
            <td>
              <%= Store::Price.new(price: @order.tax_amount).single %>
            </td>
          </tr>
          <tr class="focused">
            <td class="align-right" colspan="4">
              <b>Total:</b>
            </td>
            <td>
              <%= Store::Price.new(price: @order.gross_amount).single %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="widget-sub-heading">
      <h3>Transactions</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-last">
        <thead>
          <tr>
            <th>Transaction Type</th>
            <th>Payment Type</th>
            <th>Payment Status</th>
            <th>Fee</th>
            <th>Net Amount</th>
            <th>Gross Amount</th>
            <th>Last Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.transactions.each do |transaction| %>
            <tr id="transaction_<%= transaction.id %>">
              <td>
                <%= transaction.transaction_type %>
              </td>
              <td>
                <%= transaction.payment_type.titleize %>
              </td>
              <td>
                <%= status_label transaction, transaction.payment_status %>
              </td>
              <td>
                <%= Store::Price.new(price: transaction.fee).single %>
              </td>
              <td>
                <%= Store::Price.new(price: transaction.net_amount).single %>
              </td>
              <td>
                <%= Store::Price.new(price: transaction.gross_amount).single %>
              </td>
              <td>
                <%= transaction.updated_at.strftime('%B %-d, %Y, %I:%M %P') %>
              </td>
              <td>
                <a href="#" class="transaction-info-modal" data-record-id="<%= transaction.id %>">
                  <i class="icon-search"></i>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="transaction-modal"></div>
<div id="order-modal"></div>
