.row-fluid
  .col-md-6
    = form_for [:admin, @accessory], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
        - if @accessory.errors.any?
          #error_explanation
            %h4= "#{pluralize(@accessory.errors.count, "error")} prohibited this accessory from being saved:"
            %ul
              - @accessory.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :part_number, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :part_number, :class => 'form-control'
        .form-group
          = f.label :name, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :name, :class => 'form-control'
        = f.fields_for :sku do |ff|
          .form-group
            = ff.label :sku, 'SKU', :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :sku, :class => 'form-control'
          .form-group
            = ff.label :weight, 'Weight (kg)', :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :weight, :class => 'form-control'
          .form-group
            = ff.label :length, 'Length (mm)', :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :length, :class => 'form-control'
          .form-group
            = ff.label :thickness, 'Thickness (mm)', :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :thickness, :class => 'form-control'
          .form-group
            = ff.label :cost_value, :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :cost_value, :class => 'form-control'
          .form-group
            = ff.label :price, :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :price, :class => 'form-control'
          .form-group
            = ff.label :stock, :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :stock, :class => 'form-control'
          .form-group
            = ff.label :stock_warning_level, :class => 'control-label col-md-3'
            .col-md-9
              = ff.text_field :stock_warning_level, :class => 'form-control'
          / FIXME: Only temporary. Improved solution required.
          = ff.hidden_field :attribute_value, :value => 'Accessory'
          = ff.hidden_field :attribute_type_id, :value => 7
        .form-group
          .col-md-offset-3.col-md-9
            = f.submit 'Submit', :class => 'btn btn-primary'
        
