<div class="threecol">
  <h3><%= t('accessories.form.accessory_detail.header') %></h3>
  <p><%= t('accessories.form.accessory_detail.description') %></p>
</div>
<div class="ninecol last">
  <fieldset class="widget widget-content">
    <div class="form-group">
      <%= f.label t('accessories.form.accessory_detail.name_label') %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label t('accessories.form.accessory_detail.part_number_label') %>
      <%= f.text_field :part_number, :class => 'form-control' %>
    </div>
  </fieldset>
</div>
<div class="threecol">
  <h3><%= t('accessories.form.weight_price.header') %></h3>
  <p><%= t('accessories.form.weight_price.description') %></p>
</div>
<div class="ninecol last">
  <fieldset class="widget widget-content widget-last">
    <div class="form-group">
      <%= f.label t('accessories.form.weight_price.weight_label') %>
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label t('accessories.form.weight_price.cost_value_label')%>
      <div class="form-prefix">
        <span><%= Store.settings.currency_symbol %></span>
        <%= f.text_field :cost_value, :class => 'form-control calculate-tax', autocomplete: 'off' %>
      </div>
    </div>
    <div class="form-group form-last">
      <%= f.label t('accessories.form.weight_price.net_price_label') %>
      <div class="form-prefix">
        <span><%= Store.settings.currency_symbol %></span>
        <%= f.text_field :price, :class => 'form-control calculate-tax', autocomplete: 'off' %>
      </div>
    </div>
  </fieldset>
  <div class="form-action">
    <%= f.submit t('accessories.form.submit_button'), :class => 'btn btn-blue btn-large' %>
  </div>
</div>
