- content_for :title, 'Accessories'
- content_for :breadcrumb, 'Accessories'

.twelvecol
  .page-header
    = link_to new_admin_accessory_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add accessory" do
      %i.icon-plus
    %h2.widget.widget-header Accessories
  - if @accessories.empty?
    %p You don't have any accessories yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Part no.
            %th Name
            %th Weight (g)
            %th Cost value
            %th Net price
            %th Gross price
            %th
        %tbody
          - @accessories.each do |accessory|
            %tr
              %td= accessory.part_number
              %td= accessory.name
              %td= accessory.weight
              %td= Store::Price.new(price: accessory.cost_value, tax_type: 'net').single
              %td= Store::Price.new(price: accessory.price, tax_type: 'net').single
              %td= Store::Price.new(price: accessory.price, tax_type: 'gross').single
              = table_actions [:admin, accessory], 'edit', 'delete'
