- content_for :title, 'New accessory'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Accessories', admin_accessories_path
- content_for :header, 'New accessory'
- content_for :hide_sub_navigation, 'hide_subnav'

.row-fluid
  .col-md-6
    = form_for [:admin, @accessory], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
        - if @accessory.errors.any?
          #error_explanation
            %h4= "#{pluralize(@accessory.errors.count, "error")} prohibited this accessory from being saved:"
            %ul
              - @accessory.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :part_number, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :part_number, :class => 'form-control'
        .form-group
          = f.label :name, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :name, :class => 'form-control'
        .form-group
          = f.label :weight, 'Weight (kg)', :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :weight, :class => 'form-control'
        .form-group
          = f.label :cost_value, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :cost_value, :class => 'form-control'
        .form-group
          = f.label :price, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :price, :class => 'form-control'
        .form-group
          .col-md-offset-3.col-md-9
            = f.submit 'Submit', :class => 'btn btn-primary'
        

