<% content_for :title, 'Checkout' %>

<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>Checkout</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <%= form_for @order, url: paypal_confirm_carts_path, html: { method: :post } do |f| %>
        <h2 class="checkout-header visible-xs">Checkout</h2>
        <div class='col-lg-8 col-sm-8'>
            <h3>DELIVERY ADDRESS</h3>
            <%= f.fields_for :delivery_address do |delivery| %>
              <div class='form-check-group'>
                <%= delivery.label :first_name %>
                <%= delivery.text_field :first_name %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label :last_name %>
                <%= delivery.text_field :last_name %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label :telephone %>
                <%= delivery.text_field :telephone %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label :address %>
                <%= delivery.text_field :address %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label :city %>
                <%= delivery.text_field :city %>
              </div>
              <div class='form-check-group-half'>
                <%= delivery.label :postcode %>
                <%= delivery.text_field :postcode %>
              </div>
              <div class='form-check-group-half'>
                <%= delivery.label :postcode %>
                <%= delivery.select(:country, options_for_select(Country.all.map { |country| [country.name, country.name] }, @cart_session[:country]), { include_blank: 'Please select...'}) %>
              </div>
            <% end %>
            <h3>PAYMENT DETAILS</h3>
            <%= f.fields_for :billing_address do |billing| %>
              <div class='form-check-group'>
                <%= billing.label :first_name %>
                <%= billing.text_field :first_name %>
              </div>
              <div class='form-check-group'>
                <%= billing.label :first_name %>
                <%= billing.text_field :first_name %>
              </div>
              <div class="payment-choices">
                <div>
                  <%= paypal_form_tag if paypal_active? %>
                </div>
              </div>
              <h3>BILLING ADDRESS</h3>
              <div class='form-check-group-full'>
                <input id='use-delivery-address' name='use-delivery' type='checkbox' value='1'>
                <span>Use my Shipping Address</span>
              </div>
              <div class='form-check-group'>
                <%= billing.label :telephone %>
                <%= billing.text_field :telephone %>
              </div>
              <div class='form-check-group'>
                <%= billing.label :address %>
                <%= billing.text_field :address %>
              </div>
              <div class='form-check-group'>
                <%= billing.label :city %>
                <%= billing.text_field :city %>
              </div>
              <div class='form-check-group-half'>
                <%= billing.label :postcode %>
                <%= billing.text_field :postcode %>
              </div>
              <div class='form-check-group-half'>
                <%= billing.label :postcode %>
                <%= billing.select(:country, options_for_select(Country.all.map { |country| [country.name, country.name] }, @cart_session[:country]), { include_blank: 'Please select...'}) %>
              </div>
            <% end %>
        </div>
        <h2 class='checkout-header visible-xs'>Order Summary</h2>
        <div class='col-lg-4 col-sm-4 order-summary'>
          <div id="cart-checkout-container" class="scroller">
            <table id="cart-checkout">
              <tbody>
                <% current_cart.cart_items.each do |item| %>
                  <tr>
                    <td>
                      <table class="single-product">
                        <tbody>
                          <tr>
                            <td>
                              <table class="product-details">
                                <tbody>
                                  <tr>
                                    <td><%= image_tag item.sku.product.attachments.first.file.square %></td>
                                    <td>
                                      <table class="product-information">
                                        <tbody>
                                          <tr>
                                            <td>
                                              <h3><%= item.sku.product.name %></h3>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><%= render_variants(item.sku) %></td>
                                          </tr>
                                          <% if item.cart_item_accessory.present? %>
                                            <tr>
                                              <td><%= item.cart_item_accessory.accessory.name %></td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          <tr>
                            <td>
                              <table class="product-specifics">
                                <tbody>
                                  <tr>
                                    <td>Quantity</td>
                                    <td><%= item.quantity %></td>
                                  </tr>
                                  <tr>
                                    <td>Unit Price</td>
                                    <td id="price"><%= Store::Price.new(price: item.total_price).single %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="cart-navigation">
            <span>More items</span>
            <i class="icon-arrow-up-2"></i>
            <i class="icon-arrow-down-2"></i>
          </div>
          <div id='checkout-calculation'>
            <hr>
            <div id="checkout-breakdown">
              <div>
                <span>SUB-TOTAL:</span>
                <span>DELIVERY:</span>
                <span>TAX:</span>
              </div>
              <div>
                <span><%= Store::Price.new(price: @cart_totals[:net]).single %></span>
                <span><%= Store::Price.new(price: @cart_totals[:delivery]).single %></span>
                <span><%= Store::Price.new(price: @cart_totals[:tax]).single %></span>
              </div>
            </div>
            <hr>
            <div id="checkout-total">
              <div>
                <strong>ORDER TOTAL:</strong>
              </div>
              <div>
                <strong><%= Store::Price.new(price: @cart_totals[:gross]).single %></strong>
              </div>
            </div>
            <hr>
          </div>
          <div class='form-check-group-full'>
            <%= f.check_box :terms, checked: false %>
            <span>Tick this box to acknowledge that you have read and agree with our terms and conditions.</span>
          </div>
          <%= f.submit 'PLACE ORDER', class: 'btn green checkout-button' %>
          <div id='checkout-secure'>
            <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
            <span class='text-shipping'>SECURE CHECKOUT</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> 