<% content_for :title, 'Checkout' %>

<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>Checkout</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <h2 class="checkout-header visible-xs">Checkout</h2>
      <div class='col-lg-8 col-sm-8'>
        <form accept-charset="UTF-8" action="#" class="new_order" id="new_order" method="post">
          <h3>DELIVERY ADDRESS</h3>
          <div class='form-check-group'>
            <label>First Name</label>
            <input id="shipping_firstname" name="order[shipping][first_name]" type="text" value="Tom" />
          </div>
          <div class='form-check-group'>
            <label>Last Name</label>
            <input id="shipping_lastname" name="order[shipping][last_name]" type="text" value="Dallimore" />
          </div>
          <div class='form-check-group'>
            <label>Telephone</label>
            <input id="shipping_telephone" name="order[shipping][telephone]" type="text" value="0394323829" class="copy-billing" data-field-name="telephone"/>
          </div>
          <div class='form-check-group'>
            <label>Address</label>
            <input id="shipping_address" name="order[shipping][street_address]" type="text" value="1 Union Building" class="copy-billing" data-field-name="address" />
          </div>
          <div class='form-check-group'>
            <label>City</label>
            <input id="shipping_city" name="order[shipping][city]" type="text" value="Chicago" class="copy-billing" data-field-name="city" />
          </div>
          <div class='form-check-group-half'>
            <label>Zip</label>
            <input id="shipping_zip" name="order[shipping][zip]" type="text" value="hwudqowi" class="copy-billing" data-field-name="zip" />
          </div>
          <div class='form-check-group-half'>
            <label>Country</label>
            <select id="shipping_country" name="order[shipping][country]">
              <option value=""></option>
              <option value="AU">Australia</option>
              <option value="CA">Canada</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="GR">Greece</option>
              <option value="IE">Ireland</option>
              <option value="IT">Italy</option>
              <option value="JP">Japan</option>
              <option value="NZ">New Zealand</option>
              <option value="PT">Portugal</option>
              <option value="RU">Russia</option>
              <option value="ES">Spain</option>
              <option value="NL">Netherlands</option>
              <option value="GB">United Kingdom</option>
              <option selected="selected" value="US">United States of America</option>
              <option disabled="disabled" value="---------------">---------------</option>
              <option value="AF">Afghanistan</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorre</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbade</option>
              <option value="BY">Belarus</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="VG">British Virgin Islands</option>
              <option value="BN">Brunei</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CA">Canada</option>
              <option value="CV">Cape Verde</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Republic</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CD">Congo (Dem. Rep.)</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="ME">Crna Gora</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curaçao</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="CI">Côte D&#39;Ivoire</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="TL">East Timor</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey and Alderney</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HM">Heard and McDonald Islands</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korea (North)</option>
              <option value="KR">Korea (South)</option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Laos</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MY">Malaysia</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MU">Mauritius</option>
              <option value="YT">Mayotte</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia</option>
              <option value="MD">Moldova</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Myanmar</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestine</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RO">Romania</option>
              <option value="RU">Russia</option>
              <option value="RW">Rwanda</option>
              <option value="RE">Réunion</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="SH">Saint Helena</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Samoa</option>
              <option value="SM">San Marino</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="RS">Serbia</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten</option>
              <option value="SK">Slovakia</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SZ">Swaziland</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syria</option>
              <option value="ST">São Tomé and Príncipe</option>
              <option value="TW">Taiwan</option>
              <option value="TJ">Tajikistan</option>
              <option value="TZ">Tanzania</option>
              <option value="TH">Thailand</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Turkey</option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="US">United States of America</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VA">Vatican City</option>
              <option value="VE">Venezuela</option>
              <option value="VN">Vietnam</option>
              <option value="VI">Virgin Islands of the United States</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
              <option value="AX">Åland Islands</option>
            </select>
          </div>
          <h3>PAYMENT DETAILS</h3>
          <div class='form-check-group'>
            <label>First Name</label>
            <input id='firstname' name='payment[first_name]' type='text' value='Tom'>
          </div>
          <div class='form-check-group'>
              <label>Last Name</label>
              <input id='lastname' name='payment[last_name]' type='text' value='Dallimore'>
          </div>
          <div class="payment-choices">
            <div>
              <input checked="" class="pay-method" name="pay_method" type="radio" value="express-checkout">
              <img alt="Paypal" src="img/paypal-icon.png">
            </div>
          </div>
          <h3>BILLING ADDRESS</h3>
          <div class='form-check-group-full'>
            <input id='use-delivery-address' name='use-delivery' type='checkbox' value='1'>
            <span>Use my Shipping Address</span>
          </div>
          <div class='form-check-group'>
            <label>Telephone</label>
            <input id="billing_telephone" name="order[billing][telephone]" type="text" value="027313289" data-field-name="billing-telephone" />
          </div>
          <div class='form-check-group'>
            <label>Address</label>
            <input id="billing_address" name="order[billing][address]" type="text" value="1 Union Building" data-field-name="billing-address" />
          </div>
          <div class='form-check-group'>
            <label>City</label>
            <input id="billing_city" name="order[billing][city]" required="required" type="text" value="Chicago" data-field-name="billing-city" />
          </div>
          <div class='form-check-group-half'>
            <label>Zip</label>
            <input id="billing_zip" name="order[billing][zip]" required="required" type="text" value="hwudqowi" data-field-name="billing-zip" />
          </div>
          <div class='form-check-group-half'>
            <label>Country</label>
            <select id="billing_country" name="order[billing][country]" required="required">
              <option value=""></option>
              <option value="AU">Australia</option>
              <option value="CA">Canada</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="GR">Greece</option>
              <option value="IE">Ireland</option>
              <option value="IT">Italy</option>
              <option value="JP">Japan</option>
              <option value="NZ">New Zealand</option>
              <option value="PT">Portugal</option>
              <option value="RU">Russia</option>
              <option value="ES">Spain</option>
              <option value="NL">Netherlands</option>
              <option value="GB">United Kingdom</option>
              <option selected="selected" value="US">United States of America</option>
              <option disabled="disabled" value="---------------">---------------</option>
              <option value="AF">Afghanistan</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorre</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbade</option>
              <option value="BY">Belarus</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="VG">British Virgin Islands</option>
              <option value="BN">Brunei</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CA">Canada</option>
              <option value="CV">Cape Verde</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Republic</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CD">Congo (Dem. Rep.)</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="ME">Crna Gora</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curaçao</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="CI">Côte D&#39;Ivoire</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="TL">East Timor</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey and Alderney</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HM">Heard and McDonald Islands</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korea (North)</option>
              <option value="KR">Korea (South)</option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Laos</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MY">Malaysia</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MU">Mauritius</option>
              <option value="YT">Mayotte</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia</option>
              <option value="MD">Moldova</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Myanmar</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestine</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RO">Romania</option>
              <option value="RU">Russia</option>
              <option value="RW">Rwanda</option>
              <option value="RE">Réunion</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="SH">Saint Helena</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Samoa</option>
              <option value="SM">San Marino</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="RS">Serbia</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten</option>
              <option value="SK">Slovakia</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SZ">Swaziland</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syria</option>
              <option value="ST">São Tomé and Príncipe</option>
              <option value="TW">Taiwan</option>
              <option value="TJ">Tajikistan</option>
              <option value="TZ">Tanzania</option>
              <option value="TH">Thailand</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Turkey</option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="US">United States of America</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VA">Vatican City</option>
              <option value="VE">Venezuela</option>
              <option value="VN">Vietnam</option>
              <option value="VI">Virgin Islands of the United States</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
              <option value="AX">Åland Islands</option>
            </select>
          </div>
        </form>
      </div>
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4 order-summary'>
        <div id="cart-checkout-container" class="scroller">
          <table id="cart-checkout">
            <tbody>
              <tr>
                <td>
                  <table class="single-product">
                    <tbody>
                      <tr>
                        <td>
                          <table class="product-details">
                            <tbody>
                              <tr>
                                <td><img src="img/pfolio-3.png"></td>
                                <td>
                                  <table class="product-information">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <h3>Gitman Casual Shirt</h3>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Size: S</td>
                                      </tr>
                                      <tr>
                                        <td>Color : Brown</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      <tr>
                        <td>
                          <table class="product-specifics">
                            <tbody>
                              <tr>
                                <td>Quantity</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>Unit Price</td>
                                <td id="price">£139</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="single-product">
                    <tbody>
                      <tr>
                        <td>
                          <table class="product-details">
                            <tbody>
                              <tr>
                                <td><img src="img/pfolio-3.png"></td>
                                <td>
                                  <table class="product-information">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <h3>Gitman Casual Shirt</h3>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Size: S</td>
                                      </tr>
                                      <tr>
                                        <td>Color : Brown</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      <tr>
                        <td>
                          <table class="product-specifics">
                            <tbody>
                              <tr>
                                <td>Quantity</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>Unit Price</td>
                                <td id="price">£139</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="single-product">
                    <tbody>
                      <tr>
                        <td>
                          <table class="product-details">
                            <tbody>
                              <tr>
                                <td><img src="img/pfolio-3.png"></td>
                                <td>
                                  <table class="product-information">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <h3>Gitman Casual Shirt</h3>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Size: S</td>
                                      </tr>
                                      <tr>
                                        <td>Color : Brown</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      <tr>
                        <td>
                          <table class="product-specifics">
                            <tbody>
                              <tr>
                                <td>Quantity</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>Unit Price</td>
                                <td id="price">£139</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="cart-navigation">
          <span>More items</span>
          <i class="icon-arrow-up-2"></i>
          <i class="icon-arrow-down-2"></i>
        </div>
        <form>
          <div id='checkout-calculation'>
            <hr>
            <div id="checkout-breakdown">
              <div>
                <span>SUB-TOTAL:</span>
                <span>DELIVERY:</span>
                <span>TAX:</span>
              </div>
              <div>
                <span><%= Store::Price.new(price: @cart_session[:total][:net]).single %></span>
                <span><%= Store::Price.new(price: @cart_session[:total][:delivery]).single %></span>
                <span><%= Store::Price.new(price: @cart_session[:total][:tax]).single %></span>
              </div>
            </div>
            <hr>
            <div id="checkout-total">
              <div>
                <strong>ORDER TOTAL:</strong>
              </div>
              <div>
                <strong><%= Store::Price.new(price: @cart_session[:total][:gross]).single %></strong>
              </div>
            </div>
            <hr>
          </div>
          <div class='form-check-group-full'>
            <input id='use_shipping_address' name='use_shipping' type='checkbox' value='1'>
            <span>Tick this box to acknowledge that you have read and agree with our terms and conditions.</span>
          </div>
          <input class='btn green checkout-button' type='submit' value='PLACE ORDER'>
          <div id='checkout-secure'>
            <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
            <span class='text-shipping'>SECURE CHECKOUT</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 