<% content_for :title, 'Checkout' %>

<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>Checkout</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <%= form_for @order, url: paypal_confirm_carts_path, html: { method: :post } do |f| %>
        <h2 class="checkout-header visible-xs">Checkout</h2>
        <div class='col-lg-8 col-sm-8 checkout-body'>
            <% unless @order.errors.empty? %>
              <div class="errors">
                <p>Please complete all of the required fields</p>
              </div>
            <% end %>
            <h3>DELIVERY ADDRESS</h3>
            <%= f.fields_for :delivery_address do |delivery| %>
              <div class='form-check-group'>
                <%= delivery.label 'First name *' %>
                <%= delivery.text_field :first_name %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label 'Last name *' %>
                <%= delivery.text_field :last_name %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label :telephone %>
                <%= delivery.text_field :telephone, 'data-field-name' => 'telephone', class: 'copy-delivery' %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label 'Address *' %>
                <%= delivery.text_field :address, 'data-field-name' => 'address', class: 'copy-delivery' %>
              </div>
              <div class='form-check-group'>
                <%= delivery.label 'City *' %>
                <%= delivery.text_field :city, 'data-field-name' => 'city', class: 'copy-delivery' %>
              </div>
              <div class='form-check-group-half'>
                <%= delivery.label 'Postcode/Zip *' %>
                <%= delivery.text_field :postcode, 'data-field-name' => 'postcode', class: 'copy-delivery' %>
              </div>
              <div class='form-check-group-half'>
                <%= delivery.label 'Country *' %>
                <%= delivery.select(:country, grouped_options_for_select(@grouped_countries, @cart_session[:country], divider: '-----------------'), { include_blank: 'Please select...'}, 'data-field-name' => 'country', class: 'copy-delivery update-delivery-service-price') %>
              </div>
            <h3>DELIVERY SERVICE</h3>
            <div id="delivery-services">
              <%= errors_for @order, :delivery_id %>
              <p>Please select a delivery country in order to view a list of available delivery services...</p>
            </div>
            <% end %>
            <h3>PAYMENT DETAILS</h3>
            <%= f.fields_for :billing_address do |billing| %>
              <div class='form-check-group'>
                <%= billing.label 'First name *' %>
                <%= billing.text_field :first_name %>
              </div>
              <div class='form-check-group'>
                <%= billing.label 'Last name *' %>
                <%= billing.text_field :last_name %>
              </div>
              <div class='form-check-group'>
                <%= billing.label 'Email *' %>
                <%= f.text_field :email %>
              </div>
              <div class="payment-choices">
                <div>
                  <%= paypal_form_tag(f) if paypal_active? %>
                </div>
              </div>
              <h3>BILLING ADDRESS</h3>
              <div class='form-check-group-full'>
                <input id='use-delivery-address' name='use-delivery' type='checkbox' value='1'>
                <span>Use my Delivery Address</span>
              </div>
              <div class='form-check-group'>
                <%= billing.label :telephone %>
                <%= billing.text_field :telephone, 'data-field-name' => 'billing-telephone' %>
              </div>
              <div class='form-check-group'>
                <%= billing.label 'Address *' %>
                <%= billing.text_field :address, 'data-field-name' => 'billing-address' %>
              </div>
              <div class='form-check-group'>
                <%= billing.label 'City *' %>
                <%= billing.text_field :city, 'data-field-name' => 'billing-city' %>
              </div>
              <div class='form-check-group-half'>
                <%= billing.label 'Postcode/Zip *' %>
                <%= billing.text_field :postcode, 'data-field-name' => 'billing-postcode' %>
              </div>
              <div class='form-check-group-half'>
                <%= billing.label 'Country *' %>
                <%= billing.select(:country, grouped_options_for_select(@grouped_countries, @cart_session[:country], divider: '-----------------'), { include_blank: 'Please select...'}, 'data-field-name' => 'billing-country') %>
              </div>
            <% end %>
        </div>
        <h2 class='checkout-header visible-xs'>Order Summary</h2>
        <div class='col-lg-4 col-sm-4 order-summary'>
          <div id="cart-checkout-container" class="scroller">
            <table id="cart-checkout">
              <tbody>
                <% current_cart.cart_items.each do |item| %>
                  <tr>
                    <td>
                      <table class="single-product">
                        <tbody>
                          <tr>
                            <td>
                              <table class="product-details">
                                <tbody>
                                  <tr>
                                    <td><%= image_tag item.sku.product.attachments.first.file.square %></td>
                                    <td>
                                      <table class="product-information">
                                        <tbody>
                                          <tr>
                                            <td>
                                              <h3><%= item.sku.product.name %></h3>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><%= render_variants(item.sku) %></td>
                                          </tr>
                                          <% if item.cart_item_accessory.present? %>
                                            <tr>
                                              <td><%= item.cart_item_accessory.accessory.name %></td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          <tr>
                            <td>
                              <table class="product-specifics">
                                <tbody>
                                  <tr>
                                    <td>Quantity</td>
                                    <td><%= item.quantity %></td>
                                  </tr>
                                  <tr>
                                    <td>Unit Price</td>
                                    <td id="price"><%= Store::Price.new(price: item.total_price, tax_type: 'net').single %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="cart-navigation">
            <span>More items</span>
            <i class="icon-arrow-up-2"></i>
            <i class="icon-arrow-down-2"></i>
          </div>
          <div id='checkout-calculation'>
            <hr>
            <div id="checkout-breakdown">
              <div>
                <span>DELIVERY:</span>
                <span>SUBTOTAL:</span>
                <span><%= "#{Store.settings.tax_name} (#{Store.settings.tax_rate}%)" %>:</span>
              </div>
              <div>
                <span><%= Store::Price.new(price: @cart_totals[:delivery], tax_type: 'net').single %></span>
                <span><%= Store::Price.new(price: @cart_totals[:subtotal], tax_type: 'net').single %></span>
                <span><%= Store::Price.new(price: @cart_totals[:tax], tax_type: 'net').single %></span>
              </div>
            </div>
            <hr>
            <div id="checkout-total">
              <div>
                <strong>ORDER TOTAL:</strong>
              </div>
              <div>
                <strong><%= Store::Price.new(price: @cart_totals[:total], tax_type: 'net').single %></strong>
              </div>
            </div>
            <hr>
          </div>
          <div class='form-check-group-full'>
            <%= errors_for @order, :terms %>
            <%= f.check_box :terms, checked: false %>
            <span>Tick this box to acknowledge that you have read and agree with our terms and conditions.</span>
          </div>
          <%= f.submit 'PROCEED TO PAYMENT', class: 'btn green checkout-button' %>
          <div id='checkout-secure'>
            <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
            <span class='text-shipping'>SECURE CHECKOUT</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: theme_presenter.page_template_path('shared/checkoutloading'), format: [:html] %>