<% content_for :title, "My cart" %>

<div class='checkout'>
  <div id="mycart" class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>My cart</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <h2 class="checkout-header visible-xs">My cart</h2>
      <div class="col-lg-8 col-sm-8" id="cart-wrapper">
        <%= render partial: theme_presenter.page_template_path('carts/cart'), format: [:html] %>
      </div>
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4 order-summary'>
        <div id='checkout-calculation'>
          <div id='checkout-breakdown'>
            <div>
              <span>SUBTOTAL:</span>
              <span><%= "#{Store.settings.tax_name} (#{Store.settings.tax_rate}%)" %>: </span>
            </div>
            <div>
              <span id="net-price"><%= Store::Price.new(price: @cart_totals[:subtotal]).single %></span>
              <span id="tax-price"><%= Store::Price.new(price: @cart_totals[:tax]).single %></span>
            </div>            
          </div>
          <hr>
          <div id="checkout-total">
            <div>
              <strong>ORDER TOTAL:</strong>
            </div>
            <div>
              <strong id="gross-price"><%= Store::Price.new(price: @cart_totals[:total]).single %></strong>
            </div>
          </div>
          <hr>
        </div>
        <% unless current_cart.cart_items.empty? %>
          <%= link_to 'Checkout', checkout_carts_path, :class => 'btn green checkout-button' %>
        <% end %>
        <div id='checkout-secure'>
          <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
          <span class='text-shipping'>SECURE CHECKOUT</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="validate-cart-item"></div>