<% content_for :title, "My cart" %>

<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>My cart</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <h2 class="checkout-header visible-xs">My cart</h2>
      <div class="col-lg-8 col-sm-8" id="cart-wrapper">
        <%= render partial: theme_presenter.page_template_path('carts/cart'), format: [:html] %>
      </div>
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4 order-summary'>
        <div id='checkout-calculation'>
          <div id='checkout-breakdown'>
            <div>
              <span>SUB-TOTAL:</span>
              <span>DELIVERY:</span>
              <span>TAX: </span>
            </div>
            <div>
              <span id="net-price"><%= Store::Price.new(price: @cart_session[:total][:net]).single %></span>
              <span id="delivery-price"><%= Store::Price.new(price: @cart_session[:total][:delivery]).single %></span>
              <span id="tax-price"><%= Store::Price.new(price: @cart_session[:total][:tax]).single %></span>
            </div>            
          </div>
          <hr>
          <div id="checkout-total">
            <div>
              <strong>ORDER TOTAL:</strong>
            </div>
            <div>
              <strong id="gross-price"><%= Store::Price.new(price: @cart_session[:total][:gross]).single %></strong>
            </div>
          </div>
          <hr>
        </div>
        <a class="btn green checkout-button" href="checkout.html">Checkout</a>
        <div id='checkout-secure'>
          <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
          <span class='text-shipping'>SECURE CHECKOUT</span>
        </div>
      </div>
    </div>
  </div>
</div>