.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} zone"
  = form_for [:admin, @zone], :html => { :role => 'form' } do |f|
    - if @zone.errors.any?
      #errors
        %ul
          - @zone.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-content
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
    .widget-sub-heading
      %h3 Countries
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-form
        %thead
          %tr
            %th Name
            %th.align-center Select
        %tbody
          = f.collection_check_boxes :country_ids, @countries, :id, :name, checked: @zone.countries.map(&:id) do |c|
            %tr
              %td= c.label
              %td.align-center= c.check_box
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last