.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} zone"
  = form_for [:admin, @zone], :html => { :role => 'form' } do |f|
    - if @zone.errors.any?
      #errors
        %ul
          - @zone.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-content
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
    .widget-sub-heading
      %h3 Countries
    - if @countries.empty?
      .label.label-orange 
        %i.icon-spam.icon-cancel-circle 
        There are no available countries to select
    - else
      .widget.widget-content.widget-last
        = f.collection_select :country_ids, @countries, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => "Please select associated countries..."}}
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last