- content_for :title, 'Zones'
- content_for :breadcrumb, 'Zones'

.twelvecol
  .page-header
    = link_to new_admin_zone_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add zone" do
      %i.icon-plus
    = link_to admin_zones_countries_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Countries" do
      %i.icon-earth
    %h2.widget.widget-header Zones
  - @zones.each do |zone|
    .widget-sub-heading
      %h3= zone.name
      .pull-right
        = table_commands zone, 'edit', 'delete'
    %table.table.table-striped.table-bordered.table-hover.table-margin.table-zone
      %thead
        %tr
          %th Name
          %th Language
          %th ISO 3166-1-alpha-2
      %tbody
        - zone.countries.each do |country|
          %tr
            %td= country.name
            %td= country.language
            %td.align-left= country.iso
