.row-fluid
  .span12
    = form_for [:admin, @invoice], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
        - if @invoice.errors.any?
          #error_explanation
            %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
            %ul
              - @invoice.errors.full_messages.each do |msg|
                %li= msg
        .span6         
          .control-group
            = f.label :invoice_number, :class => 'control-label'
            .controls
              = f.text_field :invoice_number, :class => 'form-control'
          .control-group
            = f.label :first_name, :class => 'control-label'
            .controls
              = f.text_field :first_name, :class => 'form-control'
          .control-group
            = f.label :last_name, :class => 'control-label'
            .controls
              = f.text_field :last_name, :class => 'form-control'
          .control-group
            = f.label :billing_address, :class => 'control-label'
            .controls
              = f.text_area :billing_address, :class => 'form-control billing_textarea', :rows => 7
          .control-group
            = f.label :delivery_address, :class => 'control-label'
            .controls
              %label
                %input{:type => 'checkbox', :class => 'invoice_address ace-checkbox-2'} 
                %span.lbl Same as billing address
              = f.text_area :delivery_address, :class => 'form-control delivery_textarea', :rows => 7
          .control-group
            = f.label "Customer email", :class => 'control-label'
            .controls
              = f.text_field :email, :class => 'form-control'
          .control-group
            = f.label 'Customer telephone', :class => 'control-label'
            .controls
              = f.text_field :telephone, :class => 'form-control'
        .span6
          .control-group
            = f.label :notes, :class => 'control-label'
            .controls
              = f.text_area :notes, :class => 'form-control', :rows => 7
          .control-group
            = f.label :pay_type, :class => 'control-label'
            .controls
              = f.select :pay_type,["All", "BACS"], :prompt => "Please select one..", :class => 'form-control'
          .control-group
            = f.label :discount_value, :class => 'control-label'
            .controls
              = f.text_field :discount_value, :class => 'form-control'
          .control-group
            = f.label :discount_type, :class => 'control-label'
            .controls
              %label
                = f.radio_button :discount_type, "Percentage", :class => 'form-control', :checked => true
                %span.lbl Percentage
              %label
                = f.radio_button :discount_type, "Amount", :class => 'form-control'
                %span.lbl Amount
          .control-group
            = f.label :shipping_method, :class => 'control-label'
            .controls
              = f.text_field :shipping_method, :class => 'form-control'
          .control-group
            = f.label :shipping_cost, :class => 'control-label'
            .controls
              = f.text_field :shipping_cost, :class => 'form-control'
          .control-group
            = f.label :vat_applicable, :class => 'control-label'
            .controls
              %label
                = f.check_box :vat_applicable, :class => 'ace-checkbox-2'
                %span.lbl
          .control-group
            = f.label :vat_number, :class => 'control-label'
            .controls
              = hidden_field_tag :vat_number, ''
              = f.text_field :vat_number, :class => 'form-control', :readonly => readonly_helper(@invoice.vat_applicable)    
      .form-actions
        = button_tag(:type => 'submit', :class => 'btn btn-info') do
          %i.icon-ok
          Submit
