- content_for :title, 'List invoices'
- content_for :breadcrumb, 'Invoices'
.page-header
  %h1 Listing invoices
  = link_to new_admin_invoice_path, :class => "btn btn-success" do
    %i.icon-plus
    New invoice
- if @invoices.empty?
  %p You don't have any invoices yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Invoice no.
        %th Name
        %th Email
        %th Date created
        %th Total price (exc. VAT)
        %th
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= invoice.invoice_number
          %td
            = invoice.first_name
            = invoice.last_name
          %td= invoice.email
          %td= invoice.created_at.strftime("#{invoice.created_at.day.ordinalize} %B %Y ")
          %td
          %td{:width => '80' } 
            = table_commands invoice, admin_invoice_path(invoice), edit_admin_invoice_path(invoice), admin_invoice_path(invoice), 0
