- content_for :title, 'Delivery services'
- content_for :breadcrumb, 'Delivery services'

.twelvecol
  .page-header
    = link_to new_admin_delivery_service_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add delivery service" do
      %i.icon-plus
    %h2.widget.widget-header Delivery services
  - if @delivery_services.empty?
    %p You don't have any delivery services yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead.main-table
          %tr
            %th Courier name
            %th Name
            %th Description
            %th.inner-table
              %table
                %thead
                  %tr
                    %th Code
                    %th Net price
                    %th Gross Price
            %th
        %tbody
          - @delivery_services.each do |delivery_service|
            %tr
              %td= delivery_service.courier_name
              %td= delivery_service.name
              %td= delivery_service.description
              %td.inner-table
                %table
                  %tbody
                    - delivery_service.prices.order(price: :asc).each do |delivery_price|
                      %tr
                        %td= delivery_price.code
                        %td= Store::Price.new(price: delivery_price.price, tax_type: 'net').single
                        %td.align-left= Store::Price.new(price: delivery_price.price, tax_type: 'gross').single
              = table_actions [:admin, delivery_service], 'edit', 'delete'
