- content_for :title, 'New delivery service'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Delivery services', admin_delivery_services_path

.twelvecol
  .page-header
    %h2.widget.widget-header New delivery service
  = form_for [:admin, @delivery_service], html: { role: 'form' } do |f|
    .threecol
    .ninecol.last
      - if @delivery_service && @delivery_service.errors.any?
        #errors
          %ul
            - @delivery_service.errors.full_messages.each do |msg|
              %li
                %i.icon-cancel-circle
                = msg 
    .threecol
      %h3 Delivery service details
      %p Set the courier company name, name of your delivery service and a description. 
    .ninecol.last
      %fieldset.widget.widget-content
        .form-group
          = f.label :courier_name
          = f.text_field :courier_name, :class => 'form-control'
        .form-group
          = f.label :name
          = f.text_field :name, :class => 'form-control'
        .form-group.form-last
          = f.label :description
          = f.text_area :description, :class => 'form-control', rows: 7
    .threecol
      %h3 Country of destination
      %p
        Select the countries which are available for this delivery service, or
        = link_to 'copy', copy_countries_admin_delivery_services_path, remote: true
        an existing service country list.
    .ninecol.last
      .widget.widget-content.widget-last
        .form-group
          = f.collection_select :country_ids, @countries, :id, :name, {}, {:class => 'chosen', multiple: true, data: {placeholder: "Please select associated countries..."}}
      .form-action
        = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
#delivery-service-modal
