<header>
  <div class="desktop" id="logo">
    <% if Store::settings.attachment.nil? %>
      <%= image_tag 'fallback/square/default.png', width: 60, height: 60 %>
    <% else %>
      <%= image_tag Store::settings.attachment.file.square, width: 60, height: 60 %>
    <% end %>
  </div>
  <label class="mobile" id="trigger">
    <i class="icon-menu-2"></i>
  </label>
  <div class="dropdown user-menu">
    <% if current_user.attachment.nil? %>
      <%= image_tag 'fallback/square/default.png', 'data-toggle' => 'dropdown', width: 40, height: 40, href: '#' %>
    <% else  %>
      <%= image_tag current_user.attachment.file.square, 'data-toggle' => 'dropdown', width: 40, height: 40, href: '#' %>
    <% end %>
    <i class="fa fa-caret-up"></i>
    <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
      <li>
        <%= link_to admin_profile_path do %>
          <i class="icon-user"></i>
          Profile
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="icon-switch"></i>
          Logout
        <% end %>
      </li>
    </ul>
  </div>
</header>