%td.table-actions
  / View order
  - if type == 2 || type == 4
    = link_to view do
      %i.icon-search
  / Update stock level
  - if type == 1
    = link_to new_admin_product_sku_stock_level_path(object.product, object), remote: true do
      %i.icon-plus
  - if type == 1
    / Edit SKU
    = link_to edit_admin_product_sku_path(object.product, object), remote: true do
      %i.icon-pencil
  - elsif type != 2
    / Edit record
    = link_to edit do
      %i.icon-pencil

  / Edit order
  - if type == 2 && object.transactions.last.completed?
    = link_to edit_admin_order_path(object), remote: true do
      %i.icon-pencil
  / Delete record
  - unless type == 2 || type == 1 || type == 4 || type == 5
    = link_to del, :method => :delete, data: { confirm: 'Are you sure?' } do
      %i.icon-remove
  / AJAX delete record (SKU)
  - if type == 1 || type == 4
    = link_to del, :method => :delete, data: { confirm: 'Are you sure?' }, :remote => true do
      %i.icon-remove
