<td class="text-right">
  <% unless type == 1 || type == 3 %>
    <%= link_to view, :class => 'btn btn-info btn-xs' do %>
      <i class="icon-search"></i>
    <% end %>
  <% end %>
  <% if type == 3 %>
    <a href="#" class="btn btn-info btn-xs update_stock" id="<%= object.id %>">
      <i class="icon-signal"></i>
    </a>
  <% end %>
  <% unless type == 2 %>
    <%= link_to edit, :class => 'btn btn-success btn-xs' do %>
      <i class="icon-pencil"></i>
    <% end %>
  <% end %>
  <% if type == 2 && object.shipping_status == "Pending" && object.transaction.payment_status == "Completed" %>
    <a href="#" class="btn btn-default btn-xs change_shipping" id="<%= object.id %>">
      <i class="icon-truck"></i>
    </a>
  <% end %>
  <% if type == 2 %>
    <a href="#" class="btn btn-success btn-xs add_actual_shipping_cost" id="<%= object.id %>">
      <i class="icon-money"></i>
    </a>
  <% end %>
  <% unless type == 2 %>
    <%= link_to del, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-xs' do %>
      <i class="icon-remove"></i>
    <% end %>
  <% end %>
</td>