%td.table-actions{:class => ('triple-menu' if delivery_service_record) }
  - if show
    = link_to object do
      %i.icon-search
  - if delivery_service_record
    = link_to admin_delivery_service_delivery_service_prices_path(object.last) do
      %i.icon-search
  - if sku_record
    = link_to new_admin_product_sku_stock_level_path(object.last.product, object.last), remote: true do
      %i.icon-plus
  - if order_record && object.last.transactions.last.completed?
    = link_to edit_polymorphic_path(object), remote: remote_edit do
      %i.icon-pencil
  - if edit && !order_record
    = link_to edit_polymorphic_path(object), remote: remote_edit do
      %i.icon-pencil
  - if del
    = link_to object, method: :delete, remote: remote_delete, data: { confirm: 'Are you sure?' } do
      %i.icon-remove
