<td class="<%= ('triple-menu' if delivery_service_record) %> table-actions">
  <% if show %>
    <%= link_to object do %>
      <i class="icon-search"></i>
    <% end %>
  <% end %>
  <% if delivery_service_record %>
    <%= link_to admin_delivery_service_delivery_service_prices_path(object.last) do %>
      <i class="icon-search"></i>
    <% end %>
  <% end %>
  <% if edit %>
    <%= link_to edit_polymorphic_path(object) do %>
      <i class="icon-pencil"></i>
    <% end %>
  <% end %>
  <% if remote_edit %>
    <a href="#" data-record-id="<%= object.last.id %>" id="edit-record">
      <i class="icon-pencil"></i>
    </a>
  <% end %>
  <% if order_record && object.last.transactions.last.completed? && object.last.pending? %>
    <a href="#" data-order-id="<%= object.last.id %>" id="dispatcher">
      <i class="icon-airplane"></i>
    </a>
  <% end %>
  <% if del %>
    <%= link_to object, method: :delete, remote: remote_delete, data: { confirm: 'Are you sure?' } do %>
      <i class="icon-remove"></i>
    <% end %>
  <% end %>
</td>