<div class="hidden-phone visible-desktop action-buttons">
  <% if type != 1 %>
    <%= link_to view, :class => 'blue' do %>
      <i class="icon-zoom-in bigger-130"></i>
    <% end %>
  <% end %>
  <% unless type == 2 && object.shipping_status == "Dispatched" %>
    <%= link_to edit, :class => 'green' do %>
      <i class="icon-pencil bigger-130"></i>
    <% end %>
  <% end %>
  <% if type == 2 && object.shipping_status == "Pending" %>
    <a href="#" class="grey change_shipping" id="<%= object.id %>">
      <i class="icon-truck bigger-130"></i>
    </a>
  <% end %>
  <%= link_to del, :method => :delete, :confirm => 'Are you sure?', :class => 'red' do %>
    <i class="icon-trash bigger-130"></i>
  <% end %>
</div>

<div class="hidden-desktop visible-phone">
  <div class="inline position-relative open">
    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
      <i class="icon-caret-down icon-only bigger-120"></i>
    </button>

    <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
      <% if type != 1 %>
        <li>
          <%= link_to view, :class => 'tooltip-info', 'data-rel' => 'tooltip', 'data-original-title' => 'View' do %>
            <span class="blue">
              <i class="icon-zoom-in bigger-120"></i>
            </span>
          <% end %>
        </li>
      <% end %>
      <% unless type == 2 && object.shipping_status == "Dispatched" %>
        <li>
          <%= link_to edit, :class => 'tooltip-success', 'data-rel' => 'tooltip', 'data-original-title' => 'Edit' do %>
            <span class="green">
              <i class="icon-edit bigger-120"></i>
            </span>
          <% end %>
        </li>
      <% end %>
      <% if type == 2 && object.shipping_status == "Pending" %>
        <li>
          <%= link_to edit, :class => 'tooltip-success', 'data-rel' => 'tooltip', 'data-original-title' => 'Mark as dispatched' do %>
            <span class="grey">
              <i class="icon-truck bigger-120"></i>
            </span>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to del, :class => 'tooltip-error', :method => :delete, :confirm => 'Are you sure?', 'data-rel' => 'tooltip', 'data-original-title' => 'Delete' do %>
          <span class="red">
            <i class="icon-trash bigger-120"></i>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</div>