<% content_for :title, "Search results for #{params[:query]}: #{@products.empty? ? "No results" : @products.map(&:name).join(',')}" %>
<% content_for :breadcrumb, "Search: #{params[:query]}" %>
<% content_for :meta_description, "Search results for #{params[:query]}: #{@products.map(&:name).join(',')}" %>

<div id="inner-block" class="listing-products">
    <div class="container">
        <div class="row list-header">
            <div class="col-lg-12 col-sm-12">
                <h1>
                    Search results
                    <span>(<%= @products.count %>)</span>
                </h1>
                <%= form_tag search_path, method: :get, class: 'new_search', id: 'new_search' do %>
                    <div class='form-check-group'>
                        <%= text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", id: 'search', placeholder: "Search #{Store.settings.name}", value: params[:query] ) %>
                    </div>
                    <%= submit_tag 'SEARCH', class: 'btn green checkout-button' %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12" id="list-wrapper">
                <% if @products.empty? %>
                    <div id="empty-cart-container">
                        <h3>No Search Results</h3>
                        <p>We could not find any products matching your search criteria.</p>
                    </div>
                <% else %>
                    <% @products.each do |product| %>
                        <div class="col-lg-3 col-sm-3 list">
                            <%= link_to [product.category, product] do %>
                                <%= image_tag product.attachments.first.file.large, alt: product.name %>
                            <% end %>
                            <h3><%= Store::Price.new(price: product.first_available_sku.price, count: product.skus.count).range %></h3>
                            <h2>
                                <%= link_to product.name, [product.category, product] %>
                            </h2>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <p><%= check_stock(product) %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>