#stock-level-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "stockLevelModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_for [:admin, @product, @sku, @stock_level], html: { role: 'form' }, remote: true do |f|
        #errors.json
          %ul
        .loading5
          %i
          %i
          %i
          %i
        .loading-overlay
        .modal-header
          %h3#stockLevelModalLabel
            Stock levels for 
            = @sku.full_sku
        .modal-body
          %p
            Stock level total is
            %b= @sku.stock
          .table-responsive
            %table.table.table-bordered
              %thead
                %tr
                  %th Date
                  %th.fifty Description
                  %th Adjustment
              %tbody
                %tr
                  %td
                    = f.submit 'Add', :class => 'btn btn-blue btn-normal'
                  %td
                    = f.text_field :description, :class => 'form-control'
                  %td
                    = f.text_field :adjustment, :class => 'form-control'
                - @sku.stock_levels.where('description IS NOT NULL').each do |stock|
                  %tr{ :class => coloured_row(stock.adjustment) }
                    %td= stock.created_at.strftime('%d/%m/%Y at %I:%M%p')
                    %td.fifty= stock.description
                    %td.align-left= stock.adjustment
        .modal-footer
          %button.btn.btn-orange.btn-large{"data-dismiss" => "modal", type: "button"} Close