- @cart_total = current_cart.estimate_delivery.nil? ? current_cart.total_price : (current_cart.total_price + current_cart.estimate_delivery.price)
- current_cart.cart_items.each do |item|
  %tr
    %td.image
      = link_to (image_tag item.sku.product.attachments.first.file.square, :alt => item.sku.product.name, :height => 124, :width => 124), [item.sku.product.category, item.sku.product]
    %td.desc
      = link_to item.sku.product.name, [item.sku.product.category, item.sku.product]
      = link_to [current_cart, item], :method => :delete, :remote => true, :title => 'Remove item' do
        %i.fa.fa-times-circle
      %div= sku_attribute_values(item.sku, item.sku.product.single)
    %td.qty
      = form_for [current_cart, item], remote: true do |f|
        = f.text_field :quantity, :value => item.quantity, :class => 'tiny-size'
        = f.submit 'Update', :class => 'btn btn-small'
    %td.price= Store::Price.new(item.total_price).single
  - unless item.cart_item_accessory.blank?
    %tr.accessory_row
      %td.image
        = image_tag 'http://placehold.it/124x124', :alt => item.cart_item_accessory.accessory.name, :height => 124, :width => 124
      %td.desc
        = item.cart_item_accessory.accessory.name
      %td.qty
        = item.cart_item_accessory.quantity
- if Store::settings.tax_breakdown
  %tr
    %td{colspan: "2"}
    \ 
    %td.stronger{colspan: "2"} Subtotal:
    %td.stronger
      .align-right= Store::Price.new(current_cart.total_price).single
%tr
  %td{colspan: "2", rowspan: "1"}
  \ 
  %td.stronger{colspan: "2"}
    Delivery:
    - unless current_cart.estimate_delivery.nil?
      %div.normal
        = current_cart.estimate_delivery.full_name 
        = link_to purge_estimate_carts_path, method: :delete, remote: true, :title => 'Remove item' do
          %i.fa.fa-times-circle
  %td.stronger
    .align-right= Store::Price.new(cart_delivery_price(current_cart.estimate_delivery), 'net').single
- if Store::settings.tax_breakdown
  %tr
    %td{colspan: "2", rowspan: "1"}
    \ 
    %td.stronger{colspan: "2"}= "#{Store::settings.tax_name} (#{Store::settings.tax_rate}%):"
    %td.stronger
      .align-right= Store::Price.new((@cart_total*Store::tax_rate)).single
%tr
  %td{colspan: "2", rowspan: "1"}
  \
  %td.stronger{colspan: "2"} Total:
  %td.stronger
    .size-16.align-right.total_price= Store::Price.new(@cart_total, 'gross').single