<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Order total<h1>

  <h3>Subtotal</h3>
  <%= format_currency @order.sub_total %>

  <h3>Shipping</h3>
  <div id="shipping_value"></div>

  <h3>Tax</h3>
  <%= format_currency @order.vat %>

  <h2>Total</h2> 
  <%= format_currency @order.total %>
  
  <%= select_tag :country_selector, options_for_select(Country.all.map { |country| [country.name, country.id ] }) %>

  <div id="shipping_options" data-tier="<%= @calculated_tier %>">
    <% @shipping_options.each do |shipping| %>
      <label>
        <%= radio_button_tag :shipping, shipping.id %>
        <span class="lbl">
        <%= shipping.name %> - <b><%= format_currency shipping.price %></b>
        </span>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :billing_company %><br />
    <%= f.text_field :billing_company %>
  </div>
  <div class="field">
    <%= f.label :billing_address %><br />
    <%= f.text_area :billing_address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :billing_city %><br />
    <%= f.text_field :billing_city %>
  </div>
  <div class="field">
    <%= f.label :billing_county %><br />
    <%= f.text_field :billing_county %>
  </div>
  <div class="field">
    <%= f.label :billing_postcode %><br />
    <%= f.text_field :billing_postcode %>
  </div>
  <div class="field">
    <%= f.label :billing_country %><br />
    <%= f.text_field :billing_country %>
  </div>
  <div class="field">
    <%= f.label :billing_telephone %><br />
    <%= f.text_field :billing_telephone %>
  </div>
  <div class="field">
    <%= f.label :delivery_address %><br />
    <%= f.text_area :delivery_address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :delivery_city %><br />
    <%= f.text_field :delivery_city %>
  </div>
  <div class="field">
    <%= f.label :delivery_county %><br />
    <%= f.text_field :delivery_county %>
  </div>
  <div class="field">
    <%= f.label :delivery_postcode %><br />
    <%= f.text_field :delivery_postcode %>
  </div>
  <div class="field">
    <%= f.label :delivery_country %><br />
    <%= f.text_field :delivery_country %>
  </div>
  <div class="field">
    <%= f.label :delivery_telephone %><br />
    <%= f.text_field :delivery_telephone %>
  </div>
  <div class="field">
    <%= f.label :tax_number %><br />
    <%= f.text_field :tax_number %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Place order' %>
  </div>
<% end %>
