<% content_for :title, 'Edit order'
content_for :breadcrumb, 'Edit'
breadcrumb_add 'Orders', orders_path %>
<div class="page-header">
    <h1>Editing order</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <%= form_for(@order, :html => { :class => 'form-horizontal', :role => 'form' }) do |f| %>
            <fieldset>
                <% if @order.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                      <ul>
                          <% @order.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                          <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="control-group">
                    <%= f.label :first_name, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :first_name, :size => 40, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :last_name, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :last_name, :size => 40, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :email, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :email, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_company, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_company, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_address, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_area :billing_address, :rows => 3, :cols => 40, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_city, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_city, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_county, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_county, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_postcode, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_postcode, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_country, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_country, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :billing_telephone, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :billing_telephone, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_address, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_area :delivery_address, :rows => 3, :cols => 40, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_city, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :delivery_city, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_county, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :delivery_county, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_postcode, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :delivery_postcode, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_country, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :delivery_country, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :delivery_telephone, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :delivery_telephone, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :tax_number, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :tax_number, :class => 'form-control' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :shipping_date, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.date_select :shipping_date, :class => 'form-control', :include_blank => true, :default => nil %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :actual_shipping_cost, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :actual_shipping_cost, :class => 'form-control' %>
                    </div>
                </div>
                <div class="form-actions">
                    <%= button_tag(:type => 'submit', :class => 'btn btn-info') do %>
                      <i class="icon-ok"></i>Submit
                    <% end %>
                </div>
            </fieldset>
        <% end %>
    </div>
</div>

