%section.checkout
  .container
    = form_for @order, :remote => true do |f|
      #errors.modal.hide.fade{tabindex: "-1"}
        .modal-header
          %button.close.continue{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          .hgroup.title
            %h3 Form validation errors
            %h5 Please correct the below errors before continuing.
        .modal-body
          %ul
        .modal-footer
          .pull-right
            .btn.btn-small.btn-primary.continue{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
              Continue
              %i.icon-chevron-right
      .row
        .span9
          .box
            / Checkout progress
            #checkout-progress
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", href: "#billing_address"}
                    %i.icon-map-marker.icon-large
                    %span Billing address
                %li
                  %a{"data-toggle" => "tab", href: "#shipping_address"}
                    %i.icon-envelope.icon-large
                    %span Shipping address
                %li
                  %a{"data-toggle" => "tab", href: "#shipping_method"}
                    %i.icon-truck.icon-large
                    %span Shipping method
                %li
                  %a{"data-toggle" => "tab", href: "#payment_method"}
                    %i.icon-money.icon-large
                    %span Payment method
                %li
                  %a{"data-toggle" => "tab", href: "#order_review"}
                    %i.icon-search.icon-large
                    %span Order review
            / End id="checkout-progress"
            / Checkout content
            #checkout-content.tab-content
              / Billing address tag
              #billing_address.tab-pane.active
                .box-header
                  %h3 Billing address
                  %h5 * Required fields
                .box-content
                  .row-fluid
                    .span6
                      .control-group
                        = f.label "First name*", :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'billing_first_name'
                      .control-group
                        = f.label "Last name*", :class => 'control-label'
                        .controls
                          = f.text_field :billing_last_name, :class => 'span12', :id => 'billing_last_name'
                      .control-group
                        = f.label "Telephone", :class => 'control-label'
                        .controls
                          = f.text_field :billing_telephone, :class => 'span12', :id => 'billing_telephone'
                      .control-group
                        = f.label "Company", :class => 'control-label'
                        .controls
                          = f.text_field :billing_company, :class => 'span12', :id => 'billing_company'
                    .span6
                      .control-group
                        = f.label "Street address*", :class => 'control-label'
                        .controls
                          = f.text_field :billing_address, :class => 'span12', :id => 'billing_address'
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "City*", :class => 'control-label'
                            .controls
                              = f.text_field :billing_city, :class => 'span12', :id => 'billing_city'
                        .span6
                          .control-group
                            = f.label "Postcode*", :class => 'control-label'
                            .controls
                              = f.text_field :billing_postcode, :class => 'span12', :id => 'billing_postcode'
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "County", :class => 'control-label'
                            .controls
                              = f.text_field :billing_county, :class => 'span12', :id => 'billing_county'
                        .span6
                          .control-group
                            = f.label "Country*", :class => 'control-label'
                            .controls
                              = f.select :billing_country, options_for_select(Country.all.map { |country| [country.name, country.name ] }), :class => 'span12', :id => 'billing_country', :prompt => 'Please select..'
                        .control-group
                          = f.label :tax_number, :class => 'control-label'
                          .controls
                            = f.text_field :tax_number, :class => 'span12', :id => 'tax_number'
                .box-footer
                  .pull-left
                    = link_to current_cart, :class => 'btn btn-small' do
                      %i.icon-chevron-left
                        Back to cart
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_address"}
                      Shipping address  
                      %i.icon-chevron-right
              / Shipping address tab
              #shipping_address.tab-pane
                .box-header
                  %h3 Shipping address
                  %h5 * Required fields
                .box-content
                  .row-fluid
                    .span6
                      .control-group
                        = f.label "First name*", :class => 'control-label'
                        .controls
                          = f.text_field :delivery_first_name, :class => 'span12', :id => 'delivery_first_name'
                      .control-group
                        = f.label "Last name*", :class => 'control-label'
                        .controls
                          = f.text_field :delivery_last_name, :class => 'span12', :id => 'delivery_last_name'
                      .control-group
                        = f.label "Email*", :class => 'control-label'
                        .controls
                          = f.text_field :email, :class => 'span12', :id => 'email'
                      .control-group
                        = f.label "Telephone", :class => 'control-label'
                        .controls
                          = f.text_field :delivery_telephone, :class => 'span12', :id => 'delivery_telephone'
                    .span6
                      .control-group
                        = f.label "Company", :class => 'control-label'
                        .controls
                          = f.text_field :delivery_company, :class => 'span12', :id => 'delivery_company'
                      .control-group
                        = f.label "Street address*", :class => 'control-label'
                        .controls
                          = f.text_field :delivery_address, :class => 'span12', :id => 'delivery_address'
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "City*", :class => 'control-label'
                            .controls
                              = f.text_field :delivery_city, :class => 'span12', :id => 'delivery_city'
                        .span6
                          .control-group
                            = f.label "Postcode*", :class => 'control-label'
                            .controls
                              = f.text_field :delivery_postcode, :class => 'span12', :id => 'delivery_postcode'
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "County", :class => 'control-label'
                            .controls
                              = f.text_field :delivery_county, :class => 'span12', :id => 'delivery_city'
                        .span6
                          .control-group
                            = f.label "Country*", :class => 'control-label'
                            .controls
                              = f.select :delivery_country, options_for_select(Country.all.map { |country| [country.name, country.name ] }), :class => 'span12', :id => 'delivery_country', :prompt => 'Please select..'
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#billing_address"}
                      %i.icon-chevron-left
                        Billing address
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_method"}
                      Shipping method  
                      %i.icon-chevron-right 
              / Shipping method tab
              #shipping_method.tab-pane
                .box-header
                  %h3 Shipping method
                  %h5 Please select one shipping method in your country.
                  = select_tag :country_selector, options_for_select(Country.all.map { |country| [country.name, country.id ] }), :class => 'shipping_selector'
                  / = update_country_shippings "Update", f, "shipping-methods", @calculated_tier, :country_selector
                .box-content
                  .shipping-methods{ 'data-total' => "#{@order.total}", 'data-tier' => "#{@calculated_tier}" }
                    - if defined?(@shipping_options)
                      - if @shipping_options.empty?
                        .row-fluid
                          %p There are no shipping options available
                      - else
                        - @shipping_options.each_slice(3) do |slice|
                          .row-fluid
                            - slice.each do |shipping|
                              .span4
                                .box.highlight
                                  .hgroup.title
                                    %h3= shipping.name
                                    %h5= shipping.description
                                  .box-content.highlight
                                    .price
                                      %strong= format_currency shipping.price
                                    = f.radio_button :shipping_id, shipping.id
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_address"}
                      %i.icon-chevron-left
                        Shipping address
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#payment_method"}
                      Payment method  
                      %i.icon-chevron-right   
              / Payment method tab
              #payment_method.tab-pane
                .box-header
                  %h3 Payment method
                  %h5 Please select a payment method. You may be redirected securely offsite to complete your order.
                .box-content
                  .payment-methods
                    .row-fluid
                      .span4
                        .box.highlight
                          .hgroup.title
                            %h3 PayPal&trade;
                            %h5 Speedy, secure and safe transactions with a trusted service.
                          .box-content.highlight
                            %input#option1{name: "shipping_option", type: "radio", value: "1"}/
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_method"}
                      %i.icon-chevron-left
                      \  Shipping method
                  .pull-right
                    %button.btn.btn-primary{type: "submit"}
                      Order review  
                      %i.icon-chevron-right    
              #order_review.tab-pane
                .box-header
                  %h3 Order review
                  %h5 Please review your order before completing payment.
                .box-content
                  .cart-items
                    %table.styled-table
                      %thead
                        %tr
                          %th.col_product.text-left Product
                          %th.col_remove.text-right  
                          %th.col_qty.text-right Qty
                          %th.col_single.text-right Single
                          %th.col_total.text-right Total
                      %tbody
                        - @cart.line_items.each do |item|
                          %tr
                            %td.col_product.text-left
                              .image.visible-desktop
                                = link_to item.product do
                                  = image_tag item.product.attachments.first.file.small, :alt => item.product.name
                              %h5
                                = link_to item.product.name, item.product
                            %td.col_remove.text-right
                              = link_to item, :method => :delete, :remote => true do
                                %i.icon-trash.icon-large
                            %td.col_qty.text-right
                              %span.quantity= item.quantity
                            %td.col_single.text-right
                              %span.single-price= format_currency item.price
                            %td.col_total.text-right
                              %span.total-price= format_currency item.total_price
                .box-footer
                  .pull-left
                    %a.btn.btn-small{href: "payment-method.html"}
                      %i.icon-chevron-left
                        Payment method
                  .pull-right
                    = button_tag(:type => 'submit', :class => 'btn btn-primary') do
                      Create order and pay  
                      %i.icon-ok
        .span3
          .box
            / Order totals
            #checkout-totals
              .hgroup.title
                %h3 Order total
                %h5 Shipping costs and taxes will be calculated during checkout
              %ul.price-list
                %li
                  Subtotal:
                  %strong= format_currency @order.sub_total
                %li
                  VAT:
                  %strong= format_currency @order.vat
                %li
                  Shipping:
                  %strong#shipping_value
                %li.important
                  Total:
                  %strong#order_total= format_currency @order.total
            / End id="checkout-totals"