%section.checkout
  .container
    = form_for(@order) do |f|
      .row
        .span9
          .box
            / Checkout progress
            #checkout-progress
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", href: "#billing_address"}
                    %i.icon-map-marker.icon-large
                    %span Billing address
                %li
                  %a{"data-toggle" => "tab", href: "#shipping_address"}
                    %i.icon-envelope.icon-large
                    %span Shipping address
                %li
                  %a{"data-toggle" => "tab", href: "#shipping_method"}
                    %i.icon-truck.icon-large
                    %span Shipping method
                %li
                  %a{"data-toggle" => "tab", href: "#payment_method"}
                    %i.icon-money.icon-large
                    %span Payment method
                %li
                  %div
                    %i.icon-search.icon-large
                    %span Order review
            / End id="checkout-progress"
            / Checkout content
            #checkout-content.tab-content
              / Billing address tag
              #billing_address.tab-pane.active
                .box-header
                  %h3 Billing address
                  %h5 * Required fields
                .box-content
                  .row-fluid
                    .span6
                      .control-group
                        = f.label "First name", :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'first_name'
                      .control-group
                        = f.label "Last name", :class => 'control-label'
                        .controls
                          = f.text_field :billing_last_name, :class => 'span12', :id => 'last_name'
                      .control-group
                        = f.label :email, :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'email'
                      .control-group
                        = f.label :telephone, :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'phone'
                    .span6
                      .control-group
                        = f.label "Company", :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'company'
                      .control-group
                        = f.label "Street address", :class => 'control-label'
                        .controls
                          = f.text_field :billing_first_name, :class => 'span12', :id => 'first_name'
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "City", :class => 'control-label'
                            .controls
                              %input#city.span12{name: "city", type: "text", value: ""}/
                        .span6
                          .control-group
                            = f.label "Postcode", :class => 'control-label'
                            .controls
                              %input#zip.span12{name: "zip", type: "text", value: ""}/
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "County", :class => 'control-label'
                            .controls
                              %input#city.span12{name: "city", type: "text", value: ""}/
                        .span6
                          .control-group
                            = f.label "Country", :class => 'control-label'
                            .controls
                              %select#country.span12{name: "country"}
                .box-footer
                  .pull-left
                    = link_to current_cart, :class => 'btn btn-small' do
                      %i.icon-chevron-left
                        Back to cart
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_address"}
                      Shipping address  
                      %i.icon-chevron-right
              / Shipping address tab
              #shipping_address.tab-pane
                .box-header
                  %h3 Shipping address
                  %h5 * Required fields
                .box-content
                  .row-fluid
                    .span6
                      .control-group
                        = f.label "First name", :class => 'control-label'
                        .controls
                          %input#first_name.span12{name: "first_name", type: "text", value: ""}/
                      .control-group
                        = f.label "Last name", :class => 'control-label'
                        .controls
                          %input#last_name.span12{name: "last_name", type: "text", value: ""}/
                      .control-group
                        = f.label "Telephone", :class => 'control-label'
                        .controls
                          %input#phone.span12{name: "phone", type: "text", value: ""}/
                      .control-group
                        = f.label "Company", :class => 'control-label'
                        .controls
                          %input#company.span12{name: "company", type: "text", value: ""}/
                    .span6
                      .control-group
                        = f.label "Street address", :class => 'control-label'
                        .controls
                          %input#street_address.span12{name: "street_address", type: "text", value: ""}/
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "City", :class => 'control-label'
                            .controls
                              %input#city.span12{name: "city", type: "text", value: ""}/
                        .span6
                          .control-group
                            = f.label "Postcode", :class => 'control-label'
                            .controls
                              %input#zip.span12{name: "zip", type: "text", value: ""}/
                      .row-fluid
                        .span6
                          .control-group
                            = f.label "County", :class => 'control-label'
                            .controls
                              %input#city.span12{name: "city", type: "text", value: ""}/
                        .span6
                          .control-group
                            = f.label "Country", :class => 'control-label'
                            .controls
                              %select#country.span12{name: "country"}
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#billing_address"}
                      %i.icon-chevron-left
                        Billing address
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_method"}
                      Shipping method  
                      %i.icon-chevron-right 
              / Shipping method tab
              #shipping_method.tab-pane
                .box-header
                  %h3 Shipping method
                  %h5 Please select one shipping method in your country.
                  = select_tag :country_selector, options_for_select(Country.all.map { |country| [country.name, country.id ] }), :class => 'shipping_selector'
                .box-content
                  .shipping-methods{ 'data-tier' => "#{@calculated_tier}", 'data-total' => "#{@order.total}" }
                    - if @shipping_options.empty?
                      .row-fluid
                        %p There are no shipping options available
                    - else
                      - @shipping_options.each_slice(3) do |slice|
                        .row-fluid
                          - slice.each do |shipping|
                            .span4
                              .box.highlight
                                .hgroup.title
                                  %h3= shipping.name
                                  %h5= shipping.description
                                .box-content.highlight
                                  .price
                                    %strong= format_currency shipping.price
                                  = radio_button_tag :shipping, shipping.id
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_address"}
                      %i.icon-chevron-left
                        Shipping address
                  .pull-right
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#payment_method"}
                      Payment method  
                      %i.icon-chevron-right   
              / Payment method tab
              #payment_method.tab-pane
                .box-header
                  %h3 Payment method
                  %h5 Please select a payment method. You may be redirected securely offsite to complete your order.
                .box-content
                  .payment-methods
                    .row-fluid
                      .span4
                        .box.highlight
                          .hgroup.title
                            %h3 PayPal&trade;
                            %h5 Speedy, secure and safe transactions with a trusted service.
                          .box-content.highlight
                            %input#option1{name: "shipping_option", type: "radio", value: "1"}/
                .box-footer
                  .pull-left
                    %a.btn.btn-small{"data-toggle" => "tab", href: "#shipping_method"}
                      %i.icon-chevron-left
                      \  Shipping method
                  .pull-right
                    %button.btn.btn-primary{type: "submit"}
                      Order review  
                      %i.icon-chevron-right    
        .span3
          .box
            / Order totals
            #checkout-totals
              .hgroup.title
                %h3 Order total
                %h5 Shipping costs and taxes will be calculated during checkout
              %ul.price-list
                %li
                  Subtotal:
                  %strong= format_currency @order.sub_total
                %li
                  VAT:
                  %strong= format_currency @order.vat
                %li
                  Shipping:
                  %strong#shipping_value
                %li.important
                  Total:
                  %strong#order_total= format_currency @order.total
            / End id="checkout-totals"