- content_for :title, 'Edit shipping method'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Shipping methods', admin_shippings_path

.eightcol
  .page-header
    %h2.widget.widget-header Edit shipping method
  = form_for [:admin, @form_shipping], :html => { :role => 'form' } do |f|
    - if @shipping && @shipping.errors.any?
      #errors
        %ul
          - @shipping.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :price
        = f.text_field :price, :class => 'form-control calculate-tax', :autocomplete => 'off'
      .form-group
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 7
      .form-group.form-last
        = f.label 'Zones'
        - if @zones.empty?
          %p No zones to select.
        - else
          = f.collection_check_boxes :zone_ids, @zones, :id, :name, checked: @form_shipping.zones.map(&:id) do |c|
            .checkbox.blocked
              %label
                = c.check_box
                = c.label
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
