- content_for :title, 'Edit shipping method'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Shipping methods', admin_shippings_path

.eightcol
  .page-header
    %h2.widget.widget-header Edit shipping method
  = form_for [:admin, @form_shipping], :html => { :role => 'form' } do |f|
    - if @shipping && @shipping.errors.any?
      #errors
        %ul
          - @shipping.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-form.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :price
        = f.text_field :price, :class => 'form-control calculate_tax', :autocomplete => 'off'
      .form-group
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 7
      .form-group.form-last
        = f.label 'Zones'
        - if Zone.all.empty?
          %p No zones to select.
        - else
          - Zone.all.each do |zone|
            .checkbox.blocked
              %label
                = hidden_field_tag "shipping[zone_ids][]", ''
                = check_box_tag "shipping[zone_ids][]", zone.id, @form_shipping.zone_ids.include?(zone.id)
                = zone.name
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue'
.fourcol.last
