- content_for :title, 'Shipping methods'
- content_for :breadcrumb, 'Shipping methods'
/ - content_for :header, 'Shipping methods'
- content_for :subnav do
  %li.current
    %a.current Methods
  %li= link_to 'Tiers', admin_tiers_path
  %li= link_to 'Countries', admin_countries_path
= link_to new_admin_shipping_path, :class => 'btn btn-success' do
  %i.icon-plus
  New shipping option
- if @shippings.empty?
  %p You don't have any shippings yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Countries
        %th Tier(s)
        %th Net price
        %th
    %tbody
      - @shippings.each do |shipping|
        %tr
          %td= shipping.name
          %td= shipping.description
          %td
            %ul 
              - shipping.countries.each do |country|
                %li
                  = country.name
          %td= shipping.tiers.map(&:id).join(', ')
          %td= format_currency shipping.price
          %td= table_commands shipping, admin_shipping_path(shipping), edit_admin_shipping_path(shipping), admin_shipping_path(shipping),  1