- content_for :title, 'New shipping'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Shipping', admin_shippings_path

.eightcol
  .page-header
    %h2.widget.widget-header New shipping method
  = form_for [:admin, @shipping], :html => { :role => 'form' } do |f|
    - if @shipping && @shipping.errors.any?
      #errors
        %ul
          - @shipping.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :price
        = f.text_field :price, :class => 'form-control calculate-tax', :autocomplete => 'off'
      .form-group.form-last
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 7
    .widget-sub-heading
      %h3 Zones
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-form.table-margin
        %thead
          %tr
            %th Name
            %th.align-center Select
        %tbody
          = f.collection_check_boxes :zone_ids, @zones, :id, :name, checked: @shipping.zones.map(&:id) do |c|
            %tr
              %td= c.label
              %td.align-center= c.check_box
    .widget-sub-heading
      %h3 Tiers
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-form
        %thead
          %tr
            %th ID
            %th Length (mm)
            %th Weight (g)
            %th Thickness (mm)
            %th.align-center Select
        %tbody
          = f.collection_check_boxes :tier_ids, @tiers, :id, :id, checked: @shipping.tiers.map(&:id) do |c|
            %tr
              %td= c.label
              %td= "#{c.object.length_start} - #{c.object.length_end}"
              %td= "#{c.object.weight_start} - #{c.object.weight_end}"
              %td= "#{c.object.thickness_start} - #{c.object.thickness_end}"
              %td.align-center= c.check_box
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
