- content_for :title, 'New shipping option'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Shipping methods', admin_shippings_path
- content_for :header, 'New shipping option'
- content_for :hide_sub_navigation, 'hide_subnav'

.row-fluid
  .col-md-6    
    = form_for [:admin, @shipping], :html => { :class => 'form-horizontal', :role => 'form'} do |f|
      %fieldset

      - if @shipping.errors.any?
        #error_explanation
          %h2= "#{pluralize(@shipping.errors.count, "error")} prohibited this shipping from being saved:"
          %ul
            - @shipping.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :name, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :price, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_field :price, :class => 'form-control calculate_shipping_tax', :autocomplete => 'off'
      .form-group
        = f.label :description, :class => 'control-label col-md-3'
        .col-md-9
          = f.text_area :description, :class => 'form-control', :rows => 7
      .form-group
        %label.control-label.col-md-3 Zones
        .col-md-9
          - if Zone.all.empty?
            %p No zones to select.
          - else
            - Zone.all.each do |zone|
              .checkbox
                %label
                  = hidden_field_tag "shipping[zone_ids][]", ''
                  = check_box_tag "shipping[zone_ids][]", zone.id, @form_shipping.zone_ids.include?(zone.id), :class => 'ace-checkbox-2'
                  = zone.name
      .form-group
        .col-md-offset-3.col-md-9
          = f.submit 'Submit', :class => 'btn btn-primary'
