.cart
  %p.items
    CART
    %span.dark-clr
      (
      = current_cart.line_items.sum('quantity')
      )
  %p.dark-clr.hidden-tablet= format_currency current_cart.total_price
  = link_to current_cart, :class => 'btn btn-danger' do
    %i.icon-shopping-cart
.open-panel
  - if current_cart.line_items.empty?
    .item-in-cart.clearfix
      .desc
        %strong
          %p You have no items in your cart.
  - else 
    - current_cart.line_items.each do |item|
      .item-in-cart.clearfix
        .image
          = link_to (image_tag item.product.attachments.first.file.small, :alt => item.product.name, :height => 124, :width => 124), [item.product.category, item.product]
        .desc
          %strong
            = link_to item.product.name, [item.product.category, item.product]
          %div
            = "#{item.length}mm"
          %span.light-clr.qty
            Qty:
            = item.quantity
            \ 
            = link_to item, :method => :delete, :remote => true, :title => 'Remove item' do
              %i.icon-remove-sign
        .price
          %strong= format_currency item.price
    .summary
      .line
        .row-fluid
          .span6 Subtotal:
          .span6.align-right.size-16= format_currency current_cart.total_price
    .proceed
      = link_to current_cart, :class => 'btn btn-danger pull-right bold higher' do
        CHECKOUT
        %i.icon-shopping-cart