.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} country"
  = form_for [:admin, @country], :html => { :role => 'form' } do |f|
    - if @country.errors.any?
      #errors
        %ul
          - @country.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg 
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :language
        = f.text_field :language, :class => 'form-control'
      .form-group
        = f.label 'ISO 3166-1-alpha-2'
        = f.text_field :iso, :class => 'form-control'
      .checkbox
        %label
          = f.check_box :available
          Available
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last