- content_for :title, 'Countries'
- content_for :breadcrumb, 'Countries'

.twelvecol
  .page-header
    = link_to new_admin_country_path, :class => "btn btn-blue btn-large" do
      %i.icon-plus
    = link_to admin_countries_zones_path, :class => "btn btn-blue btn-large" do
      %i.icon-location
    = link_to admin_countries_tax_rates_path, :class => "btn btn-blue btn-large" do
      %i.icon-coin
    %h2.widget.widget-header Countries
  - if @countries.empty?
    %p You don't have any countries yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Language
            %th ISO 3166-1-alpha-2
            %th Available
            %th
        %tbody
          - @countries.each do |country|
            %tr
              %td= country.name
              %td= country.language
              %td= country.iso
              %td= boolean_helper country.available, "Yes", "No"
              = table_commands country, country, edit_admin_country_path(country), admin_country_path(country), 0

