- content_for :title, 'Shipping countries'
- content_for :breadcrumb, 'Shipping countries'
- content_for :header, 'Shipping countries'
- content_for :subnav do
  %li= link_to 'Methods', admin_countries_path
  %li= link_to 'Tiers', admin_tiers_path
  %li.current
    %a.current Countries
= link_to new_admin_country_path, :class => "btn btn-success" do
  %i.icon-plus
  New country
- if @countries.empty?
  %p You don't have any countries yet.
- else 
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @countries.each do |country|
        %tr
          %td= country.name
          %td= table_commands country, admin_country_path(country), edit_admin_country_path(country), admin_country_path(country), 1
