- content_for :title, 'New country'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Countries', admin_countries_path

.eightcol
  .page-header
    %h2.widget.widget-header New country
  = form_for [:admin, @country], :html => { :role => 'form' } do |f|
    %fieldset.widget.widget-form.widget-last
      - if @country.errors.any?
        #error_explanation
          %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
          %ul
            - @country.errors.full_messages.each do |msg|
              %li= msg  
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :language
        = f.text_field :language, :class => 'form-control'
      .form-group
        = f.label 'ISO 3166-1-alpha-2'
        = f.text_field :iso, :class => 'form-control'
      .checkbox
        %label
          = f.check_box :available
          Available
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue'
.fourcol.last
