<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>Confirm your order</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <h2 class="checkout-header visible-xs">Confirm your order</h2>
      <div class='col-lg-4 col-sm-4'>
          <h3>DELIVERY ADDRESS</h3>
          <%= @delivery_address.full_name %>
          <br/><br/>
          <%= @delivery_address.address %>
          <br/>
          <%= @delivery_address.city %>
          <br/>
          <%= @delivery_address.postcode %>
          <br/>
          <%= @delivery_address.country %>
          <br/>
          <%= @delivery_address.telephone %>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h3>DELIVERY OPTION</h3>
                <%= @order.delivery.full_name %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <h3>CONTACT EMAIL</h3>
              <%= @order.email %>
            </div>
          </div>
      </div>
      <div class='col-lg-4 col-sm-4' id="confirm-order-billing">
          <h3>BILLING ADDRESS</h3>
          <%= @billing_address.full_name %>
          <br/><br/>
          <%= @billing_address.address %>
          <br/>
          <%= @billing_address.city %>
          <br/>
          <%= @billing_address.postcode %>
          <br/>
          <%= @billing_address.country %>
          <br/>
          <%= @billing_address.telephone %>
          <div class="row">
              <div class="col-lg-12 col-sm-12">
                <h3>PAYMENT METHOD</h3>
                <%= image_tag "paypal-icon.png" if paypal_active? && @order.paypal? %>
              </div>
          </div>
      </div>
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4 order-summary'>
        <div id="cart-checkout-container" class="scroller">
          <table id="cart-checkout">
            <tbody>
              <% @order.order_items.each do |item| %>
                <tr>
                  <td>
                    <table class="single-product">
                      <tbody>
                        <tr>
                          <td>
                            <table class="product-details">
                              <tbody>
                                <tr>
                                  <td><%= image_tag item.sku.product.attachments.first.file.square %></td>
                                  <td>
                                    <table class="product-information">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <h3><%= item.sku.product.name %></h3>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><%= render_variants(item.sku) %></td>
                                        </tr>
                                        <% if item.order_item_accessory.present? %>
                                          <tr>
                                            <td><%= item.order_item_accessory.accessory.name %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        <tr>
                          <td>
                            <table class="product-specifics">
                              <tbody>
                                <tr>
                                  <td>Quantity</td>
                                  <td><%= item.quantity %></td>
                                </tr>
                                <tr>
                                  <td>Unit Price</td>
                                  <td id="price"><%= Store::Price.new(price: item.total_price, tax_type: 'net').single %></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="cart-navigation">
          <span>More items</span>
          <i class="icon-arrow-up-2"></i>
          <i class="icon-arrow-down-2"></i>
        </div>
        <form>
          <div id='checkout-calculation'>
            <hr>
            <div id="checkout-breakdown">
              <div>
                <span>SUB-TOTAL:</span>
                <span>DELIVERY:</span>
                <span>TAX:</span>
              </div>
              <div>
                <span><%= Store::Price.new(price: (@order.net_amount - @order.delivery.price), tax_type: 'net').single %></span>
                <span><%= Store::Price.new(price: @order.delivery.price, tax_type: 'net').single %></span>
                <span><%= Store::Price.new(price: @order.tax_amount, tax_type: 'net').single %></span>
              </div>
            </div>
            <hr>
            <div id="checkout-total">
              <div>
                <strong>ORDER TOTAL:</strong>
              </div>
              <div>
                <strong><%= Store::Price.new(price: @order.gross_amount, tax_type: 'net').single %></strong>
              </div>
            </div>
            <hr>
          </div>
          <input class='btn green checkout-button' type='submit' value='CONFIRM ORDER'>
          <div id='checkout-secure'>
            <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
            <span class='text-shipping'>SECURE CHECKOUT</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>     