- content_for :title, 'Confirm your order'

.container
  .row
    / ==========
    / = Main content =
    / ==========
    %section.span12
      .checkout-container
        .row
          .span10.offset1
            / ==========
            / = Header =
            / ==========
            %header
              .row
                .span6.offset2
                  .center-align
                    %h1
                      %span.light Confirm
                      Order
                .span2
                  .right-align
                    = image_tag 'webmarket/buttons/security.jpg', :alt => 'Security', :width => 92, :height => 65
            .row
              .span3
                %h3 Delivery address
                %hr
                = @delivery_address.full_name
                %br
                = @order.email           
                %br
                = @delivery_address.telephone
                %br
                = @delivery_address.company
                %br
                = @delivery_address.address
                %br
                = @delivery_address.city
                %br
                = @delivery_address.postcode
                %br
                = @delivery_address.county
                %br
                = @delivery_address.country
              .span3
                %h3 Billing address
                %hr
                = @billing_address.full_name       
                %br
                = @billing_address.telephone
                %br
                = @billing_address.company
                %br
                = @billing_address.address
                %br
                = @billing_address.city
                %br
                = @billing_address.postcode
                %br
                = @billing_address.county
                %br
                = @billing_address.country
              .span4
                %h3 Payment details
                %hr
                  - if session[:payment_type] == 'express-checkout'
                    = image_tag 'paypal-icon.png'
            %h3 Order details
            %table.table.table-items
              %thead
                %tr
                  %th{colspan: "2"} Item
                  %th
                    .align-center Quantity
                  %th
                    .align-right Price
              %tbody
                - current_cart.cart_items.each do |item|
                  %tr
                    %td.image
                      = image_tag item.sku.product.attachments.first.file.square, :alt => item.sku.product.name, :height => 124, :width => 124
                    %td.desc
                      = item.sku.product.name
                      %div= item.sku.attribute_value unless item.sku.product.single?
                    %td.qty= item.quantity
                    %td.price= Store::Price.new(price: item.total_price).single
                  - unless item.cart_item_accessory.blank?
                    %tr.accessory_row
                      %td.image
                        = image_tag 'http://placehold.it/124x124', :height => 124, :width => 124
                      %td.desc
                        = item.cart_item_accessory.accessory.name
                      %td.qty
                        = item.cart_item_accessory.quantity
                - if Store::settings.tax_breakdown
                  %tr
                    %td{colspan: "2"}
                    \ 
                    %td.stronger{colspan: "2"} Subtotal:
                    %td.stronger
                      .align-right= Store::Price.new(price: @order.net_amount).single
                %tr
                  %td{colspan: "2", rowspan: "1"}
                  \ 
                  %td.stronger{colspan: "2"}
                    Delivery:
                    %div.normal
                      = @order.delivery.full_name 
                  %td.stronger
                    .align-right= Store::Price.new(price: @order.delivery.price, tax_type: 'net').single
                - if Store::settings.tax_breakdown
                  %tr
                    %td{colspan: "2", rowspan: "1"}
                    \ 
                    %td.stronger{colspan: "2"}= "#{Store::settings.tax_name} (#{Store::settings.tax_rate}%):"
                    %td.stronger
                      .align-right= Store::Price.new(price: @order.tax_amount).single
                %tr
                  %td{colspan: "2", rowspan: "1"}

                  %td.stronger{colspan: "2"} Total:
                  %td.stronger
                    .size-16.align-right.total_price= Store::Price.new(price: @order.gross_amount, tax_type: 'net').single
            %p.right-align  
              = link_to 'EDIT ORDER', checkout_carts_path, :class => 'btn higher bold'
              = link_to 'CONFIRM ORDER', complete_order_path(@order), method: :post, :class => 'btn btn-primary higher bold confirm_order'
    / /main content
/ /container
#confirmOrderModal.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "confirmOrderModal", role: "dialog", tabindex: "-1"}
  .modal-header
    %h3#confirmOrderModal
      %span.light Confirming
      Your Order
  .modal-body
    %p Please wait while we process and confirm your order.
    %div.loading-block