- content_for :title, "Order ##{@order.id} unsuccessful"
- content_for :breadcrumb, 'Order unsuccessful'
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container
    .push-up.blocks-spacer
        .row
            %section.span6.offset3.success_failure
                %h1
                    %span.light Order
                    Unsuccessful
                %p 
                    Unfortunately your order was unsuccessful.

                %p= "Your order was unsuccessful for the following reason(s): <strong>#{@order.transactions.last.status_reason}</strong>".html_safe unless @order.transactions.last.status_reason.nil?

                %p= "Error code: <strong>#{@order.transactions.last.error_code}</strong>".html_safe unless @order.transactions.last.error_code.nil?

                %p 
                    If you would like further assistance, please do not hesitate to 
                    %a{:href => 'mailto:gimsonrobotics@gmail.com'} contact
                    us.
                = link_to "Try again", retry_order_url, :class => 'btn btn-primary higher bold'
                = link_to "Cancel order", order_path, method: :delete, :class => 'btn btn-danger bold higher'
