%nav#mp-menu.mp-menu
  .mp-level
    %ul
      %li
        = link_to admin_root_path do
          %i.icon-lab
          %span Categories
      %li
        = link_to admin_products_path do
          %i.fa.fa-th-large
          %span Products
      %li
        = link_to admin_accessories_path do
          %i.icon-power-cord
          %span Accessories
      %li
        = link_to admin_orders_path do
          %i.icon-box-add
          %span Orders
      %li
        = link_to admin_delivery_services_path do
          %i.icon-airplane
          %span Delivery
      %li
        = link_to admin_zones_path do
          %i.icon-location
          %span Zones
    %ul#mobile-secondary-menu
      %li
        = link_to admin_pages_path do
          %i.icon-file-2
          %span Pages
      %li
        = link_to root_path, target: '_blank' do
          %i.icon-screen
          %span Storefront
      %li
        = link_to admin_settings_path do
          %i.icon-cog
          %span Settings