%h1 Listing variants

%table
  %tr
    %th Type
    %th Measurement
    %th
    %th
    %th

  - @variants.each do |variant|
    %tr
      %td= variant.type
      %td= variant.measurement
      %td= link_to 'Show', variant
      %td= link_to 'Edit', edit_variant_path(variant)
      %td= link_to 'Destroy', variant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Variant', new_variant_path
