.eightcol
  .page-header
    %h2.widget.widget-header= "#{yield :breadcrumb} attribute type"
  = form_for [:admin, :products, :skus, @attribute_type], html: { role: 'form' } do |f|
    - if @attribute_type.errors.any?
      #errors
        %ul
          - @attribute_type.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group.form-last
        = f.label :measurement
        = f.text_field :measurement, :class => 'form-control'
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last

