- content_for :title, 'Edit country tax rate'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Countries', admin_countries_path
- breadcrumb_add 'Tax rates', admin_countries_tax_rates_path

.eightcol
  .page-header
    %h2.widget.widget-header Edit tax rate
  = form_for [:admin, :countries, @tax_rate], :html => { :role => 'form' } do |f|
    - if @tax_rate.errors.any?
      #errors
        %ul
          - @tax_rate.errors.full_messages.each do |msg|
            %li
              %i.icon-cancel-circle
              = msg  
    %fieldset.widget.widget-content.widget-last
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
      .form-group
        = f.label :rate
        = f.text_field :rate, :class => 'form-control'
      .form-group.form-last
        = f.label 'Countries'
        - if @countries.empty?
          %p No countries to select.
        - else
          - @countries.each do |country|
            .checkbox.blocked
              %label
                = hidden_field_tag "tax_rate[country_ids][]", ''
                = check_box_tag "tax_rate[country_ids][]", country.id, @tax_rate.countries.map{|c| c.id}.include?(country.id), :class => 'ace-checkbox-2'
                = country.name
    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
