- content_for :title, 'Country tax rates'
- content_for :breadcrumb, 'Country tax rates'

.twelvecol
  .page-header
    = link_to new_admin_countries_tax_rate_path, :class => "btn btn-blue btn-large" do
      %i.icon-plus
    %h2.widget.widget-header Country tax rates
  - if @tax_rates.empty?
    %p You don't have any tax rates yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Rate
            %th Countries
            %th
        %tbody
          - @tax_rates.each do |tax_rate|
            %tr
              %td= tax_rate.name
              %td= tax_rate.rate
              %td
                %ul 
                  - tax_rate.countries.each do |country|
                    %li
                      = country.name
              = table_commands tax_rate, admin_countries_tax_rate_path(tax_rate), edit_admin_countries_tax_rate_path(tax_rate), admin_countries_tax_rate_path(tax_rate), 1

