- content_for :title, 'Countries'
- content_for :breadcrumb, 'Countries'
- breadcrumb_add 'Zones', admin_zones_path

.twelvecol
  .page-header
    = link_to new_admin_zones_country_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add country" do
      %i.icon-plus
    %h2.widget.widget-header Countries
  - if @countries.empty?
    %p You don't have any countries yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Language
            %th ISO 3166-1-alpha-2
            %th
        %tbody
          - @countries.each do |country|
            %tr
              %td= country.name
              %td= country.language
              %td= country.iso
              = table_commands country, 'edit', 'delete'

