.row-fluid
  .span-12
    = form_for [:admin, @tier], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
      - if @tier.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tier.errors.count, "error")} prohibited this tier from being saved:"
          %ul
            - @tier.errors.full_messages.each do |msg|
              %li= msg
      .control-group
        = f.label :length_start, :class => 'control-label'
        .controls
          = f.text_field :length_start, :class => 'form-control'
      .control-group
        = f.label :length_end, :class => 'control-label'
        .controls
          = f.text_field :length_end, :class => 'form-control'
      .control-group
        = f.label :weight_start, :class => 'control-label'
        .controls
          = f.text_field :weight_start, :class => 'form-control'
      .control-group
        = f.label :weight_end, :class => 'control-label'
        .controls
          = f.text_field :weight_end, :class => 'form-control'
      .control-group
        = f.label :thickness_start, :class => 'control-label'
        .controls
          = f.text_field :thickness_start, :class => 'form-control'
      .control-group
        = f.label :thickness_end, :class => 'control-label'
        .controls
          = f.text_field :thickness_end, :class => 'form-control'
      %h3.header.smaller.lighter.blue Shipping options
      .control-group
        .controls
          - if Shipping.active.all.empty? 
            %p No shipping options to select.
          - else
            - Shipping.active.all.each do |shipping|
              %label
                = hidden_field_tag "tier[shipping_ids][]", ""
                = check_box_tag "tier[shipping_ids][]", shipping.id, @tier.shipping_ids.include?(shipping.id), :class => 'ace-checkbox-2'
                %span.lbl
                  = shipping.name
                  = ' - '
                  %b= format_currency shipping.price
      .form-actions
        = button_tag(:type => 'submit', :class => 'btn btn-info') do
          %i.icon-ok
          Submit
