<div aria-hidden="true" aria-labelledby="deliveryServiceModalLabel" class="modal fade" id="delivery-service-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="errors" class="json">
        <ul>
        </ul>
      </div>
      <div class="modal-header">
        <h3 id="orderModalLabel">
          <%= t('delivery_services.countries_modal.header') %>
        </h3>
      </div>
      <div class="modal-body">
        <p><%= t('delivery_services.countries_modal.description') %></p>
        <div class="form-group form-last"></div>
        <%= select_tag :delivery_service_id, options_for_select(delivery_services.map { |delivery_service| [delivery_service.full_name, delivery_service.id ] }), prompt: t('delivery_services.countries_modal.select_prompt') , :class => 'form-control' %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-orange btn-large" data-dismiss="modal" type="button"><%= t('delivery_services.countries_modal.close_modal') %></button>
        <a href="#" id="set-countries" class="btn btn-blue btn-large"><%= t('delivery_services.countries_modal.submit_button') %></a>
      </div>
    </div>
  </div>
</div>