<html style="width: 100%; margin-top: 0px !important; padding-top: 0px !important;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css">
<title><%= Store::settings.name %> - <%= yield :title %></title>
<style type="text/css">
div, p, a, li, td { -webkit-text-size-adjust:none; }
strong { font-weight:bold;}
</style>  
</head>
<body bgcolor="#ffffff" style="background-color:#ffffff;">
    <table width="100%" bgcolor="#ffffff" style="background-color:#ffffff;" border="0">
        <tr>
            <td width="33%"><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '1' %></td>
            <td>
            <!--HEADER-->    
                <table border="0" width="600" height="50" bgcolor="#EEEEEE" style="background-color:#EEEEEE;border-bottom:1px #cccccc solid;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                    </tr>
                    <tr align="left">
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '20', :height => '50' %></td>
                        <td>
                            <%= link_to root_url, target: '_blank' do %>
                                <% if Store::settings.attachment %>
                                    <%= image_tag "#{Store::settings.attachment.file.square}", :alt => Store::settings.name, :style => 'display:block; border:none;', :width => 50, :height => 50 %>
                                <% else %>
                                    <img src="http://placehold.it/50x50", style="display:block; border:none;"/>
                                <% end %>
                            <% end %>
                        </td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '10', :height => '50' %></td>
                        <td align="left" width="500" height="50" ><p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;"><strong><%= yield :header_1 %></strong><br/><%= yield :header_2 %></p></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '20', :height => '50' %></td>
                    </tr>
                    <tr>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                    </tr>
                </table>
            <!--HEADER END-->   
                
            <!--MAIN CONTENT-->
            <!-- top padding -->
            <table bgcolor="#ffffff" border="0" width="600" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
                <tr>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                </tr>
            </table> 

            <table bgcolor="#ffffff" border="0" width="600" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
                <%= yield %>
            </table> 
      

            <!-- bottom padding -->
            <table bgcolor="#ffffff" border="0" width="600" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
                <tr>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                    <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '30' %></td>
                </tr>
            </table> 
            <!--MAIN CONTENT END-->       
            <!--FOOTER-->  
                <!-- Main Footer -->
              <table border="0" width="600" height="50" bgcolor="#EEEEEE" style="background-color:#EEEEEE;border-top:1px #cccccc solid;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                    </tr>
                    <tr align="left">
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '50', :height => '42' %></td>
                        <td align="left" width="500" height="37">
                            <% unless yield(:additional_info).nil? %>
                                <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #666666 !important; font-size: 10px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;">
                                    <%= yield :additional_info %>
                                </p> 
                            <% end %>
                            <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #666666 !important; font-size: 10px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;">Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of <%= Store::settings.name %>.</p>
                            <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #9e9e9e !important; font-size: 10px; line-height: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;">Copyright 2014 <%= Store::settings.name %>. All rights reserved.</p>
                        </td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '50', :height => '42' %></td>
                    </tr>
                    <tr>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                        <td><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '20' %></td>
                    </tr>
                </table>
            <!--FOOTER END-->               
            </td>
            <td width="33%"><%= image_tag "#{Settings.email.root}/clear.gif", :style => 'block', :width => '1', :height => '1' %></td>
        </tr>
    </table>
</body>
</html>