- content_for :title, 'List categories'
- content_for :breadcrumb, 'Categories'
.page-header
  %h1 Listing categories
  = link_to new_admin_category_path, :class => "btn btn-success" do
    %i.icon-plus
    New category
- if @category.empty?
  %p You don't have any categories yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Visiblity
        %th No. of products
        %th
    %tbody
      - @category.each do |category|
        %tr
          %td= category.name
          %td= category.description
          %td= boolean_helper category.visible, "Yes", "No"
          %td= category.products.count
          %td
            = table_commands category, category, edit_admin_category_path(category), admin_category_path(category), 0
