<%= form_for [:admin, @product], html: {role: 'form', method: :patch} do |f| %>
  <div class="threecol"></div>
  <div class="ninecol last">
    <%= render partial: 'shared/errors', format: [:html], locals: { object: @product }  %>
  </div>
  <%= render 'admin/products/section/basic_details', format: [:html], f: f %>
  <%= render 'admin/products/section/images', format: [:html], f: f %>
  <%= render 'admin/products/section/skus', format: [:html], f: f %>
  <%= render 'admin/products/section/associations', format: [:html], f: f %>
  <%= render 'admin/products/section/additional_options', format: [:html], f: f %>
  <%= googlemerchant_product_fields(f) if Modulatron4000.googlemerchant? %>
  <div class="threecol"></div>
  <div class="ninecol last">
    <div class="form-action">
      <%= f.submit 'Publish', :class => 'btn btn-green btn-large' %>
      <%= f.submit 'Save', :class => 'btn btn-blue btn-large' %>
    </div>
  </div>
<% end %>
<div id="sku-modal"></div>
<div id="sku-variants-modal"></div>
<div id="attachment-modal"></div>
<div id="attachment-preview-modal"></div>