<div class="ajax_fields skus">
    <div class="control-group">
      <%= f.label :weight, 'Weight (kg)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :weight, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :length, 'Length (mm)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :length, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :thickness, 'Thickness (mm)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :thickness, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :cost_value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cost_value, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :stock, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :stock, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :stock_warning_level, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :stock_warning_level, :class => 'form-control' %>
      </div>
    </div> 
    <div class="control-group">
      <%= f.label :attribute_value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :attribute_value, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :attribute_type_id, :class => 'control-label' %>
      <div class="controls">
        <% if AttributeType.all.empty? %>
          <p>No attribute types to select</p>
        <% else %>
          <%= f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }), { :include_blank => 'Please select...'}) %>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= link_to_remove_fields "Remove", f, "skus" %>
      </div>
    </div>
</div>
