%tr.skus.ajax-fields
  %td
    = f.text_field :sku
  %td
    = f.text_field :weight
  %td
    = f.text_field :length
  %td
    = f.text_field :thickness
  %td
    = f.text_field :attribute_value
  %td.select
    = f.select(:attribute_type_id, options_for_select(AttributeType.all.map { |type| [type.name, type.id] }), { :include_blank => 'Select...'}, { :class => 'form-control' })
  %td
    = f.text_field :stock
  %td
    = f.text_field :stock_warning_level
  %td
    = f.text_field :cost_value
  %td
    = f.text_field :price
  %td
    = link_to_remove_fields "<i class='icon-remove'></i>".html_safe, f, "skus"