- content_for :title, 'Edit product'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Products', admin_products_path
- javascript 'products'

.twelvecol
  .page-header
    %h2.widget.widget-header Edit product
  = form_for [:admin, @product], :html => {:role => 'form' }, :remote => true do |f|
    #errors.json
      %ul
          
    = render 'admin/products/section/basic_details', :f => f

    = render 'admin/products/section/edit_images', :f => f

    = render 'admin/products/section/edit_skus', :f => f

    = render 'admin/products/section/associations', :f => f

    = render 'admin/products/section/edit_tags', :f => f

    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'

#stock-level-modal
#sku-modal
   
