- content_for :title, 'Edit product'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Products', admin_products_path

.twelvecol
  .page-header
    %h2.widget.widget-header New product
  = form_for [:admin, @product], :html => { :class => 'new_product', :role => 'form' }, :remote => true do |f|
    #errors.json
      %ul
        - @product.errors.full_messages.each do |msg|
          %li
            %i.icon-cancel-circle
            = msg  
    
    = render 'admin/products/section/basic_details', :f => f

    = render 'admin/products/section/edit_images', :f => f

    = render 'admin/products/section/edit_skus', :f => f

    = render 'admin/products/section/associations', :f => f

    = render 'admin/products/section/edit_tags', :f => f

    .form-action
      = f.submit 'Submit', :class => 'btn btn-blue btn-large'
   
