<% content_for :title, 'Edit product'
   content_for :breadcrumb, 'Edit'
   breadcrumb_add 'Products', admin_products_path
   content_for :header, "Editing #{@product.name}"
   content_for :hide_sub_navigation, 'hide_subnav' %>
   
<div class="row-fluid">
  <div class="col-md-6">
    <%= form_for [:admin, @product], :html => { :class => 'form-horizontal new_product', :role => 'form' } do |f| %>
      <fieldset>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% unless @product.errors.empty? %>
        <div class="form-group">
          <%= f.label :part_number, :class => 'control-label col-md-3' %>
          <div class="col-md-9">
            <%= f.text_field :part_number, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :sku, "SKU", :class => 'control-label col-md-3' %>
          <div class="col-md-9">
            <%= f.text_field :sku, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :name, :class => 'control-label col-md-3' %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :meta_description, :class => 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_area :meta_description, :rows => 6, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, :class => 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_area :description, :rows => 6, :class => 'form-control redactor' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :weighting, :class => 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :weighting, :class => 'form-control' %>
        </div>
      </div>
      <h3 class="header smaller lighter blue attachment_header">Images <%= link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :attachments,"#image_fields" %></h3>
      <div id="attachments">
        <% if @product.attachments.empty? %>
        <div class="form-group">
          <div class="col-md-9">
            <p>This product currently has no attachments.</p>
          </div>
        </div>
        <% else %>
          <% @product.attachments.each do |attachment| %>
          <div id="attachment_<%= attachment.id %>" class="foreign_list">
            <div class="form-group">
              <div class="control-label col-md-3">Description:</div>
              <div class="col-md-9">
                <div class="form-control"><%= attachment.description %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Image:</div>
              <div class="col-md-9">
                <div class="form-control"><%= image_tag attachment.file.small %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9">
                <%= link_to "Remove", admin_products_attachment_path(attachment), :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'btn btn-danger btn-mini' %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <div id="image_fields" class="edit_field"></div>
      </div>
      <h3 class="header smaller lighter blue">Categories</h3>
      <div class="form-group">
        <div class="col-md-9">
          <% if Category.all.empty? %>
            <p>No categories to select.</p>
          <% else %>
            <% Category.all.each do |category| %>
              <label>
                <%= f.radio_button :category_id, category.id %>
                <span class="lbl"><%= category.name %></span>
              </label>
            <% end %>
          <% end %>
        </div>
      </div>
      <h3 class="header smaller lighter blue">Accessories</h3>
      <div class="form-group">
        <div class="col-md-9">
          <% if Accessory.all.empty? %>
            <p>No accessories to select.</p>
          <% else %>
            <% Accessory.all.each do |option| %>
              <label>
                <%= hidden_field_tag "product[accessory_ids][]", ''%>
                <%= check_box_tag "product[accessory_ids][]", option.id, @product.accessory_ids.include?(option.id), :class => 'ace-checkbox-2' %>
                <span class="lbl"><%= option.name %></span>
              </label>
            <% end %>
          <% end %>
        </div>
      </div>
      <h3 class="header smaller lighter blue sku_header">SKUs <%= link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :skus, "#sku_fields" %></h3>
      <div id="skus">
        <% if @product.skus.active.empty? %>
        <div class="form-group">
          <div class="col-md-9">
            <p>This product currently has no SKUs.</p>
          </div>
        </div>
        <% else %>
          <% @product.skus.active.each do |sku| %>
          <div id="sku_<%= sku.id %>" class="foreign_list">
            <div class="form-group">
              <div class="control-label col-md-3">Cost value:</div>
              <div class="col-md-9">
                <div class="form-control"><%= format_currency sku.cost_value %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Price:</div>
              <div class="col-md-9">
                <div class="form-control"><%= format_currency sku.price %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Weight (kg):</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.weight %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Length (mm):</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.length %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Thickness (mm):</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.thickness %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Stock:</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.stock %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Stock warning level:</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.stock_warning_level %></div>
                <hr>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Attribute value:</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.attribute_value %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-3">Attribute type:</div>
              <div class="col-md-9">
                <div class="form-control"><%= sku.attribute_type.name %></div>
                <hr>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9">
                <%= link_to "Remove", admin_products_sku_path(sku), :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'btn btn-danger btn-mini' %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <div id="sku_fields"  class="edit_field"></div>
      </div>
      <h3 class="header smaller lighter blue">Tags <%= link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :tags,"#tag_fields" %></h3>
      <div id="tags">
        <% if @product.tags.empty? %>
        <div class="form-group">
          <div class="col-md-9">
            <p>This product currently has no tags.</p>
          </div>
        </div>
        <% else %>
          <% @product.tags.each do |tag| %>
          <div id="tag_<%= tag.id %>" class="foreign_list">
            <div class="form-group">
              <div class="control-label col-md-3">Name:</div>
              <div class="col-md-9">
                <div class="form-control"><%= tag.name %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9">
                <%= link_to "Remove", admin_products_tag_path, :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'btn btn-danger btn-mini' %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <div id="tag_fields" class="edit_field"></div>
      </div>
      <div class="form-group">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
      </div>
      </fieldset>
    <% end %>
  </div>
</div>