- content_for :title, 'Products'
- content_for :breadcrumb, 'Products'

.twelvecol
  .page-header
    = link_to new_admin_product_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add product" do
      %i.icon-plus
    = link_to admin_products_skus_attribute_types_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Attribute types" do
      %i.icon-filter-2
    %h2.widget.widget-header Products
  .widget-controls
    %select#filter-product-category.form-select
      %option.filter{"data-filter" => "all"} Show all
      %option.filter{"data-filter" => ".product-published"} Published
      %option.filter{"data-filter" => ".product-draft"} Draft
      %option.filter{"data-filter" => ".product-featured"} Featured
      - @categories.each do |category|
        %option.filter{"data-filter" => ".category-#{category.slug}"}= category.name
    %span Filter by:
    %select#sort-product.form-select.widget-control-margin
      %option.sort{"data-sort" => "default"} Weighting ↑
      %option.sort{"data-sort" => "weighting:asc"} Weighting ↓
      %option.sort{"data-sort" => "name:desc"} Name ↑
      %option.sort{"data-sort" => "name:asc"} Name ↓
      %option.sort{"data-sort" => "popularity:desc"} Popularity
    %span Sort by:
  - if @products.empty?
    %p You don't have any products yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-margin
        %thead.main-table
          %tr
            %th SKU
            %th Part no.
            %th Name
            %th.inner-table
              %table
                %thead
                  %tr
                    %th Variant
                    %th Net price
                    %th Gross Price
            %th
        %tbody.mixitup
          - @products.each do |product|
            %tr.mix{:class => product_filter_classes(product), "data-name" => product.slug, "data-weighting" => product.weighting, "data-popularity" => product.order_count}
              %td.sku= product.sku
              %td.part-no= product.part_number
              %td.name= product.name
              %td.inner-table
                %table
                  %tbody
                    - product.skus.each do |sku|
                      %tr
                        %td= "#{sku.attribute_value}#{sku.attribute_type.measurement}" unless sku.attribute_value.nil? && sku.attribute_type.nil?
                        %td= Store::Price.new(sku.price, 'net').single
                        %td.align-left= Store::Price.new(sku.price, 'gross').single
              = table_actions [:admin, product], 'edit', 'delete'

              