- content_for :title, 'Transactions'
- content_for :breadcrumb, 'Transactions'
- content_for :header, 'Transactions'
- content_for :subnav do
  %li= link_to 'Orders', admin_orders_path
  %li.current
    %a.current Transactions
- if @transactions.empty?
  %p You don't have any transactions yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Transaction ID
        %th Order no.
        %th Transaction Type
        %th Payment Type
        %th Payment Status
        %th Status reason
        %th Fee
        %th Net amount
        %th Gross amount
        %th Last updated
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= link_to transaction.transaction_id, "#{Global.paypal.transaction_link}#{transaction.transaction_id}", :target => '_blank'
          %td
            = link_to transaction.order_id, admin_order_path(transaction.order_id)
          %td= transaction.transaction_type
          %td= transaction.payment_type
          %td= transaction.payment_status
          %td= transaction.status_reason
          %td= format_currency transaction.fee unless transaction.fee.nil?
          %td= format_currency transaction.net_amount
          %td= format_currency transaction.gross_amount
          %td= transaction.updated_at.strftime('%d/%m/%Y at %I:%M%p')