<div aria-hidden="true" aria-labelledby="transactionModalLabel" class="modal fade" id="transaction-info" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="orderModalLabel">
          <%= t('orders.transactions.modal.header') %>
          <%= "##{@transaction.id}" %>
        </h3>
      </div>
      <div class="modal-body">
        <p><b><%= t('orders.transactions.modal.error_code') %></b>: <%= transaction.error_code.present? ? transaction.error_code : t('global.none_available') %></p>
        <% if @transaction.order.stripe? && Modulatron4000.stripe? %>
          <p><b><%= t('orders.transactions.modal.stripe_charge_id') %></b>: <%= @transaction.stripe_charge_id.present? ? link_to(@transaction.stripe_charge_id, "#{Rails.application.secrets.stripe_charge_url}#{@transaction.stripe_charge_id}", target: '_blank') : "None Available" %></p>
        <% elsif @transaction.order.paypal? && Modulatron4000.paypal? %>
          <p><b><%= t('orders.transactions.modal.paypal_transaction_id') %></b>: <%= @transaction.paypal_id %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-orange btn-large" data-dismiss="modal" type="button"><%= t('modal.close_button') %></button>
      </div>
    </div>
  </div>
</div>
