%td= @transaction.transaction_type
%td= @transaction.payment_type 
%td= link_to @transaction.paypal_id, "#{Global.paypal.transaction_link}#{@transaction.paypal_id}", :target => '_blank' if @transaction.paypal_id
%td= payment_status @transaction.payment_status
%td= format_currency @transaction.fee
%td= format_currency @transaction.net_amount
%td= format_currency @transaction.gross_amount
%td.align-left= @transaction.updated_at.strftime('%B %-d, %Y, %I:%M %P')