.row
  .col-lg-6
    .well   
      = form_for @product_option, :html => { :class => 'form-horizontal', :role => 'form' } do |f|
        %fieldset
        - if @product_option.errors.any?
          #error_explanation
            %h2= "#{pluralize(@product_option.errors.count, "error")} prohibited this product_option from being saved:"
            %ul
              - @product_option.errors.full_messages.each do |msg|
                %li= msg
        %legend Details
        .form-group
          = f.label :name, :class => 'control-label col-lg-2'
          .col-lg-10
            = f.text_field :name, :class => 'form-control'
        .form-group
          = f.label :price, :class => 'control-label col-lg-2'
          .col-lg-10
            = f.text_field :price, :class => 'form-control'
        .actions
          = f.submit :class => 'btn btn-success'
