- content_for :title, 'List categories'
- content_for :breadcrumb, 'Categories'
.page-header
  %h1 Listing categories
  = link_to new_category_path, :class => "btn btn-success" do
    %i.icon-plus
    New category

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Description
      %th
  %tbody
    - @category.each do |category|
      %tr
        %td= category.id
        %td= link_to category.name, category
        %td= category.description
        %td
          = table_commands category, edit_category_path(category)
