.page-header
  %h1 Listing categories
  = link_to new_category_path, :class => "btn btn-success" do
    %i.icon-plus
    Add category

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Description
      %th Actions
  %tbody
    - @category.each do |category|
      %tr
        %td= category.id
        %td= link_to category.name, category
        %td= category.description
        %td
          = link_to 'Edit', edit_category_path(category), :class => "btn btn-success"
          = link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
