%h1 
    = @category.name

#category_description
    = @category.description

%hr


    - @category.products.each_slice(3) do |slice|
        .row
            - slice.each do |product|
                .col-3.vertical_product
                    = link_to image_tag(product.image_url.medium), line_items_path(:product_id => product), :method => :post, :remove => true
                    %h3
                        = product.name
                    .price
                    = link_to 'Add to cart', line_items_path(:product_id => product), :remote => true, :method => 'post', :class => 'btn btn-success btn-small'
                    = link_to 'Find out more', product, :class => 'btn btn-info btn-small'
