<% content_for :title, t('users.edit.title') %>
<% content_for :breadcrumb, t('users.edit.breadcrumb') %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header"><%= t('users.edit.header') %></h2>
  </div>
  <%= form_for @user, url: admin_profile_update_path, html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <% if @user.errors.any? %>
        <div id="errors">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li>
                <i class="icon-cancel-circle"></i>
                <%= msg  %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="threecol">
      <h3><%= t('users.edit.profile_settings.header') %></h3>
      <p><%= t('users.edit.profile_settings.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content widget-last">
        <div class="form-group">
          <%= f.label t('users.edit.profile_settings.first_name_label') %>
          <%= f.text_field :first_name, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label t('users.edit.profile_settings.last_name_label') %>
          <%= f.text_field :last_name, :class => 'form-control' %>
        </div>
        <%= f.fields_for :attachment do |ff| %>
          <div class="form-group">
            <%= ff.label t('users.edit.profile_settings.profile_picture_label') %>
            <div>
              <%= image_tag @user.attachment.file.square, width: 75, height: 75 %>
            </div>
            <div>
              <%= ff.file_field :file %>
            </div>
          </div>
        <% end %>
      </fieldset>
      <div class="form-action">
        <%= f.submit t('users.edit.submit_button'), :class => 'btn btn-blue btn-large' %>
      </div>
    </div>
  <% end %>
</div>