- content_for :title, 'Profile'
- content_for :breadcrumb, 'Profile'

.twelvecol
  .page-header
    %h2.widget.widget-header Profile
  = form_for @user, url: admin_profile_update_path, html: { role: 'form' } do |f|
    .threecol
    .ninecol.last
      - if @user.errors.any?
        #errors
          %ul
            - @user.errors.full_messages.each do |msg|
              %li
                %i.icon-cancel-circle
                = msg 
    .threecol
      %h3 Profile settings
      %p Set the name and profile picture for your administration account.
    .ninecol.last
      %fieldset.widget.widget-content.widget-last
        .form-group
          = f.label :first_name
          = f.text_field :first_name, :class => 'form-control'
        .form-group
          = f.label :last_name
          = f.text_field :last_name, :class => 'form-control'
        = f.fields_for :attachment do |ff|
          .form-group
            = ff.label "Profile picture"
            %div= image_tag @user.attachment.file.square, width: 75, height: 75
            %div= ff.file_field :file
      .form-action
        = f.submit 'Submit', :class => 'btn btn-blue btn-large'
.fourcol.last
