<% content_for :title, 'Dashboard' %>
<% content_for :breadcrumb, 'Dashboard' %>
<% javascript :header, 'admin/chart' %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header">Dashboard</h2>
    </div>
    <div class="widget-sub-heading">
        <h3>Orders</h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="twelvecol">
                <canvas id="ordersLineChart" width="1140" height="400" class="line-chart"></canvas>
                <%= render partial: 'shared/chart/line', format: [:html], locals: { 
                        datasets:  Hash(completed: { color: "141,199,63", data: @dashboard[:completed_per_month]}, failed: { color: "205,38,38", data: @dashboard[:failed_per_month]}),
                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        id: 'ordersLineChart' 
                    }
                %>
            </div>
        </div>
        <div class="row">
            <div class="fourcol">
                <div class="single-stat">
                    <div class="green-stat"><%= @dashboard[:completed] %></div>
                    <div>Completed</div>
                </div>
            </div>
            <div class="fourcol">
                <div class="single-stat">
                    <div class="orange-stat"><%= @dashboard[:pending] %></div>
                    <div>Pending</div>
                </div>
            </div>
            <div class="fourcol last">
                <div class="single-stat">
                    <div class="red-stat"><%= @dashboard[:failed] %></div>
                    <div>Failed</div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-sub-heading">
        <h3>Transactions</h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="threecol">
                <canvas id="piePaymentTypeChart" width="300" height="300" class="pie-chart"></canvas>
                <%= render partial: 'shared/chart/pie', format: [:html], locals: {
                        datasets:  Order.pie_datasets,
                        id: 'piePaymentTypeChart'
                    } %>
            </div>
            <div class="ninecol last">
                <div class="row double-stack-fourcol-stat">
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="green-stat"><%= Store::Price.new(price: @dashboard[:gross_total]).single %></div>
                            <div>Gross income</div>
                        </div>
                    </div>
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="purple-stat"><%= Store::Price.new(price: @dashboard[:net_total]).single %></div>
                            <div>Net income</div>
                        </div>
                    </div>
                    <div class="fourcol last">
                        <div class="single-stat price-stat">
                            <div class="red-stat"><%= Store::Price.new(price: @dashboard[:tax_total]).single %></div>
                            <div>Tax</div>
                        </div>
                    </div>
                </div>
                <div class="row double-stack-fourcol-stat">
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="blue-stat"><%= Store::Price.new(price: @dashboard[:provider_fee_total]).single %></div>
                            <div>Provider Fees</div>
                        </div>
                    </div>
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="orange-stat"><%= Store::Price.new(price: @dashboard[:delivery_fees]).single %></div>
                            <div>Delivery Fees</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-sub-heading">
        <h3>Activity</h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="sixcol">
                <div class="single-stat">
                    <div class="green-stat"><%= @dashboard[:active_carts] %></div>
                    <div>Active Carts</div>
                </div>
            </div>
            <div class="sixcol last">
                <div class="single-stat">
                    <div class="orange-stat"><%= @dashboard[:incomplete_orders] %></div>
                    <div>Incomplete Orders</div>
                </div>
            </div>
        </div>
    </div>
</div>