<% content_for :title, t('dashboard.header') %>
<% content_for :breadcrumb, t('dashboard.header') %>
<% javascript :header, 'admin/chart' %>

<div class="twelvecol">
    <div class="page-header">
        <h2 class="widget widget-header"><%= t('dashboard.header') %></h2>
    </div>
    <div class="widget-sub-heading">
        <h3><%= t('dashboard.orders') %></h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="twelvecol">
                <canvas id="ordersLineChart" width="1140" height="400" class="line-chart"></canvas>
                <%= render partial: 'shared/chart/line', format: [:html], locals: { 
                        datasets:  Hash(completed: { color: "141,199,63", data: @dashboard[:completed_per_month]}, failed: { color: "205,38,38", data: @dashboard[:failed_per_month]}),
                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        id: 'ordersLineChart' 
                    }
                %>
            </div>
        </div>
        <div class="row">
            <div class="fourcol">
                <div class="single-stat">
                    <div class="green-stat"><%= @dashboard[:completed] %></div>
                    <div><%= t('dashboard.completed_orders') %></div>
                </div>
            </div>
            <div class="fourcol">
                <div class="single-stat">
                    <div class="orange-stat"><%= @dashboard[:pending] %></div>
                    <div><%= t('dashboard.pending_orders') %></div>
                </div>
            </div>
            <div class="fourcol last">
                <div class="single-stat">
                    <div class="red-stat"><%= @dashboard[:failed] %></div>
                    <div><%= t('dashboard.failed_orders') %></div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-sub-heading">
        <h3><%= t('dashboard.transactions') %></h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="threecol">
                <canvas id="piePaymentTypeChart" width="300" height="300" class="pie-chart"></canvas>
                <%= render partial: 'shared/chart/pie', format: [:html], locals: {
                        datasets:  Order.pie_datasets,
                        id: 'piePaymentTypeChart'
                    } %>
            </div>
            <div class="ninecol last">
                <div class="row double-stack-fourcol-stat">
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="green-stat"><%= Store::Price.new(price: @dashboard[:gross_total]).single %></div>
                            <div><%= t('dashboard.gross_income_transactions') %></div>
                        </div>
                    </div>
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="purple-stat"><%= Store::Price.new(price: @dashboard[:net_total]).single %></div>
                            <div><%= t('dashboard.net_income_transactions') %></div>
                        </div>
                    </div>
                    <div class="fourcol last">
                        <div class="single-stat price-stat">
                            <div class="red-stat"><%= Store::Price.new(price: @dashboard[:tax_total]).single %></div>
                            <div><%= t('dashboard.tax_transactions') %></div>
                        </div>
                    </div>
                </div>
                <div class="row double-stack-fourcol-stat">
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="blue-stat"><%= Store::Price.new(price: @dashboard[:provider_fee_total]).single %></div>
                            <div><%= t('dashboard.provider_fees_transactions') %></div>
                        </div>
                    </div>
                    <div class="fourcol">
                        <div class="single-stat price-stat">
                            <div class="orange-stat"><%= Store::Price.new(price: @dashboard[:delivery_fees]).single %></div>
                            <div><%= t('dashboard.delivery_fees_transactions') %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-sub-heading">
        <h3><%= t('dashboard.activity') %></h3>
    </div>
    <div class="widget widget-content widget-chart">
        <div class="row">
            <div class="sixcol">
                <div class="single-stat">
                    <div class="green-stat"><%= @dashboard[:active_carts] %></div>
                    <div><%= t('dashboard.activity_active_carts') %></div>
                </div>
            </div>
            <div class="sixcol last">
                <div class="single-stat">
                    <div class="orange-stat"><%= @dashboard[:incomplete_orders] %></div>
                    <div><%= t('dashboard.activity_incomplete_orders') %></div>
                </div>
            </div>
        </div>
    </div>
</div>