<% content_for :title, 'Settings' %>
<% content_for :breadcrumb, 'Settings' %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">Settings</h2>
  </div>
  <%= form_for @settings, url: admin_settings_update_path, html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @settings } %>
    </div>
    <div class="threecol">
      <h3>Store details</h3>
      <p>Set the name, email, logo and theme of you store. The email will be used for the contact form and important administration updates.</p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, :class => 'form-control' %>
        </div>
        <%= f.fields_for :attachment do |ff| %>
          <div class="form-group">
            <%= ff.label "Logo" %>
            <div>
              <%= image_tag @settings.attachment.file.square, width: 75, height: 75 %>
            </div>
            <div>
              <%= ff.file_field :file %>
            </div>
          </div>
        <% end %>
        <div class="form-group form-last">
          <%= f.label 'Theme' %>
          <%= f.select :theme_name, options_for_select(Store.ThemeTools.list.map { |theme| [theme.split('-').join(' ').titleize, theme] }, @settings.theme_name ), { include_blank: false }, { :class => 'form-control' } %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3>Tax</h3>
      <p>Set the name and percentage rate of your tax.</p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label 'Name' %>
          <%= f.text_field :tax_name, :class => 'form-control' %>
        </div>
        <div class="form-group form-last">
          <%= f.label 'Rate' %>
          <%= f.text_field :tax_rate, :class => 'form-control' %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3>Currency & price display</h3>
      <p>Set the currency unit you are operating with in your store and whether you would like your customers to view product prices including and excluding tax.</p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label 'Currency unit' %>
          <%= f.text_field :currency, :class => 'form-control' %>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :tax_breakdown, true %>
            Price inc. & exc. tax
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :tax_breakdown, false %>
            Price inc. tax
          </label>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3>PayPal</h3>
      <p>Select the currency you will be accepting with your PayPal account.</p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label 'Currency code' %>
          <%= f.select :paypal_currency_code, options_for_select(Payatron4000::Paypal.currency_codes.map { |code| [code, code] }, @settings.paypal_currency_code ), { include_blank: false }, { :class => 'form-control' } %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3>Google Analytics</h3>
      <p>Enable and set the web tracking code for your store. </p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content widget-last">
        <div class="form-group">
          <%= f.label 'Web tracking code' %>
          <%= f.text_field :ga_code, :class => 'form-control' %>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :ga_active, true %>
            Enabled
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :ga_active, false %>
            Disabled
          </label>
        </div>
      </fieldset>
      <div class="form-action">
        <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
      </div>
    </div>
  <% end %>
</div>
