<% content_for :title, t('settings.title') %>
<% content_for :breadcrumb, t('settings.breadcrumb') %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header"><%= t('settings.header') %></h2>
  </div>
  <%= form_for @settings, url: admin_settings_update_path, html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @settings } %>
    </div>
    <div class="threecol">
      <h3><%= t('settings.store_detail.header') %></h3>
      <p><%= t('settings.store_detail.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label t('settings.store_detail.name_label') %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label t('settings.store_detail.email_label') %>
          <%= f.text_field :email, :class => 'form-control' %>
        </div>
        <%= f.fields_for :attachment do |ff| %>
          <div class="form-group">
            <%= ff.label t('settings.store_detail.logo_label') %>
            <div>
              <%= image_tag @settings.attachment.file.square, width: 75, height: 75 %>
            </div>
            <div>
              <%= ff.file_field :file %>
            </div>
          </div>
        <% end %>
        <div class="form-group form-last">
          <%= f.label t('settings.store_detail.theme_label') %>
          <%= f.select :theme_name, options_for_select(Store::ThemeTools.list.map { |theme| [theme.split('-').join(' ').titleize, theme] }, @settings.theme_name ), { include_blank: false }, { :class => 'form-control' } %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3><%= t('settings.language.header') %></h3>
      <p><%= t('settings.language.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group form-last">
          <%= f.label t('settings.language.language_label') %>
          <%= f.select :locale, options_for_select(Store.available_locales, @settings.locale ), { include_blank: false }, { :class => 'form-control' } %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3><%= t('settings.language.description') %></h3>
      <p><%= t('settings.language.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label 'Name' %>
          <%= f.text_field :tax_name, :class => 'form-control' %>
        </div>
        <div class="form-group form-last">
          <%= f.label 'Rate' %>
          <%= f.text_field :tax_rate, :class => 'form-control' %>
        </div>
      </fieldset>
    </div>
    <div class="threecol">
      <h3><%= t('settings.currency.header') %></h3>
      <p><%= t('settings.currency.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content">
        <div class="form-group">
          <%= f.label t('settings.currency.currency_label') %>
          <%= f.select :currency, options_for_select(Country.transactional.map { |country| ["#{country.alpha_three_code} / #{country.currency}", "#{country.alpha_three_code}|#{country.currency}"] }, @settings.currency ), { include_blank: false }, { :class => 'form-control' } %>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :tax_breakdown, true %>
            <%= t('settings.currency.price_exc_label') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :tax_breakdown, false %>
            <%= t('settings.currency.price_inc_label') %>
          </label>
        </div>
      </fieldset>
    </div>
    <%= mailchimp_store_setting_fields(f) if Modulatron4000.mailchimp? %>
    <%= stripe_store_setting_fields(f) if Modulatron4000.stripe? %>
    <div class="threecol">
      <h3><%= t('settings.google_analytics.header') %></h3>
      <p><%= t('settings.google_analytics.description') %></p>
    </div>
    <div class="ninecol last">
      <fieldset class="widget widget-content widget-last">
        <div class="form-group">
          <%= f.label t('settings.google_analytics.tracking_code_label') %>
          <%= f.text_field :ga_code, :class => 'form-control' %>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :ga_active, true %>
            <%= t('settings.google_analytics.enabled_label') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :ga_active, false %>
            <%= t('settings.google_analytics.disabled_label') %>
          </label>
        </div>
      </fieldset>
      <div class="form-action">
        <%= f.submit t('settings.submit_button'), :class => 'btn btn-blue btn-large' %>
      </div>
    </div>
  <% end %>
</div>
