.row-fluid
  .col-md-6
    = form_for [:admin, :shippings, @zone], :html => { :class => 'form-horizontal', :role => 'form' } do |f|
      %fieldset
        - if @zone.errors.any?
          #error_explanation
            %h2= "#{pluralize(@zone.errors.count, "error")} prohibited this zone from being saved:"
            %ul
              - @zone.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :name, :class => 'control-label col-md-3'
          .col-md-9
            = f.text_field :name, :class => 'form-control'
        .form-group
          %label.control-label.col-md-3 Countries
          .col-md-9
            - if Country.all.empty?
              %p No zones to select.
            - else
              - Country.all.each do |country|
                .checkbox
                  %label
                    = hidden_field_tag "zone[country_ids][]", ''
                    = check_box_tag "zone[country_ids][]", country.id, @zone.country_ids.include?(country.id), :class => 'ace-checkbox-2'
                    = country.name
        .form-group
          .col-md-offset-3.col-md-9
            = f.submit 'Submit', :class => 'btn btn-primary'
