<div class="ajax_fields" id="dimensions">
    <div class="control-group">
      <%= f.label :cost_value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cost_value, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :weight, 'Weight (kg)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :weight, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :length, 'Length (mm)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :length, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :thickness, 'Thickness (mm)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :thickness, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= link_to_remove_fields "Remove", f, "dimensions" %>
      </div>
    </div>
</div>