<div class="fields">
  <p>
    <%= f.label :weight, "Product weight" %>
    <%= f.text_field :weight %>
    <%= f.label :size, "Product size" %>
    <%= f.text_field :size %>
    <%= link_to_remove_fields "remove", f %><br />
  </p>
</div>