<div class="page-header">
  <h1>Listing products</h1>
  <%= link_to new_product_path, :class => "btn btn-success" do %>
    <i class="icon-plus"></i>Add product
  <% end %>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>SKU</th>
      <th colspan="2">Name</th>
      <th>Price (exc.VAT)</th>
      <th>Actions</th>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.sku %>
      </td>
      <td width="85">
        <%= link_to image_tag(product.image_url.medium, :height => "75", :width => "75"), product %>
      </td>
      <td>
        <%= link_to product.title, product %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td >
        <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-success" %><br/>
        <%= link_to 'Destroy', product, 
                    :confirm => 'Are you sure?',
                    :method => :delete, :class => "btn btn-danger" %>
      </td> 
    </tr>
  <% end %>
  </tbody>
</table>
