- content_for :title, @product.name
- content_for :breadcrumb, @product.name
- app_breadcrumb_add @product.category.name, category_path(@product.category)
- content_for :meta_description, @product.meta_description
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
/ ==========
/ = Main container =
/ ==========
.container
  .push-up.top-equal.blocks-spacer
    / ==========
    / = Product =
    / ==========
    .row.blocks-spacer
      / ==========
      / = Preview Images =
      / ==========
      .span5
        .product-preview
          .picture
            = image_tag @product.attachments.first.file.large, :id => "mainPreviewImg", :alt => @product.name, :width => 940, :height => 940
          .thumbs.clearfix
            - @product.attachments.each_with_index do |image, index|
              .thumb{:class => "#{ "active" if index == 0 }"}
                %a{href: "#mainPreviewImg"}
                  = image_tag image.file.large, :alt => image.description, :width => 940, :height => 940
      / ==========
      / = Title and short desc =
      / ==========
      .span7
        .product-title
          %h1.name
            %span.light= @product.name
          .meta
            %span.tag.price= format_currency @product.skus.sort.reverse.first.price
            %span.stock
              - if @stock > 0
                %span.btn.btn-success In Stock
              - else 
                %span.btn.btn-danger Out of Stock
        .product-description
          %p= @product.description
          %hr/
          / ==========
          / = Add to cart form =
          / ==========
          = form_for @cart_item, :html => { :method => :post, :remote => true, :class => 'form form-inline clearfix product_sku_form' } do |f|
            .numbered
              = f.text_field :quantity, :value => 1, :class => 'tiny-size'
              %span.clickable.add-one.icon-plus-sign-alt
              %span.clickable.remove-one.icon-minus-sign-alt
            \ 
            = f.select :sku_id, options_for_select(@product.skus.sort.reverse.map { |sku| [sku_attribute_values(sku), sku.id ] } )
            - if @stock > 0
              = button_tag(:type => 'submit', :class => 'btn btn-danger pull-right add_to_cart') do
                %i.icon-shopping-cart
                \  Add To Cart
            - else
              %a.btn.btn-warning.pull-right.notify_me{href: "#"}
                %i.icon-envelope
                Notify me
          %hr/
          / ==========.order('attribute_value desc')
          / = Share buttons =
          / ==========
          .share-item.push-down-20
            .row-fluid
              .span6
                Share this item with friends:
              .span6
                .social-networks
                  / AddThis Button BEGIN
                  .addthis_toolbox.addthis_default_style
                    %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
                    %a.addthis_button_tweet
                    %a.addthis_button_pinterest_pinit
                    %a.addthis_counter.addthis_pill_style
                  %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-517459541beb3977", type: "text/javascript"}
                  / AddThis Button END
          / More Buttons
          .store-buttons
            %i.icon-envelope-alt
            %a{href: "#"} Email to a friend
            \
    / ==========
    / = Tabs with more info =
    / ==========
    .row
      .span12
        %ul#myTab.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#tab-1"} Details
          %li
            %a{"data-toggle" => "tab", href: "#tab-2"} SIZING CHART
          %li
            %a{"data-toggle" => "tab", href: "#tab-3"} COMMENTS
          %li
            %a{"data-toggle" => "tab", href: "#tab-4"} SHIPPING DETAILS
        .tab-content
          #tab-1.fade.in.tab-pane.active
            %h3 Product Description
            %p= @product.description
          #tab-2.fade.tab-pane
            %p
              Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
          #tab-3.fade.tab-pane
            %p
              Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
          #tab-4.fade.tab-pane
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            %p
              %img.img-polaroid{alt: "", src: "http://www.tfingi.com/repo/royal-mail.png"}/
              %img.img-polaroid{alt: "", src: "http://www.tfingi.com/repo/ups-logo.png"}/
            %p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %h6
              %em.icon-gift
              Giftwrap?
            %p
              Let us take care of giftwrapping your presents by selecting
              %strong Giftwrap
              in the order process. Eligible items can be giftwrapped for as little as £0.99, and larger items may be presented in gift bags.
/ /container
- if @product.category.products.count > 1
  / ==========
  / = Related Products =
  / ==========
  .boxed-area.no-bottom
    .container
      / ==========
      / = Title =
      / ==========
      .row
        .span12
          .main-titles.lined
            %h2.title
              %span.light Related
              Products
      / ==========
      / = Related products =
      / ==========
      .row.popup-products
        - @product.category.products.first(4).each do |product|
          - if product == @product
            - next
          / ==========
          / = Products =
          / ==========
          .span3
            .product
              .product-inner
                .product-img
                  .picture
                    = link_to (image_tag product.attachments.first.file, :alt => product.name, :height => 374, :width => 540), [product.category, product]
                .main-titles.no-margin
                  %h4.title
                    %span= format_currency product.skus.first.price
                  %h5.no-margin= truncate product.name, :length => 35
                %p.desc= truncate product.description, :length => 100
          / /product
#notify_me_form
  - unless @stock > 0
    = render :partial => 'products/notify_me', :locals => { :sku => @sku, :notification => @notification }
#insufficientStockNotice