<div class="row">
  <div class="col-lg-6">
    <%= image_tag @product.image_url %>
  </div>
  <div class="col-lg-6">
    <h1><%= @product.name %></h1>
    <h3>£<%= @product.price %></h3>
    <p>SKU: <%= @product.sku %></p>
    <p>
      <% if @product.stock > 0 %>
        <p><i class="icon-ok"></i>
        <%= @product.stock %> left in stock</p>
        <% @line_item = LineItem.new %>
        <%= form_for @line_item, :url => line_items_path(:product_id => @product.id) , :html => { :method => :post, :remote => true} do |f| %>
          <div class="control-group">
            Select dimension:
            <div class="controls">
            <%= f.select :dimension_id, options_for_select(@product.dimensions.map { |dimension| ["Length: #{dimension.length}mm, Thickness: #{dimension.thickness}mm, Weight: #{dimension.weight}kg", dimension.id ] }) %>
            </div>
          </div>
          <%= f.submit "Add to basket", :class => 'btn btn-success' %> 
        <% end %>
      <% else %>
        <p><i class="icon-remove"></i>
        0 left in stock</p>
        <div class="btn btn-warning btn-small">Notify me</div>
      <% end %>
    </p>      
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#dimensions" data-toggle="tab">Dimensions</a></li>
      <li><a href="#accessories" data-toggle="tab">Accessories</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="description">
        <%= @product.description %>
      </div>
      <div class="tab-pane" id="dimensions">
      </div>
      <div class="tab-pane" id="accessories">
        <ul>
        <% @product.accessories.each do |option| %>
          <li>Name: <%= option.name %>, Price: <%= option.price %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
