- content_for :title, 'Contact Us'
- content_for :breadcrumb, 'Contact Us'
/ ==========
/ = Breadcrumbs =
/ ==========
.darker-stripe
  .container
    .row
      .span12
        %ul.breadcrumb
          %li
            %a{href: "index.html"} Webmarket
          %li
            %span.fa.fa-chevron-right
          %li
            %a{href: "contact.html"} Contact Us
.container
  .push-up.top-equal.blocks-spacer-last
    .row
      / ==========
      / = Main Title =
      / ==========
      .span12
        .title-area
          %h1.inline
            %span.light Contact
            Us
      / ==========
      / = Main content =
      / ==========
      %section.span8.single.single-page
        / ==========
        / = Post =
        / ==========
        %article.post
          .post-inner
            %p
              The simple contact form below comes packed within this theme. To use the inbuilt form, simply create a page and use the page template “Contact”. The form will automatically insert below any page content. The form includes jQuery validation to enhance user experience and the recipient email can be configured from the theme options.
        %hr/
        / ==========
        / = Contact Form =
        / ==========
        %section.contact-form-container
          %h3.push-down-25
            %span.light Send
            a Message
          = form_for @contact, html: { :class => 'form form-inline form-contact remote-form', id: 'commentform', method: :post, remote: true } do |f|
            %p.push-down-20
              = f.text_field :name, tabindex: 1
              %label
                Name
                %span.red-clr.bold *
            %p.push-down-20
              = f.text_field :email, tabindex: 2
              %label
                Email
                %span.red-clr.bold *
            %p.push-down-20
              = f.text_field :website, taxindex: 3
              %label
                Website
                %span.red-clr.bold
            %p.push-down-20
              = f.text_area :message, cols: 70, placeholder: 'Your message goes here...', rows: 7, taxindex: 4, :class => 'input-block-level'
            %p
              = f.submit 'Send email', tabindex: 5, :class => 'btn btn-primary bold'
        %hr/
        / ==========
        / = Company Info with Google Maps =
        / ==========
        %article.company-info
          .row
            .span3
              %h3.push-down-30
                %span.light Company
                Info
              %p
                %strong.opensans.dark-clr IMAGINARY COMPANY LTD.
                %br/
                Wall street 17,
                %br/
                1000 New York,
                %br/
                United States
              %p
                %strong.opensans.dark-clr Phone number:
                00386 31 567 537
                %br/
                %strong.opensans.dark-clr Fax:
                00386 31 567 538
                %br/
                %strong.opensans.dark-clr Email:
                %a{href: "#"} info@webmarket.com
            .span5
              .add-googlemap{"data-addr" => "Prešernov Trg, Ljubljana", "data-height" => "205", "data-title" => "Webmarket Business", "data-type" => "roadmap", "data-zoom" => "14"}
      / /main content
      / ==========
      / = Sidebar =
      / ==========
      %aside.span4
        / ==========
        / = Opening Times Widget =
        / ==========
        #opening_time-4.sidebar-item.opening-time
          .underlined
            %h3
              %span.light Opening
              Time
          .time-table
            %dl.week-day
              %dt
                Monday
              %dd
                8:00 - 16:00
            %dl.week-day.light-bg
              %dt
                Tuesday
              %dd
                8:00 - 16:00
            %dl.week-day
              %dt
                Wednesday
              %dd
                8:00 - 16:00
            %dl.week-day.light-bg.today
              %dt
                Thursday
              %dd
                10:00 - 15:00
            %dl.week-day
              %dt
                Friday
              %dd
                8:00 - 16:00
            %dl.week-day.light-bg
              %dt
                Saturday
              %dd
                8:00 - 16:00
            %dl.week-day.closed
              %dt
                Sunday
              %dd
                CLOSED
      / /sidebar
/ /container
