<% content_for :page_title, 'Store index' %>
<div class="col-12">
  <div id="carousel-example-generic" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag '/images/Carousel/1.png', :alt => "first slide" %>
      </div>
      <div class="item">
        <%= image_tag '/images/Carousel/2.png', :alt => "second slide" %>
      </div>
      <div class="item">
        <%= image_tag '/images/Carousel/3.png', :alt => "third slide" %>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
  <% @products.each_slice(3) do |slice| %>
    <div class="row store_products">
      <% slice.each do |product| %>
        <div class="col-4 vertical_product">
          <%= link_to image_tag(product.image_url.large), line_items_path(:product_id => product.id), :method => :post, :remote => true %><!-- #same button as below, however since this uses a link_to helper, we need to specify the HTTP request to POST -->
          <h3><%= product.name %></h3>
          <div class="price"><%= number_to_currency(product.price, :precision => 2) %></div>
          <%= link_to 'Add to Cart', line_items_path(:product_id => product.id), :remote => true, :class => "btn btn-success btn-small", :method => "post" %> <!-- #creates a button which uses the line_items controller and posts a new line item with the product id supplied. Button_to helper automatically use the POST http request -->
          <%= link_to 'Find out more', product, :class => "btn btn-info btn-small" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>