<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - Gimson Robotics Administration </title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag :administration %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/stylesheets/font.css" media="screen" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!--inline styles related to this page-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body class="skin-1 navbar-fixed breadcrumbs-fixed">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">
            <small>
              <i class="icon-cog"></i>
              Gimson Robotics
            </small>
          </a><!--/.brand-->

          <ul class="nav ace-nav pull-right">

            <li class="blue">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
              </a>

              <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                <li class="nav-header">
                  <i class="icon-warning-sign"></i>
                  8 Notifications
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                        New Comments
                      </span>
                      <span class="pull-right badge badge-info">+12</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    See all notifications
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </li>

            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <span class="user-info">
                  <small>Welcome,</small>
                  Admin
                </span>
                <i class="icon-caret-down"></i>
              </a>
              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="icon-off"></i>
                    Logout
                  <% end %>
                </li>
              </ul>
            </li>
          </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
      </div><!--/.navbar-inner-->
    </div>

    <div class="main-container container-fluid">
      <a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
      </a>

      <div class="sidebar fixed" id="sidebar">
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
          <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <%= link_to new_admin_category_path, :class => "btn btn-small btn-success" do %>
              <i class="icon-beaker"></i>
            <% end %>

            <%= link_to new_admin_product_path, :class => "btn btn-small btn-info" do %>
              <i class="icon-th"></i>
            <% end %>

            <%= link_to new_admin_accessory_path, :class => "btn btn-small btn-warning" do %>
              <i class="icon-cog"></i>
            <% end %>

            <%= link_to new_admin_invoice_path, :class => "btn btn-small btn-danger" do %>
              <i class="icon-file-text"></i>
            <% end %>
          </div>

          <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
          </div>
        </div><!--#sidebar-shortcuts-->

        <ul class="nav nav-list">
          <li class="<%= active_controller?('admin/admin') %>">
            <a href="/admin">
              <i class="icon-dashboard"></i>
              <span class="menu-text"> Dashboard </span>
            </a>
          </li>

          <li class="<%= active_controller?('admin/categories') %>">
            <%= link_to admin_categories_path do %>
              <i class="icon-beaker"></i>
              <span class="menu-text"> Categories </span>
            <% end %>
          </li>

          <li class="<%= active_controller?('admin/products') %>">
            <%= link_to admin_products_path do %>
              <i class="icon-th"></i>
              <span class="menu-text">Products</span>
            <% end %>
          </li>
          <li class="<%= active_controller?('admin/accessories') %>">
            <%= link_to admin_accessories_path do %>
              <i class="icon-cog"></i>
              <span class="menu-text">Accessories</span>
            <% end %>
          </li>
          <li class="<%= active_controller?('admin/orders') %>">
            <%= link_to admin_orders_path do %>
              <i class="icon-shopping-cart"></i>
              <span class="menu-text"> Orders </span>
            <% end %>
          </li>
          <li class="<%= active_controller?('admin/invoices') %>">
            <%= link_to admin_invoices_path do %>
              <i class="icon-file-text"></i>
              <span class="menu-text"> Invoices </span>
            <% end %>
          </li>
          <li class="<%= active_controller?('admin/tiers') %> <%= active_controller?('admin/shippings') %> <%= active_controller?('admin/countries') %>">
            <a href="#" class="dropdown-toggle">
              <i class="icon-truck"></i>
              <span class="menu-text"> Shipping </span>
              <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
              <li class="<%= active_controller?('admin/tiers') %>">
                <%= link_to admin_tiers_path do %>
                  <i class="icon-double-angle-right"></i>
                  Tiers
                <% end %>
              </li>
              <li class="<%= active_controller?('admin/shippings') %>">
                <%= link_to admin_shippings_path do %>
                  <i class="icon-double-angle-right"></i>
                  Methods
                <% end %>
              </li>
              <li class="<%= active_controller?('admin/countries') %>">
                <%= link_to admin_countries_path do %>
                  <i class="icon-double-angle-right"></i>
                  Countries
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-bar-chart"></i>
              <span class="menu-text"> Reports </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-male"></i>
              <span class="menu-text"> Users </span>
            </a>
          </li>
          <li class="<%= active_controller?('admin/pay_types') %>">
            <a href="#" class="dropdown-toggle">
              <i class="icon-wrench"></i>
              <span class="menu-text"> Configuration </span>
              <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
            <li class="<%= active_controller?('admin/pay_types') %>">
                <%= link_to admin_pay_types_path do %>
                  <i class="icon-double-angle-right"></i>
                  Payment methods
                <% end %>
              </li>
            </ul>
          </li>
        </ul><!--/.nav-list-->

        <div class="sidebar-collapse" id="sidebar-collapse">
          <i class="icon-double-angle-left"></i>
        </div>
      </div>

      <div class="main-content">
        <%= render_breadcrumbs %>

        <div class="page-content">
          <% if flash[:notice] or flash[:error] or flash[:success] %>
              <div class="alert 
                <% if flash[:success] then %>alert-success
                <% end %>
                <% if flash[:notice] then %>alert-info
                <% end %>
                <% if flash[:error] then %>alert-error
                <% end %>">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <% if flash[:error] and !flash[:notice] %>
                    <%= raw flash[:error] %>
                <% end %>
                <%= raw flash[:notice] %>
                <%= raw flash[:success] %>
              </div>
          <% end %>
          <%= yield %>
        </div><!--/.page-content-->
      </div><!--/.main-content-->
    </div><!--/.main-container-->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag :administration %>
    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='/javascript/admin/jquery.mobile.custom.min.js' >"+"<"+"/script>");
    </script>
  </body>
</html>
