<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - Gimson Robotics Administration </title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "admin" %>
    <%= stylesheet_link_tag "/css/admin/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "/css/admin/bootstrap-responsive.min.css", :media => "all" %>
    <%= stylesheet_link_tag "/css/font-awesome.min.css", :media => "all" %>
    <%= stylesheet_link_tag "/css/admin/ace.min.css", :media => "all" %>
    <%= stylesheet_link_tag "/css/admin/ace-skins.min.css", :media => "all" %>
    <%= stylesheet_link_tag "/css/admin/ace-responsive.min.css", :media => "all" %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!--inline styles related to this page-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

  <body class="skin-1 navbar-fixed breadcrumbs-fixed">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">
            <small>
              <i class="icon-cog"></i>
              Gimson Robotics
            </small>
          </a><!--/.brand-->

          <ul class="nav ace-nav pull-right">

            <li class="blue">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
              </a>

              <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                <li class="nav-header">
                  <i class="icon-warning-sign"></i>
                  8 Notifications
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                        New Comments
                      </span>
                      <span class="pull-right badge badge-info">+12</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    See all notifications
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </li>

            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <%= image_tag '/images/admin/avatar.png', :class => 'nav-user-photo' %>
                <span class="user-info">
                  <small>Welcome,</small>
                  Admin
                </span>
                <i class="icon-caret-down"></i>
              </a>
              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="icon-off"></i>
                    Logout
                  <% end %>
                </li>
              </ul>
            </li>
          </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
      </div><!--/.navbar-inner-->
    </div>

    <div class="main-container container-fluid">
      <a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
      </a>

      <div class="sidebar fixed" id="sidebar">
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
          <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <%= link_to new_category_path, :class => "btn btn-small btn-success" do %>
              <i class="icon-beaker"></i>
            <% end %>

            <%= link_to new_product_path, :class => "btn btn-small btn-info" do %>
              <i class="icon-th"></i>
            <% end %>

            <%= link_to new_accessory_path, :class => "btn btn-small btn-warning" do %>
              <i class="icon-cog"></i>
            <% end %>

            <%= link_to new_invoice_path, :class => "btn btn-small btn-danger" do %>
              <i class="icon-file-text"></i>
            <% end %>
          </div>

          <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
          </div>
        </div><!--#sidebar-shortcuts-->

        <ul class="nav nav-list">
          <li class="<%= active_page?('admin') %>">
            <a href="/admin">
              <i class="icon-dashboard"></i>
              <span class="menu-text"> Dashboard </span>
            </a>
          </li>

          <li class="<%= active_page?('categories') %>">
            <%= link_to categories_path do %>
              <i class="icon-beaker"></i>
              <span class="menu-text"> Categories </span>
            <% end %>
          </li>

          <li class="<%= active_page?('products') %>">
            <%= link_to products_path do %>
              <i class="icon-th"></i>
              <span class="menu-text">Products</span>
            <% end %>
          </li>
          <li class="<%= active_page?('accessories') %>">
            <%= link_to accessories_path do %>
              <i class="icon-cog"></i>
              <span class="menu-text">Accessories</span>
            <% end %>
          </li>
          <li class="<%= active_page?('orders') %>">
            <%= link_to orders_path do %>
              <i class="icon-shopping-cart"></i>
              <span class="menu-text"> Orders </span>
            <% end %>
          </li>
          <li class="<%= active_page?('invoices') %>">
            <%= link_to invoices_path do %>
              <i class="icon-file-text"></i>
              <span class="menu-text"> Invoices </span>
            <% end %>
          </li>
          <li class="<%= active_page?('orders') %>">
            <a href="#" class="dropdown-toggle">
              <i class="icon-truck"></i>
              <span class="menu-text"> Shipping </span>
              <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
              <li>
                <a href="form-elements.html">
                  <i class="icon-double-angle-right"></i>
                  Dimension Tiers
                </a>
              </li>

              <li>
                <a href="form-wizard.html">
                  <i class="icon-double-angle-right"></i>
                  Shipping Options
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-bar-chart"></i>
              <span class="menu-text"> Reports </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-male"></i>
              <span class="menu-text"> Users </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-wrench"></i>
              <span class="menu-text"> Configuration </span>
            </a>
          </li>
        </ul><!--/.nav-list-->

        <div class="sidebar-collapse" id="sidebar-collapse">
          <i class="icon-double-angle-left"></i>
        </div>
      </div>

      <div class="main-content">
        <%= render_breadcrumbs %>

        <div class="page-content">
          <%= yield %>
        </div><!--/.page-content-->
      </div><!--/.main-content-->
    </div><!--/.main-container-->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag :admin %>
    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='/javascript/admin/jquery.mobile.custom.min.js' >"+"<"+"/script>");
    </script>
    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "/javascript/admin/jquery-ui-1.10.3.custom.min.js", "/javascript/admin/jquery.ui.touch-punch.min.js", "/javascript/admin/jquery.slimscroll.min.js", "/javascript/admin/bootstrap.min.js", "/javascript/admin/ace-elements.min.js", "/javascript/admin/ace.min.js", '/javascript/admin/bootstrap-tag.min.js'  %>
  </body>
</html>
