!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title
      = yield :title
      = "- #{Store::settings.name} Administration"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    = csrf_meta_tag
    = stylesheet_link_tag :administration, "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:400,500,700,300", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/font.css", media: "screen", rel: "stylesheet"}/
    = javascript_include_tag "modernizr/modernizr"
    = javascript_include_tag :administration, "data-turbolinks-track" => true
  %body
    .all-wrapper
      #mp-pusher.mp-pusher
        = render 'shared/mobile_menu/admin'
        .scroller
          .scroller-inner
            = render 'shared/header/admin'
            #sidebar.desktop
              = render 'shared/desktop_menu/admin'
            .main
              .loading5
                %i
                %i
                %i
                %i
              .loading-overlay
              .container
                .row
                  = render_flash
                  = render_breadcrumbs 0
                  = yield

    = yield :footer
