!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title
      = yield :title
      = "- #{Store::settings.name} Administration"
    %meta{content: "overview & stats", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag :administration
    = csrf_meta_tag
    %link{href: "http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300|Roboto:100,300,400,700|Roboto+Condensed:300,400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/font.css", media: "screen", rel: "stylesheet"}/
    / inline styles related to this page
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
  %body.glossed
    %div{:class => "all-wrapper fixed-header left-menu #{yield :hide_sub_navigation}"}
      .page-header
        .header-links.hidden-xs
          .top-search-w.dropdown
            %input.top-search{placeholder: "Search", type: "text"}/
          .dropdown
            %a.header-link.clearfix{href: "#"}
              .avatar
                = image_tag 'avatar-small.jpg'
              .user-name-w
                Administrator
          .dropdown.hidden-sm.hidden-xs
            = link_to destroy_user_session_path, :method => :delete, :class => 'header-link' do
              %i.icon-power-off
              Logout
        = link_to admin_root_path, :class => 'current logo hidden-xs' do
          %i.icon-cog
        %a.menu-toggler{href: "#"}
          %i.icon-reorder
        %h1= yield :header
      .side
        .sidebar-wrapper
          %ul
            %li{:class => active_controller?('admin/admin')}
              = link_to admin_root_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Dashboard', :class => active_controller?('admin/admin') do
                %i.icon-home
            %li{:class => active_controller?('admin/categories') }
              = link_to admin_categories_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Categories', :class => active_controller?('admin/categories') do
                %i.icon-beaker
            %li{:class => "#{active_controller?('admin/products')} #{active_controller?('admin/products/skus/attribute_types')} #{active_controller?('admin/products/skus')}"}
              = link_to admin_products_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Products', :class => "#{active_controller?('admin/Products')} #{active_controller?('admin/products/skus/attribute_types')} #{active_controller?('admin/products/skus')}" do
                %i.icon-th
            %li{:class => active_controller?('admin/accessories')}
              = link_to admin_accessories_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Accessories', :class => active_controller?('admin/accessories') do
                %i.icon-code-fork
            %li{:class => "#{active_controller?('admin/orders')} #{active_controller?('admin/transactions')}"}
              = link_to admin_orders_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Orders', :class => "#{active_controller?('admin/orders')} #{active_controller?('admin/transactions')}" do
                %i.icon-shopping-cart
            %li{:class => "#{active_controller?('admin/shippings/tiers')} #{active_controller?('admin/shippings')}"}
              = link_to admin_shippings_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Shipping', :class => "#{active_controller?('admin/shippings/tiers')} #{active_controller?('admin/shippings')} #{active_controller?('admin/shippings/countries')}" do
                %i.icon-truck
            %li{:class => "#{active_controller?('admin/countries')} #{active_controller?('admin/countries/tax_rates')} #{active_controller?('admin/countries/zones')}" }
              = link_to admin_countries_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Countries', :class => active_controller?('admin/countries') do
                %i.icon-globe
            %li{:class => active_controller?('admin/settings') }
              = link_to admin_settings_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Settings', :class => active_controller?('admin/settings') do
                %i.icon-cog
        .sub-sidebar-wrapper
          %ul.nav= yield :subnav

      .main-content
        = render_breadcrumbs 0
        - if flash[:notice] or flash[:error] or flash[:success]
          %div.alert{:class => (if flash[:success] then "alert-success" elsif flash[:notice] then "alert-info" elsif flash[:error] then "alert-danger" end) }
            %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true' } x
            = raw flash[:error]
            = raw flash[:notice]
            = raw flash[:success]

        .page-content
          = yield

    = javascript_include_tag :administration

