<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= csrf_meta_tag %>
</head>
<body id="store" > <div id="banner">
    <%= image_tag('/images/logo.png') %>
    <%= yield :page_title || 'Pragmatic Bookshelf' %>
</div>
<div id="columns">
	<div id="side">
		<% if @cart %>
     <div id="cart">
        <% unless @cart.line_items.empty? %>
        <%= render @cart %>
        <% end %>
    </div>
    <% end %>
    <a href="/">Home</a><br>
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%- link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <%= Time.now.strftime('%H:%M:%S') %>
</div>
</div>
<div id="main">
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
