!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 
      Gimson Robotics - 
      = yield :page_title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag :application, :media => "all"
    %link{href: "http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light", rel: "stylesheet", type: "text/css"}/
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    / Header
    .header
      / Top bar
      .top
        .container
          .row
            .span6
            .span6.hidden-phone
              %ul.inline.pull-right
                %li
                  = link_to "Administration", root_path
                %li
                  - if user_signed_in?
                    = link_to "Log out", destroy_user_session_path, :method => :delete
                  - else
                    = link_to "Log in", new_user_session_path
      / End class="top"
      / Logo & Search bar
      .bottom
        .container
          .row
            .span8
              .logo
                %a{href: "/", title: "← Back home"}
                  %h4 Gimson Robotics
            .span4
              .row-fluid
                .span10
                  / Search
                  .search
                    .qs_s
                      %form{action: "search.html", method: "post"}
                      %input#query{autocomplete: "off", name: "query", placeholder: "Search…", type: "text", value: ""}/
                  / End class="search"
                .span2
                  / Mini cart
                  .mini-cart
                    = link_to new_order_path, :method => :get do
                      - if @cart
                        - if @cart.line_items.count > 0
                          %span
                            = @cart.line_items.sum('quantity')
                  / End class="mini-cart"
      / End class="bottom"
    / End class="header"
    / Navigation
    %nav.navigation
      .container
        .row
          .span9
            .hidden-phone
              / Main menu (desktop)
              %ul.main-menu
                %li
                  %a.title{href: store_path, title: "Home"} Home
                - @categories.each do |category|
                  %li= link_to category.name, category
                %li
                  %a.title{href: about_path, title: "About us"} About us
                %li
                  %a.title{href: contact_path, title: "Contact us"} Contact us
              / End class="main-menu"
            .visible-phone
              / Main menu (mobile)
              %select.mobile-nav
                %option{selected: "selected", value: ""}Go to…
                %option{value: store_path} Home
                %option{value: about_path} About
                %option{value: contact_path} Contact
          .span3.visible-desktop
    / End class="navigation"
    %section.main
      = yield
    / Twitter bar
    .twitter-bar
      .container
        .row
          .span12
            .icon
              %i.icon-twitter
            #tweets{"data-username" => "lemonstand"}
    / End class="twitter-bar"
    / Footer
    .footer
      .container
        .row
          .span2
            / Support
            .support
              %h6 Support
              %ul.links
                %li
                  %a.title{href: about_path, title: "About us"} About us
                %li
                  %a.title{href: contact_path, title: "Contact us"} Contact us
            / End class="support"
            %hr/
            / My account
            .account
              %h6 My account
              %ul.links
                %li
                  - if user_signed_in?
                    = link_to "Log out", destroy_user_session_path, :method => :delete
                  - else
                    = link_to "Log in", new_user_session_path
            / End class="account"
          .span2
            / Categories
            .categories
              %h6 Categories
              %ul.links
                - @categories.each do |category|
                  %li
                    = link_to category.name, category
            / End class="categories"
            %hr/
            / Pay with confidence
            .confidence
              %h6 Pay with confidence
              = image_tag "stripe.png", :title => "We accept all major credit cards", :alt => "We accept all major credit cards"
            / End class="confidence"
          .span4
            %h6 From the blog
            %ul.list-chevron.links
              %li
                %a{href: "blog-post.html"} Article with video
                %small 05/01/2013
              %li
                %a{href: "blog-post.html"} Article with images
                %small 03/14/2013
              %li
                %a{href: "blog-post.html"} Article with style!
                %small 08/31/2013
          .span4
            / Newsletter subscription
            .newsletter
              %h6 Newsletter subscription
              %form{action: "/", enctype: "multipart/form-data", method: "post", onsubmit: "$('#newsletter_subscribe').modal('show'); return false;"}
              .input-append
                %input.span3{name: "email", type: "text"}/
                %button.btn{type: "submit"} Go!
              %p Sign up to receive our latest news and updates direct to your inbox
            / End class="newsletter"
            %hr/
            / Social icons
            .social
              %h6 Socialize with us
              %ul.social-icons
                %li
                  %a.twitter{href: "#", title: "Twitter"} Twitter
            / End class="social"
    / End id="footer"
    / /container
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false", type: "text/javascript"}
    = javascript_include_tag :application    
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));