<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= csrf_meta_tag %>
</head>
<body id="store" > <div id="banner">
    <%= image_tag('/images/logo.png') %>
    <%= yield :page_title || 'Pragmatic Bookshelf' %>
</div>
<div id="columns">
	<div id="side">
		<% if @cart %>
     <div id="cart">
        <% unless @cart.line_items.empty? %>
        <%= render @cart %>
        <% end %>
    </div>
    <% end %>
    <a href="/">Home</a><br>
    <a href="http://www..../faq">Questions</a><br /> 
    <a href="http://www..../news">News</a><br />
    <a href="http://www..../contact">Contact</a><br />
    <%= Time.now.strftime('%H:%M:%S') %>
</div>
</div>
<div id="main">
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
